<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>&#8235;תגובות לפוסט: &#34;שירים שהיינו משדרים אם הייתה תוכנית הלילה, 19.2.12&#34;&#8236;</title>
	<atom:link href="https://old.kzradio.net/posts/8784/feed" rel="self" type="application/rss+xml" />
	<link>https://old.kzradio.net/posts/8784</link>
	<description>&#8235;הקצפת של המוזיקה &#124;&#124; א\&#039; ו-ג\&#039;, 22:00, גלגל\&#34;צ &#124;&#124; Sun, Tue 22:00 GLGLZ&#8236;</description> 	<lastBuildDate>Wed, 21 Mar 2012 11:13:18 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.3.1</generator>
	<item>
		<title>&#8235;מאת: ענבר&#8236;</title>
		<link>https://old.kzradio.net/posts/8784#comment-16125</link>
		<dc:creator>&#8235;ענבר&#8236;</dc:creator>		<pubDate>Mon, 20 Feb 2012 11:33:58 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8784#comment-16125</guid>
		<description>&#8235;ברררררר&#8236;</description> 		<content:encoded><![CDATA[<p>ברררררר</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: גדי&#8236;</title>
		<link>https://old.kzradio.net/posts/8784#comment-16120</link>
		<dc:creator>&#8235;גדי&#8236;</dc:creator>		<pubDate>Sun, 19 Feb 2012 23:53:42 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8784#comment-16120</guid>
		<description>&#8235;פאק... &quot;קילר מייק&quot; פשוט הפציץ!!!
מחכה לאלבום החדש!&#8236;</description> 		<content:encoded><![CDATA[<p>פאק&#8230; &quot;קילר מייק&quot; פשוט הפציץ!!!<br />
מחכה לאלבום החדש!</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: רועי&#8236;</title>
		<link>https://old.kzradio.net/posts/8784#comment-16118</link>
		<dc:creator>&#8235;רועי&#8236;</dc:creator>		<pubDate>Sun, 19 Feb 2012 21:26:32 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8784#comment-16118</guid>
		<description>&#8235;משוגע מדהים... אהבתי הכל!
 תודה!&#8236;</description> 		<content:encoded><![CDATA[<p>משוגע מדהים&#8230; אהבתי הכל!<br />
 תודה!</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: תמר&#8236;</title>
		<link>https://old.kzradio.net/posts/8784#comment-16117</link>
		<dc:creator>&#8235;תמר&#8236;</dc:creator>		<pubDate>Sun, 19 Feb 2012 20:09:41 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8784#comment-16117</guid>
		<description>&#8235;תודה רבה, מלאתם לי שבוע של התעסקות מוזיקלית...:)&#8236;</description> 		<content:encoded><![CDATA[<p>תודה רבה, מלאתם לי שבוע של התעסקות מוזיקלית&#8230;:)</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: עידו שחם&#8236;</title>
		<link>https://old.kzradio.net/posts/8784#comment-16116</link>
		<dc:creator>&#8235;עידו שחם&#8236;</dc:creator>		<pubDate>Sun, 19 Feb 2012 17:55:35 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8784#comment-16116</guid>
		<description>&#8235;ATDI התאחדו!? עשיתם לי את הפאקינג יום! זה צריך להיות בחדשות קול ישראל. מקווה שהם יצליחו לשחזר את גאונות העבר.&#8236;</description> 		<content:encoded><![CDATA[<p>ATDI התאחדו!? עשיתם לי את הפאקינג יום! זה צריך להיות בחדשות קול ישראל. מקווה שהם יצליחו לשחזר את גאונות העבר.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: איציק&#8236;</title>
		<link>https://old.kzradio.net/posts/8784#comment-16115</link>
		<dc:creator>&#8235;איציק&#8236;</dc:creator>		<pubDate>Sun, 19 Feb 2012 17:54:56 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8784#comment-16115</guid>
		<description>&#8235;Whomadewho מעולה.&#8236;</description> 		<content:encoded><![CDATA[<p>Whomadewho מעולה.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: ליבי רן&#8236;</title>
		<link>https://old.kzradio.net/posts/8784#comment-16114</link>
		<dc:creator>&#8235;ליבי רן&#8236;</dc:creator>		<pubDate>Sun, 19 Feb 2012 17:29:57 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8784#comment-16114</guid>
		<description>&#8235;וגם אני רוצה כובע-מצנפת עם אוזניים, כמו בקליפ של Young Magic!&#8236;</description> 		<content:encoded><![CDATA[<p>וגם אני רוצה כובע-מצנפת עם אוזניים, כמו בקליפ של Young Magic!</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: ליבי רן&#8236;</title>
		<link>https://old.kzradio.net/posts/8784#comment-16113</link>
		<dc:creator>&#8235;ליבי רן&#8236;</dc:creator>		<pubDate>Sun, 19 Feb 2012 17:27:26 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8784#comment-16113</guid>
		<description>&#8235;אני אוהבת את העריכה. היא נשמעת כמו השעה השנייה בשידור. מתאים לי בול למזג האוויר ולמזג המצברוח. :)&#8236;</description> 		<content:encoded><![CDATA[<p>אני אוהבת את העריכה. היא נשמעת כמו השעה השנייה בשידור. מתאים לי בול למזג האוויר ולמזג המצברוח. <img src='https://old.kzradio.net/wp-includes/images/smilies/icon_smile.gif' alt=':)' class='wp-smiley' /> </p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: Quami&#8236;</title>
		<link>https://old.kzradio.net/posts/8784#comment-16112</link>
		<dc:creator>&#8235;Quami&#8236;</dc:creator>		<pubDate>Sun, 19 Feb 2012 16:14:28 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8784#comment-16112</guid>
		<description>&#8235;כל כך צודק טמיר, התבלבלנו. תוקן&#8236;</description> 		<content:encoded><![CDATA[<p>כל כך צודק טמיר, התבלבלנו. תוקן</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: טמיר&#8236;</title>
		<link>https://old.kzradio.net/posts/8784#comment-16111</link>
		<dc:creator>&#8235;טמיר&#8236;</dc:creator>		<pubDate>Sun, 19 Feb 2012 15:30:26 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8784#comment-16111</guid>
		<description>&#8235;מעולה, רק תיקון קטן,
סדריק הוא הזמר, עומר רודריגז לופז הוא הגיטריסט&#8236;</description> 		<content:encoded><![CDATA[<p>מעולה, רק תיקון קטן,<br />
סדריק הוא הזמר, עומר רודריגז לופז הוא הגיטריסט</p>
]]></content:encoded>
	</item>
</channel>
</rss>
