<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>&#8235;ה ק צ ה &#124;&#124; K Z  R a d i o &#187; אירועים&#8236;</title>	<atom:link href="https://old.kzradio.net/category/%d7%90%d7%99%d7%a8%d7%95%d7%a2%d7%99%d7%9d/feed" rel="self" type="application/rss+xml" />
	<link>https://old.kzradio.net</link>
	<description>&#8235;הקצפת של המוזיקה &#124;&#124; א\&#039; ו-ג\&#039;, 22:00, גלגל\&#34;צ &#124;&#124; Sun, Tue 22:00 GLGLZ&#8236;</description>	<lastBuildDate>Sun, 18 Mar 2012 07:19:59 +0000</lastBuildDate>
	<language>#</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.3.1</generator>
		<item>
		<title>&#8235;מה עושה את ארול כזה אחלן ?&#8236;</title>		<link>https://old.kzradio.net/posts/8856</link>
		<comments>https://old.kzradio.net/posts/8856#comments</comments>
		<pubDate>Tue, 06 Mar 2012 17:06:20 +0000</pubDate>
		<dc:creator>&#8235;Quami&#8236;</dc:creator>				<category><![CDATA[אירועים]]></category>
		<category><![CDATA[פלייליסט]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8856</guid>
		<description><![CDATA[&#8235;רוב הסיכויים שגם אם אינכם נמנים עם אלו שמכירים את ארול אלקן, נתקלתם בשם שלו בזמן זה או אחר בעשור האחרון &#8211; בין אם אתם מתעניינים במוזיקה אלטרנטיבית לגווניה, בין אם אתם אנשי רחבות, וכן, בהחלט אם אתם נמנים על מאזיני/ות הקצה. שמו של אלקן הוזכר אצלנו תכופות, ולא בכדי. גם כשלא הושמע ישירות, הוא [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><p style="text-align: center;"><iframe src="https://www.youtube.com/embed/videoseries?list=PL733B99BD8EC6D1A0&amp;hl=en_US" frameborder="0" width="560" height="315"></iframe></p>
<p dir="RTL">רוב הסיכויים שגם אם אינכם נמנים עם אלו שמכירים את ארול אלקן, נתקלתם בשם שלו בזמן זה או אחר בעשור האחרון &#8211; בין אם אתם מתעניינים במוזיקה אלטרנטיבית לגווניה, בין אם אתם אנשי רחבות, וכן, בהחלט אם אתם נמנים על מאזיני/ות הקצה. שמו של אלקן הוזכר אצלנו תכופות, ולא בכדי. גם כשלא הושמע ישירות, הוא היה והינו דמות משפיעה שמושכת בחוטים מאחורי הקלעים של כמה וכמה מהתחומים המוזיקליים שמסקרנים אותנו.</p>
<p dir="RTL">אלקן – כדי.ג'יי, מפיק, רמיקסר, מוזיקאי ומארגן מסיבות &#8211; הוא מהאחראים המרכזיים לשבירת מחיצות הזא'נרים של העשור ומשהו האחרון. הוא אחד המפיצים הבולטים של בשורת הPאנק-Fאנק באירופה ובבריטניה בפרט, והוא אחראי לאיחודים לא מעטים בין עולם האינדי-רוק לעולם הרחבות. יש משהו במגע שלו שגרם דווקא להרכבי רוק לעבוד איתו כמפיק מוזיקלי: פרנץ פרדיננד למשל (להם הפיק את הקאוור לAll my friends של אל.סי.די. סאונדסיסטם), המיסטרי ג'טס, דה לונג בלונדז והקלאקסונז, ובמיוחד Late Of The Pier, שאלבום הבכורה שלהם הוא יותר מכל מיצג הפקה יצירתי שלו. בנוסף, אלקן הוא גם מחלוצי הבאסטרד פופ: מהראשונים לומר דרך רמיקס שלא יקרה כלום אם תרקדו את ניו אורדר וקיילי מינו בו זמנית.</p>
<p dir="RTL">אבל יותר מכל, יש לאלקן את היכולת להפוך חלק לא מבוטל מהרמיקסים שהוא תופר דווקא לשירי אינדי-פופ/רוק למעין מסיבה קטנה בפני עצמה &#8211; היכולת לתרגם חווית האזנה לסט לחוויית האזנה לשיר. ולא במקרה הוא דאג לשרבל את פרנץ פרדיננד, אינטרפול, MGMT, בלוק פארטי, טיים אימפלה, היה יה יה'ז ועוד רבים מהאיזורים האלה.</p>
<p dir="RTL">שלושה מהיפים ביותר בחיבור הקרוס-ז'אנרי שלו לטעמינו, כפי שמיוצגים בסט היוטיוב שערכנו לכם/ן, הם הרמיקסים מלאי האהבה שהוא עשה בשנה שעברה לקונאן מוקאסין ולמטרונומי, וטיפול עדין שהוא עשה לקטע של ספייסמן-3, שהיה במקור הסינגל האחרון שהם הוציאו בסמוך לפירוק שלהם ב-1991.</p>
<p dir="RTL">וכל זה מדוע ? מכיוון שמחר (רביעי) הו ארול ארול  יגיע לתקלט<a href="http://www.facebook.com/events/342921415752405/" target="_blank"> במסיבת פורים של הדלי, ניוז, מיכהטרוניקס ופרטוק</a> בOperah Club בקיבוץ גלויות 49 בת&quot;א. היה אפשר לומר שחגיגה היא כפולה מכיוון שמייד אחריו יתקלט גם  <a href="http://www.tapud.co.il/archives/4776" target="_blank">מיכאל מאייר</a>  הנפלא, מייסד הלייבל הגרמני Kompakt, אבל בעצם היא הרבה יותר מזה בגלל הנציגות המקומית המשובחת: עפרי גופר, בנג'י, אוריה קלפטר ואביחי פרטוק.</p>
<p dir="RTL">אז לפניכם הסט היוטיובי שערכנו, שמורכב בעיקר מרמיקסים שאנחנו אוהבים של אלקן, מהפקות מוזיקליות שלו, וגם טיפה מעבודת המאש-אפ שלו תחת הכינוי קרטיס ראש, ועוד טיפה כחצי הצמד Beyond The Wizard’s Sleeve. פשוט לחצו פליי, ואם בא לכם כתבו לנו כאן מה חשבתם.</p>
<p dir="RTL">אה, ואם נדמה לכם שהסברנו משהו, זה באמת כלום, כי את הכיסוי היסודי ביותר אנחנו רוצים לשלוח אתכם לקרוא ולשמוע <a href="  http://www.tapud.co.il/archives/4767" target="_blank">בפוסט המעולה </a>של אחד הדיג'יים האהובים עלינו, אייל פ'אנק סינטרה גולדמן, שהרחיב במילים וביוטיובים על אלקן בבלוג של חברינו <a href="  http://www.tapud.co.il/archives/4767" target="_blank">תפוד</a>.</p>
<p dir="RTL">הו ארול אחלן.</p>
<p dir="RTL">והכי חשוב &#8211; לאן שלא תלכו בפורים הזה, תזכרו להתחפש רק אם בא לכם/ן. שאף אחד לא יבוא אליכם בטענות.</p>
<p dir="RTL"><a href="https://old.kzradio.net/wp-content/uploads/2012/03/il-0307-339880-front.jpg"><img class="aligncenter  wp-image-8860" title="" src="https://old.kzradio.net/wp-content/uploads/2012/03/il-0307-339880-front.jpg" alt="" width="500" height="698" /></a></p>
<h3 style="text-align: center;" dir="ltr"><em><span style="color: #ff00ff;">KZRadio's Erol Alkan Tribute Set Playlist:</span></em></h3>
<p style="text-align: left;" dir="ltr">Avalanche (Terminal Velocity) – Boys Noize &amp; Erol Alkan featuring Jarvis Cocker<br />
Why won’t you make up your mind?- Tame Impala (Erol Alkan Rework)<br />
Mammoth – Interpol (Erol Alkan Rework)<br />
The bears are coming &#8211; Late Of The Pier<br />
One minute lovecat &#8211; Kurtis Rush<br />
Hideway – The Mystery Jets (Switch Vs. Erol Alkan Remix)<br />
The bay &#8211; Metronomy (Erol Alkan’s Extended Rework)<br />
Forever dolphin love – Connan Mockasin (Erol Alkan Rework)<br />
All my friends – Franz Ferdinand (LCD Soundsystem cover)<br />
Big city – Spacemen3 (Erol Alkan Remix)<br />
Nostalgia – The Long Blondes<br />
Losing the will to survive – Findlay Brown (Beyond The Wizard’s Sleeve Reanimation Mix)</p>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8856/feed</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
		<item>
		<title>&#8235;4 אמנים לוהטים מחו&quot;ל ש(כן) מגיעים בימים הקרובים, שלא תתבאסו בעוד שנה שלא ידעתם ולא באתם&#8236;</title>		<link>https://old.kzradio.net/posts/8799</link>
		<comments>https://old.kzradio.net/posts/8799#comments</comments>
		<pubDate>Wed, 22 Feb 2012 13:59:14 +0000</pubDate>
		<dc:creator>&#8235;Quami&#8236;</dc:creator>				<category><![CDATA[אירועים]]></category>
		<category><![CDATA[שונות]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8799</guid>
		<description><![CDATA[&#8235;על רקע ביטולים למיניהם של אמני חו&#34;ל, רצינו לספר לכם/ן על שני אירועים מוזיקליים שמסקרנים אותנו במיוחד.שניהם יתרחשו בליל חמישי הזה (ואחד מהם ימשיך גם לשישי ושבת), ושניהם יביאו איתם אמנים מחו&#34;ל עם לבבות בוערים, שקרוב לוודאי שיהפכו את הביקורים שלהם למעניינים במיוחד. בחזית הרוקנ'רול, הגיטרות והגראז', תארח אחת הלהקות הכי משמחות בארץ &#8211; רוצי [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><p style="text-align: center;" dir="RTL"><a href="https://old.kzradio.net/wp-content/uploads/2012/02/acidcrashbuba-final-A3.jpg"><img class="aligncenter  wp-image-8803" src="https://old.kzradio.net/wp-content/uploads/2012/02/acidcrashbuba-final-A3-723x1024.jpg" alt="" width="430" height="609" /></a></p>
<p dir="RTL">על רקע ביטולים למיניהם של אמני חו&quot;ל, רצינו לספר לכם/ן על שני אירועים מוזיקליים שמסקרנים אותנו במיוחד.שניהם יתרחשו בליל חמישי הזה (ואחד מהם ימשיך גם לשישי ושבת), ושניהם יביאו איתם אמנים מחו&quot;ל עם לבבות בוערים, שקרוב לוודאי שיהפכו את הביקורים שלהם למעניינים במיוחד.</p>
<p dir="RTL">בחזית הרוקנ'רול, הגיטרות והגראז', תארח אחת הלהקות הכי משמחות בארץ &#8211; רוצי בובה המצויינת – שתי להקות שיופיעו איתה בחמישי בלבונטין7 בת&quot;א, בשישי באוגנדה בירושלים ובשבת בתיכון שבחיפה:</p>
<p dir="RTL">1. Acid Baby Jesus, להקת גראז' מיוון,שמזכירה לא מעט את הבלאק ליפס, כפי שאלה נשמעו כשהגיעו לארץ. כנראה שלא בכדי הם גם חיממו לאחרונה את הליפס בהופעות שלהם.</p>
<p dir="RTL">אסיד בייבי ג'יזס חתומים בSlovenly, אחד הלייבלים המעניינים של הגראז' בשנים האחרונות (שמוציא את תקליטיהם הראשונים של ה-Spits ושפועלים בו הרכבים כמו JC  Satan  ו-WAU Y LOS ARRRGHS!!!).</p>
<p dir="RTL">ועכשיו שימו לב לקליפ התינוקות הגאוני,שאין סיבה שלא יהפך ללהיט הבא בפייסבוק שלכם, גם אם באיחור קליל של כשנה וחצי:</p>
<p style="text-align: left;"><iframe src="https://www.youtube.com/embed/fqSiA9B0EfY" frameborder="0" width="420" height="315"></iframe></p>
<p>2.  Crash Normal – מגיעים מצרפת ומשלבים בין גראז' נויזי למכונות תופים מעוכות. קצת מזכירים את The Intelligence לאלה מכם שמכירים וזוכרים:</p>
<p style="text-align: left;" dir="ltr"><iframe src="https://www.youtube.com/embed/z_aHUT_XB5Q" frameborder="0" width="420" height="315"></iframe></p>
<p dir="RTL">שאר הפרטים <a href="http://www.facebook.com/events/242762059134882" target="_blank">באיוונט</a>.</p>
<p dir="RTL">ובחזית הטכנו-האוס תתרחש באותה העת מסיבה של דה בלוק החדש יחד עם אנשי NEWS  ו-N-factorial שיביאו לארץ את רומן פלוגל ואניה שניידר:</p>
<p style="text-align: center;" dir="RTL"><a href="https://old.kzradio.net/wp-content/uploads/2012/02/403331_10150550061293687_550178686_9151031_1280396059_n.jpg"><img class="aligncenter  wp-image-8804" src="https://old.kzradio.net/wp-content/uploads/2012/02/403331_10150550061293687_550178686_9151031_1280396059_n.jpg" alt="" width="477" height="670" /></a></p>
<p dir="RTL">פלוגל המרתק, מפרנקפורט במקור, הצליח במהלך הקריירה האקלקטית שלו כמפיק, יוצר, רמיקסר ודיג'יי לספק לעולם רגעים בולטים של אלקטרו-Pאנק כחצי הצמד Alter Ego, והגדיל ללהטט כיחיד בין אסיד-האוס, ג'אזיות ואמביינט ולנוע עד לדרך בה חיבר בחום בין מינימל האוס וטכנו לבין אלמנטים ברזילאים ולטינים. לדוגמה:</p>
<p style="text-align: left;" dir="RTL"><iframe src="https://www.youtube.com/embed/mqafcAWlHQ0" frameborder="0" width="420" height="315"></iframe></p>
<p style="text-align: left;" dir="RTL"><iframe src="https://www.youtube.com/embed/IhH_A-lBQiM" frameborder="0" width="420" height="315"></iframe></p>
<p>והטיפול המעודן שלו בסימפול של דוראן דוראן:</p>
<p style="text-align: left;" dir="RTL"><iframe src="https://www.youtube.com/embed/Kjy_GRJP8zQ" frameborder="0" width="560" height="315"></iframe></p>
<p dir="RTL">שניידר הכריזמטית – הדיג'יית, שדרנית הרדיו, המפיקה הברלינאית ובעלת הלייבל Mobilee, גם היא מזרימה כבר שנים דם חם בעורקים אליהם מתמזגים מינימל טכנו ודיפ-האוס:</p>
<p style="text-align: left;" dir="RTL"><iframe src="https://www.youtube.com/embed/ogmMrlUVGfo" frameborder="0" width="420" height="315"></iframe></p>
<p dir="RTL">אז שלא תגידו לא ידענו (:</p>
<p dir="RTL">לפני הסטים של פלוגל ושניידר יתקלט אוריה קלפטר, איש NEWS, וזה מסקרן בפני עצמו.</p>
<p dir="RTL">וגם כאן, שאר הפרטים <a href="http://www.facebook.com/events/295394510521462" target="_blank">באיוונט</a>.</p>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8799/feed</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>&#8235;הקצה חוזרת! בתור תחנת רדיו חדשה ברשת!! ועוד הפתעות וחדשות!!&#8236;</title>		<link>https://old.kzradio.net/posts/8737</link>
		<comments>https://old.kzradio.net/posts/8737#comments</comments>
		<pubDate>Wed, 01 Feb 2012 17:52:14 +0000</pubDate>
		<dc:creator>&#8235;Quami&#8236;</dc:creator>				<category><![CDATA[אירועים]]></category>
		<category><![CDATA[מאזינים יקרים]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8737</guid>
		<description><![CDATA[&#8235;&#160; אנחנו כל כך מתרגשים לבשר לכם את הראשונה מבין הבשורות החגיגיות שלנו, שאנחנו שומרים בבטן וכל כך מתאפקים לא לגלות עוד מסוף ימינו האחרונים בגלגלצ. אז כן, כן, כן כן כן כן - לאחר שהורדה בסוף דצמבר מלוח השידורים של גלגלצ לאחר 13 שנות שידור, תשוב &#34;הקצה&#34; במתכונת מורחבת ומשוכללת, כשאתר הקצה (www.kzradio.net) יעבור [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><p style="text-align: center;"><a href="https://old.kzradio.net/wp-content/uploads/2012/02/poltergeist_theyre_back1-300x178.png"><img class="size-full wp-image-8738 aligncenter" src="https://old.kzradio.net/wp-content/uploads/2012/02/poltergeist_theyre_back1-300x178.png" alt="" width="300" height="178" /></a></p>
<p>&nbsp;</p>
<p>אנחנו כל כך מתרגשים לבשר לכם את הראשונה מבין הבשורות החגיגיות שלנו, שאנחנו שומרים בבטן וכל כך מתאפקים לא לגלות עוד מסוף ימינו האחרונים בגלגלצ.<br />
אז כן, כן, כן כן כן כן -<br />
לאחר שהורדה בסוף דצמבר מלוח השידורים של גלגלצ לאחר 13 שנות שידור, תשוב &quot;הקצה&quot; במתכונת מורחבת ומשוכללת, כשאתר הקצה (www.kzradio.net) יעבור שינוי מהיסוד, יהפוך את עורו ויהפוך לתחנת רדיו חדשה ואלטרנטיבית. ההשקה של התחנה החדשה, שנמצאת בימים אלו בשלבי הקמה וגיוס וצפויה להתרחש בתחילת אפריל, תכלול גם את &quot;הקצה&quot; במתכונות הסולו של נדב וקוואמי וגם נבחרת של כמה מאנשי הרדיו והמוסיקה האלטרנטיבית המעולים ביותר שיש בארץ. פרטי השדרנים יפורסמו לקראת עלייתה של התחנה לאוויר.</p>
<p>&nbsp;</p>
<p>במקביל, כבר באותו תאריך וכמה שעות לאחר פתיחת שידורי תחנת &quot;הקצה&quot;, נעלה שנינו &#8211; נדב וקוואמי- עם תוכנית חדשה ב88אף.אם, בימי ראשון ב23:00 בלילה. זו תהיה הפעם הראשונה בשיתוף הפעולה ארוך השנים בינינו, שבה נשדר תוכנית קבועה יחד.</p>
<p>&nbsp;</p>
<p>עוד פרטים, ועוד חדשות- כי זה ממש לא הכל, בקרוב.</p>
<p>אנחנו הכי מתרגשים בעולם ! אתם מוכנים לכל זה?</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>נדב וקוואמי</p>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8737/feed</wfw:commentRss>
		<slash:comments>26</slash:comments>
		</item>
		<item>
		<title>&#8235;בלייק דיסטריקט&#8236;</title>		<link>https://old.kzradio.net/posts/8706</link>
		<comments>https://old.kzradio.net/posts/8706#comments</comments>
		<pubDate>Thu, 26 Jan 2012 11:31:31 +0000</pubDate>
		<dc:creator>&#8235;nadav&#8236;</dc:creator>				<category><![CDATA[אירועים]]></category>
		<category><![CDATA[שונות]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8706</guid>
		<description><![CDATA[&#8235;ג’יימס מגיע! זה קורה. מחר באחת בלילה יעלה האדון ג’יימס בלייק על עמדת הבלוק החדש. האירוע אמנם כבר סולד אאוט, אבל טבק הפקות, שלמרבה השמחה ארגנו אותו יחד עם הקונסוליה הבריטית, מודיעים כי החל מהשעה 02:00 ימכרו במקום כרטיסים ב50 שקל על בסיס מקום פנוי. אז מה בדיוק ילך שם? נכון, זו לא תהיה הופעה, [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><div>
<p style="text-align: center;"><a href="https://old.kzradio.net/wp-content/uploads/2012/01/james-blake-new-music-video-slide.jpg"><img class="aligncenter  wp-image-8707" title="james-blake-new-music-video-slide" src="https://old.kzradio.net/wp-content/uploads/2012/01/james-blake-new-music-video-slide.jpg" alt="" width="480" height="270" /></a></p>
<p style="text-align: right;">ג’יימס מגיע!</p>
<p style="text-align: right;">זה קורה. מחר באחת בלילה יעלה האדון ג’יימס בלייק על עמדת הבלוק החדש. האירוע אמנם כבר סולד אאוט, אבל טבק הפקות, שלמרבה השמחה ארגנו אותו יחד עם הקונסוליה הבריטית, מודיעים כי החל מהשעה 02:00 ימכרו במקום כרטיסים ב50 שקל על בסיס מקום פנוי.</p>
<p style="text-align: right;">אז מה בדיוק ילך שם? נכון, זו לא תהיה הופעה, אבל כן צפוי תמהיל של ביטים חדשניים ומרתקים, קטעים של בלייק שלא</p>
<p style="text-align: right;">הופיעו באלבום ומתכתבים בדרכו המעודנת עם רחבת הריקודים, האוס וטכנו רגישים, אר-אנ'-בי שנע על הסקאלה בין דיאנג’לו לבין סטיבי וונדר; הרמוניקס &#8211; סדרת הרמיקסים של בלייק ללהיטי היפ-הופ של דסטיניז צ’יילד, סנופ דוג, אאוטקאסט ואחרים, וגם, מייד אחריו, הפתעה נעימה בדמות סט של דה צ’יין, הכח המסקרן מהלייבל R&amp;S.</p>
<p>כמו כמעט תמיד,אגב, הדיג’יים המקומיים שפותחים וסוגרים, נותנים סטים שמעיפים את המח לנוכחים במקום. הפעם אלה יהיו אגוזי ו-וולטר, ואנחנו ממליצים להגיע בזמן כדי לשמוע אותם.</p>
<p>הכנו עבורכם סדרת קטעים שיש סיכוי לא רע שג’יימס ינגן שם, וגם אם לא, קרוב לוודאי שזו תהיה רוח הדברים.</p>
<p>הנה פלייליסט של קטעים מיוטיוב (הם ינגנו אוטומוטית אחד אחרי השני, הטכנולוגיה הזו זה משהו)</p>
<p style="text-align: center;"><iframe src="https://www.youtube.com/embed/videoseries?list=PLAD00834CB57AF579&amp;hl=en_US" frameborder="0" width="440" height="253"></iframe></p>
<div>
<p dir="ltr">James Blake – Four Miles</p>
<p dir="ltr">Addison Groove &#8211; This is It<br />
Andrea &#8211; Write Off<br />
Stubborn Heart &#8211; Need Somone<br />
Outkast &#8211; Miss Jackson (Harmonimix remix)<br />
The Chain &#8211; Suffer for your art<br />
The Chain &#8211; Maje<br />
James Blake &#8211; Placing us</p>
<p dir="rtl">ובצד העדין יותר- אולי נזכה לשמוע גם משהו מאלה:</p>
<p dir="ltr">Johann Johannsson &#8211; Odi et amo<br />
D’angelo &#8211; Untitled (How does it feel?)<br />
Arthur Russell &#8211; Love comes back</p>
<div>
<p dir="rtl">ובזמן שאתם מקשיבים, <a href="http://e.walla.co.il/?w=%2F202%2F2501905" target="_blank">הנה ראיון יפה של ארנון בן דרור בוואלה</a> עם ג’יימס בלייק, ופה האדון בלייק <a href="http://thephoenix.com/Boston/music/127478-interview-james-blakes-dub-soft-shoe/?page=2#TOPCONTENT" target="_blank">נכנס ברבאק</a> של הצד המתמסחר של הדאבסטפ</p>
<p style="text-align: center;" dir="rtl"><a href="https://old.kzradio.net/wp-content/uploads/2012/01/337362_310545202300031_186377044716848_1017779_1834228474_o.jpg"><img class="aligncenter  wp-image-8708" title="337362_310545202300031_186377044716848_1017779_1834228474_o" src="https://old.kzradio.net/wp-content/uploads/2012/01/337362_310545202300031_186377044716848_1017779_1834228474_o-724x1024.jpg" alt="" width="434" height="614" /></a></p>
<p dir="rtl">
</div>
</div>
</div>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8706/feed</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
		<item>
		<title>&#8235;הקצה בשסק, יום ב&#039;, 2.1.12&#8236;</title>		<link>https://old.kzradio.net/posts/8584</link>
		<comments>https://old.kzradio.net/posts/8584#comments</comments>
		<pubDate>Sun, 01 Jan 2012 21:37:28 +0000</pubDate>
		<dc:creator>&#8235;nadav&#8236;</dc:creator>				<category><![CDATA[אירועים]]></category>
		<category><![CDATA[מאזינים יקרים]]></category>
		<category><![CDATA[שונות]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8584</guid>
		<description><![CDATA[&#8235;לעיתים מאוד נדירות אנחנו לוקחים את הקצה מחוץ לאולפן, לעיתים נדירות אנחנו משתפים פעולה מאחורי עמדת די-ג'יי, ושני הדברים האלה ייקרו הלילה, החל מ22:00 ועד שתחליטו שנמאס לכם/ן, בשסק בתל אביב, בר קטן ואהוב ברחוב לילנבלום 17. ננגן הרבה מוזיקה שאנחנו אוהבים, שזה אומר דברים ששידרנו בקצה, דברים שלא יצא לנו לשדר, ודברים חדשים שיצאו [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><p><a href="https://old.kzradio.net/wp-content/uploads/2012/01/224757_10150180584807695_545297694_7127098_3732356_n.jpg"><img class="aligncenter  wp-image-8679" title="224757_10150180584807695_545297694_7127098_3732356_n" src="https://old.kzradio.net/wp-content/uploads/2012/01/224757_10150180584807695_545297694_7127098_3732356_n.jpg" alt="" width="450" height="300" /></a></p>
<p>לעיתים מאוד נדירות אנחנו לוקחים את הקצה מחוץ לאולפן, לעיתים נדירות אנחנו משתפים פעולה מאחורי עמדת די-ג'יי, ושני הדברים האלה ייקרו הלילה, החל מ22:00 ועד שתחליטו שנמאס לכם/ן, בשסק בתל אביב, בר קטן ואהוב ברחוב <a href="http://g.co/maps/5a8hr" target="_blank">לילנבלום 17.</a></p>
<p>ננגן הרבה מוזיקה שאנחנו אוהבים, שזה אומר דברים ששידרנו בקצה, דברים שלא יצא לנו לשדר, ודברים חדשים שיצאו בחודשיים המטורפים האחרונים. תבואו מוקדם, נרים כוסית לשנה החדשה ולעתיד העדיין סודי, אך מלהיב, של הקצה.</p>
<p>קוואמי ונדב.</p>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8584/feed</wfw:commentRss>
		<slash:comments>8</slash:comments>
		</item>
	</channel>
</rss>
