<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>&#8235;תגובות לפוסט: &#34;שירים שהיינו משדרים אם הייתה תוכנית הלילה, 26.2.12&#34;&#8236;</title>
	<atom:link href="https://old.kzradio.net/posts/8820/feed" rel="self" type="application/rss+xml" />
	<link>https://old.kzradio.net/posts/8820</link>
	<description>&#8235;הקצפת של המוזיקה &#124;&#124; א\&#039; ו-ג\&#039;, 22:00, גלגל\&#34;צ &#124;&#124; Sun, Tue 22:00 GLGLZ&#8236;</description> 	<lastBuildDate>Wed, 21 Mar 2012 11:13:18 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.3.1</generator>
	<item>
		<title>&#8235;מאת: ליבי רן&#8236;</title>
		<link>https://old.kzradio.net/posts/8820#comment-16305</link>
		<dc:creator>&#8235;ליבי רן&#8236;</dc:creator>		<pubDate>Sun, 04 Mar 2012 00:37:34 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8820#comment-16305</guid>
		<description>&#8235;אין שום צורך אמיתי לכתוב &quot;פוסט הדאבסטפ&quot;. &quot;הפוסט דאבסטפ&quot; תופס, בדיוק כמו שנהוג לכתוב &quot;הפוסטמודרניזם&quot; ולא &quot;פוסט המודרניזם&quot;.
שלכם,
הקטנונית.
והפלייליסט, כצפוי, מעולה. :)&#8236;</description> 		<content:encoded><![CDATA[<p>אין שום צורך אמיתי לכתוב &quot;פוסט הדאבסטפ&quot;. &quot;הפוסט דאבסטפ&quot; תופס, בדיוק כמו שנהוג לכתוב &quot;הפוסטמודרניזם&quot; ולא &quot;פוסט המודרניזם&quot;.<br />
שלכם,<br />
הקטנונית.<br />
והפלייליסט, כצפוי, מעולה. <img src='https://old.kzradio.net/wp-includes/images/smilies/icon_smile.gif' alt=':)' class='wp-smiley' /> </p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: ענבר&#8236;</title>
		<link>https://old.kzradio.net/posts/8820#comment-16265</link>
		<dc:creator>&#8235;ענבר&#8236;</dc:creator>		<pubDate>Wed, 29 Feb 2012 11:07:19 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8820#comment-16265</guid>
		<description>&#8235;מעבר להמשגות שוברות השיאים של ז&#039;אנרים ותתי-ז&#039;אנרים, מישהו יכול, לעזאזל, להסביר לי מה ההבדל בין דאבסטפ לפוסט-דאבסטפ? ייתכן שפספסתי שיעורים קודמים, אבל אשמח ראשית כל לעמוד על ההבדלים, בטרם אחווה דעה על השם.
:)
בתודה מראש,
ענבר&#8236;</description> 		<content:encoded><![CDATA[<p>מעבר להמשגות שוברות השיאים של ז'אנרים ותתי-ז'אנרים, מישהו יכול, לעזאזל, להסביר לי מה ההבדל בין דאבסטפ לפוסט-דאבסטפ? ייתכן שפספסתי שיעורים קודמים, אבל אשמח ראשית כל לעמוד על ההבדלים, בטרם אחווה דעה על השם.<br />
 <img src='https://old.kzradio.net/wp-includes/images/smilies/icon_smile.gif' alt=':)' class='wp-smiley' /><br />
בתודה מראש,<br />
ענבר</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: nadav&#8236;</title>
		<link>https://old.kzradio.net/posts/8820#comment-16261</link>
		<dc:creator>&#8235;nadav&#8236;</dc:creator>		<pubDate>Wed, 29 Feb 2012 07:21:29 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8820#comment-16261</guid>
		<description>&#8235;גם אנחנו אוהבים את המוזיקה. הרבה ממנה. יש לנו קושי רק עם הטייטל&#8236;</description> 		<content:encoded><![CDATA[<p>גם אנחנו אוהבים את המוזיקה. הרבה ממנה. יש לנו קושי רק עם הטייטל</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: אורן&#8236;</title>
		<link>https://old.kzradio.net/posts/8820#comment-16255</link>
		<dc:creator>&#8235;אורן&#8236;</dc:creator>		<pubDate>Tue, 28 Feb 2012 20:59:38 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8820#comment-16255</guid>
		<description>&#8235;לא יודע מה איתכם, אני דווקא אוהב פוסט-דאבסטפ, גם אם ההגדרה הזו מטומטמת. למי אכפת מההגדרות כל עוד המוזיקה טובה?&#8236;</description> 		<content:encoded><![CDATA[<p>לא יודע מה איתכם, אני דווקא אוהב פוסט-דאבסטפ, גם אם ההגדרה הזו מטומטמת. למי אכפת מההגדרות כל עוד המוזיקה טובה?</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: אדווה&#8236;</title>
		<link>https://old.kzradio.net/posts/8820#comment-16220</link>
		<dc:creator>&#8235;אדווה&#8236;</dc:creator>		<pubDate>Sun, 26 Feb 2012 18:57:06 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8820#comment-16220</guid>
		<description>&#8235;פלייליסט מצויין, תודה!&#8236;</description> 		<content:encoded><![CDATA[<p>פלייליסט מצויין, תודה!</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: דרור פויר&#8236;</title>
		<link>https://old.kzradio.net/posts/8820#comment-16218</link>
		<dc:creator>&#8235;דרור פויר&#8236;</dc:creator>		<pubDate>Sun, 26 Feb 2012 17:28:12 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8820#comment-16218</guid>
		<description>&#8235;תענוג! תודה&#8236;</description> 		<content:encoded><![CDATA[<p>תענוג! תודה</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: אייל&#8236;</title>
		<link>https://old.kzradio.net/posts/8820#comment-16216</link>
		<dc:creator>&#8235;אייל&#8236;</dc:creator>		<pubDate>Sun, 26 Feb 2012 17:08:42 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8820#comment-16216</guid>
		<description>&#8235;רק הסתכלתי על הפלייליסט וכבר התרגשות גדולה מהשירים החדשים של ספיריטואלייזד ושל סאן קיל מון ואז ראיתי את התגובה של אורן עם הידיעה על ההופעה של סאן קיל מון בארץ וההתרגשות בשיאה!&#8236;</description> 		<content:encoded><![CDATA[<p>רק הסתכלתי על הפלייליסט וכבר התרגשות גדולה מהשירים החדשים של ספיריטואלייזד ושל סאן קיל מון ואז ראיתי את התגובה של אורן עם הידיעה על ההופעה של סאן קיל מון בארץ וההתרגשות בשיאה!</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: חושב בקול רם&#8236;</title>
		<link>https://old.kzradio.net/posts/8820#comment-16215</link>
		<dc:creator>&#8235;חושב בקול רם&#8236;</dc:creator>		<pubDate>Sun, 26 Feb 2012 17:04:22 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8820#comment-16215</guid>
		<description>&#8235;השיר של ספיריטואלייזד עצום!&#8236;</description> 		<content:encoded><![CDATA[<p>השיר של ספיריטואלייזד עצום!</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: Quami&#8236;</title>
		<link>https://old.kzradio.net/posts/8820#comment-16214</link>
		<dc:creator>&#8235;Quami&#8236;</dc:creator>		<pubDate>Sun, 26 Feb 2012 17:01:56 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8820#comment-16214</guid>
		<description>&#8235;בוא נגיד את זה ככה אורן, זה לא שעשינו חצי עבודה,
אלא זה אתה שעשית עבודה מדהימה+עשית לנו את היום!

פאק. מארק קוזלק בארץ. ועוד יום אחרי אוף מונטריאול. מצב שאם כל זה קורה אני חוזר בתשובה.&#8236;</description> 		<content:encoded><![CDATA[<p>בוא נגיד את זה ככה אורן, זה לא שעשינו חצי עבודה,<br />
אלא זה אתה שעשית עבודה מדהימה+עשית לנו את היום!</p>
<p>פאק. מארק קוזלק בארץ. ועוד יום אחרי אוף מונטריאול. מצב שאם כל זה קורה אני חוזר בתשובה.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: אורן&#8236;</title>
		<link>https://old.kzradio.net/posts/8820#comment-16213</link>
		<dc:creator>&#8235;אורן&#8236;</dc:creator>		<pubDate>Sun, 26 Feb 2012 16:25:35 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8820#comment-16213</guid>
		<description>&#8235;תודה על השיר החדש של סאן קיל מון, אבל צר לי להודיע לכם שעשיתם רק חצי עבודה, ושהחצי שפיספסתם הוא החצי החשוב...
http://www.sunkilmoon.com/#/tour/&#8236;</description> 		<content:encoded><![CDATA[<p>תודה על השיר החדש של סאן קיל מון, אבל צר לי להודיע לכם שעשיתם רק חצי עבודה, ושהחצי שפיספסתם הוא החצי החשוב&#8230;<br />
<a href="http://www.sunkilmoon.com/#/tour/" rel="nofollow">http://www.sunkilmoon.com/#/tour/</a></p>
]]></content:encoded>
	</item>
</channel>
</rss>
