<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>&#8235;תגובות לפוסט: &#34;4 אמנים לוהטים מחו&quot;ל ש(כן) מגיעים בימים הקרובים, שלא תתבאסו בעוד שנה שלא ידעתם ולא באתם&#34;&#8236;</title>
	<atom:link href="https://old.kzradio.net/posts/8799/feed" rel="self" type="application/rss+xml" />
	<link>https://old.kzradio.net/posts/8799</link>
	<description>&#8235;הקצפת של המוזיקה &#124;&#124; א\&#039; ו-ג\&#039;, 22:00, גלגל\&#34;צ &#124;&#124; Sun, Tue 22:00 GLGLZ&#8236;</description> 	<lastBuildDate>Wed, 21 Mar 2012 11:13:18 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.3.1</generator>
</channel>
</rss>
