<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>&#8235;תגובות לפוסט: &#34;שירים שהיינו משדרים אם הייתה תוכנית הלילה, 5.2.12&#34;&#8236;</title>
	<atom:link href="https://old.kzradio.net/posts/8749/feed" rel="self" type="application/rss+xml" />
	<link>https://old.kzradio.net/posts/8749</link>
	<description>&#8235;הקצפת של המוזיקה &#124;&#124; א\&#039; ו-ג\&#039;, 22:00, גלגל\&#34;צ &#124;&#124; Sun, Tue 22:00 GLGLZ&#8236;</description> 	<lastBuildDate>Wed, 21 Mar 2012 11:13:18 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.3.1</generator>
	<item>
		<title>&#8235;מאת: ה ק צ ה &#124;&#124; K Z R a d i o &#187; שירים שהיינו משדרים אם היתה תוכנית הלילה, 18.3.12&#8236;</title>
		<link>https://old.kzradio.net/posts/8749#comment-16641</link>
		<dc:creator>&#8235;ה ק צ ה &#124;&#124; K Z R a d i o &#187; שירים שהיינו משדרים אם היתה תוכנית הלילה, 18.3.12&#8236;</dc:creator>		<pubDate>Sun, 18 Mar 2012 07:22:18 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8749#comment-16641</guid>
		<description>&#8235;[...] שירים שהיינו משדרים אם הייתה תוכנית הלילה, 5.2.12 [...]&#8236;</description> 		<content:encoded><![CDATA[<p>[...] שירים שהיינו משדרים אם הייתה תוכנית הלילה, 5.2.12 [...]</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: ה ק צ ה &#124;&#124; K Z R a d i o &#187; שירים שהיינו משדרים אם היתה לנו הלילה תוכנית, 11.3.12&#8236;</title>
		<link>https://old.kzradio.net/posts/8749#comment-16473</link>
		<dc:creator>&#8235;ה ק צ ה &#124;&#124; K Z R a d i o &#187; שירים שהיינו משדרים אם היתה לנו הלילה תוכנית, 11.3.12&#8236;</dc:creator>		<pubDate>Sun, 11 Mar 2012 08:01:21 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8749#comment-16473</guid>
		<description>&#8235;[...] שירים שהיינו משדרים אם הייתה תוכנית הלילה, 5.2.12 [...]&#8236;</description> 		<content:encoded><![CDATA[<p>[...] שירים שהיינו משדרים אם הייתה תוכנית הלילה, 5.2.12 [...]</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: לון&#8236;</title>
		<link>https://old.kzradio.net/posts/8749#comment-15916</link>
		<dc:creator>&#8235;לון&#8236;</dc:creator>		<pubDate>Tue, 07 Feb 2012 07:47:07 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8749#comment-15916</guid>
		<description>&#8235;איזה כיף. יופי של מוזיקה. 

תודה רבה שאתם ממשיכים לעדכן אותנו בדברים חדשים.
כל עוד אין תוכנית, זה הפיצוי האולטימטיבי.&#8236;</description> 		<content:encoded><![CDATA[<p>איזה כיף. יופי של מוזיקה. </p>
<p>תודה רבה שאתם ממשיכים לעדכן אותנו בדברים חדשים.<br />
כל עוד אין תוכנית, זה הפיצוי האולטימטיבי.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: איציק&#8236;</title>
		<link>https://old.kzradio.net/posts/8749#comment-15907</link>
		<dc:creator>&#8235;איציק&#8236;</dc:creator>		<pubDate>Mon, 06 Feb 2012 12:33:29 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8749#comment-15907</guid>
		<description>&#8235;איזה כיף לשמוע שוב את  מט ג&#039;ונסון :). אני עדיין מחכה לתאריך חדש להופעה בארץ שלהם שבוטלה לפני יותר מעשר שנים :(&#8236;</description> 		<content:encoded><![CDATA[<p>איזה כיף לשמוע שוב את  מט ג'ונסון <img src='https://old.kzradio.net/wp-includes/images/smilies/icon_smile.gif' alt=':)' class='wp-smiley' /> . אני עדיין מחכה לתאריך חדש להופעה בארץ שלהם שבוטלה לפני יותר מעשר שנים <img src='https://old.kzradio.net/wp-includes/images/smilies/icon_sad.gif' alt=':(' class='wp-smiley' /> </p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: ענבר&#8236;</title>
		<link>https://old.kzradio.net/posts/8749#comment-15899</link>
		<dc:creator>&#8235;ענבר&#8236;</dc:creator>		<pubDate>Mon, 06 Feb 2012 07:33:33 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8749#comment-15899</guid>
		<description>&#8235;וואעלייה איזה מוזיקה!!!!
גם אני רוצה איזה דובי קטן או ג&#039;ו גודארד משלי.
אחח, גודארד תעשה לי דובי. :)&#8236;</description> 		<content:encoded><![CDATA[<p>וואעלייה איזה מוזיקה!!!!<br />
גם אני רוצה איזה דובי קטן או ג'ו גודארד משלי.<br />
אחח, גודארד תעשה לי דובי. <img src='https://old.kzradio.net/wp-includes/images/smilies/icon_smile.gif' alt=':)' class='wp-smiley' /> </p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: ליבי רן&#8236;</title>
		<link>https://old.kzradio.net/posts/8749#comment-15895</link>
		<dc:creator>&#8235;ליבי רן&#8236;</dc:creator>		<pubDate>Sun, 05 Feb 2012 22:30:24 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8749#comment-15895</guid>
		<description>&#8235;מיסטר דרים נקטע באמצע! איזה mess :(&#8236;</description> 		<content:encoded><![CDATA[<p>מיסטר דרים נקטע באמצע! איזה mess <img src='https://old.kzradio.net/wp-includes/images/smilies/icon_sad.gif' alt=':(' class='wp-smiley' /> </p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: אדווה&#8236;</title>
		<link>https://old.kzradio.net/posts/8749#comment-15891</link>
		<dc:creator>&#8235;אדווה&#8236;</dc:creator>		<pubDate>Sun, 05 Feb 2012 17:26:10 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8749#comment-15891</guid>
		<description>&#8235;אני בעד התגובה החמישית. ערב כיף.&#8236;</description> 		<content:encoded><![CDATA[<p>אני בעד התגובה החמישית. ערב כיף.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: דניאל&#8236;</title>
		<link>https://old.kzradio.net/posts/8749#comment-15889</link>
		<dc:creator>&#8235;דניאל&#8236;</dc:creator>		<pubDate>Sun, 05 Feb 2012 16:10:49 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8749#comment-15889</guid>
		<description>&#8235;יופי של פלייליסט!
אהבתי במיוחד את Mirel Wagmer (אכן מצמרר)
את שני קטעי הפוסט-דאבסטפ (אגב, יש הצעות לשמות אלטרנטיביים?)
וכמובן את the 2 bears הנפלאים.
תודה לכם.&#8236;</description> 		<content:encoded><![CDATA[<p>יופי של פלייליסט!<br />
אהבתי במיוחד את Mirel Wagmer (אכן מצמרר)<br />
את שני קטעי הפוסט-דאבסטפ (אגב, יש הצעות לשמות אלטרנטיביים?)<br />
וכמובן את the 2 bears הנפלאים.<br />
תודה לכם.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: Soulcat&#8236;</title>
		<link>https://old.kzradio.net/posts/8749#comment-15887</link>
		<dc:creator>&#8235;Soulcat&#8236;</dc:creator>		<pubDate>Sun, 05 Feb 2012 15:18:00 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8749#comment-15887</guid>
		<description>&#8235;כרגיל, פסקול מושלם ללימודים. 
XO&#8236;</description> 		<content:encoded><![CDATA[<p>כרגיל, פסקול מושלם ללימודים.<br />
XO</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: לנגן&#8236;</title>
		<link>https://old.kzradio.net/posts/8749#comment-15886</link>
		<dc:creator>&#8235;לנגן&#8236;</dc:creator>		<pubDate>Sun, 05 Feb 2012 15:16:43 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8749#comment-15886</guid>
		<description>&#8235;יצאתי בוק. תודה קוואמי&#8236;</description> 		<content:encoded><![CDATA[<p>יצאתי בוק. תודה קוואמי</p>
]]></content:encoded>
	</item>
</channel>
</rss>
