<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>&#8235;ה ק צ ה &#124;&#124; K Z  R a d i o&#8236;</title>	<atom:link href="https://old.kzradio.net/feed" rel="self" type="application/rss+xml" />
	<link>https://old.kzradio.net</link>
	<description>&#8235;הקצפת של המוזיקה &#124;&#124; א\&#039; ו-ג\&#039;, 22:00, גלגל\&#34;צ &#124;&#124; Sun, Tue 22:00 GLGLZ&#8236;</description>	<lastBuildDate>Sun, 18 Mar 2012 07:19:59 +0000</lastBuildDate>
	<language>#</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.3.1</generator>
		<item>
		<title>&#8235;שירים שהיינו משדרים אם היתה תוכנית הלילה, 18.3.12&#8236;</title>		<link>https://old.kzradio.net/posts/8887</link>
		<comments>https://old.kzradio.net/posts/8887#comments</comments>
		<pubDate>Sun, 18 Mar 2012 07:19:59 +0000</pubDate>
		<dc:creator>&#8235;Quami&#8236;</dc:creator>				<category><![CDATA[פלייליסט]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8887</guid>
		<description><![CDATA[&#8235;לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית נולום ארווס סאפיאן &#8211; סליחה. אנחנו כל כך רגילים לטקסט דמה כמו זה בגלל העבודה על האתר החדש שלנו, שלא שמנו לב שכאן צריך לתת הקדמה אמיתית עם איזשהי משמעות. נניח כמה מילים על כך שיש רק עוד &#34;לו היינו עושים הערב תוכנית&#34; אחד, בשבוע הבא, לפני [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><p><a href="https://old.kzradio.net/wp-content/uploads/2012/03/BURIAL.-FOUR-TET-NOVA.jpg"><img class="aligncenter  wp-image-8890" title="BURIAL. FOUR TET, NOVA" src="https://old.kzradio.net/wp-content/uploads/2012/03/BURIAL.-FOUR-TET-NOVA.jpg" alt="" width="420" height="640" /></a></p>
<p>לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית נולום ארווס סאפיאן &#8211; סליחה. אנחנו כל כך רגילים לטקסט דמה כמו זה בגלל העבודה על האתר החדש שלנו, שלא שמנו לב שכאן צריך לתת הקדמה אמיתית עם איזשהי משמעות. נניח כמה מילים על כך שיש רק עוד &quot;לו היינו עושים הערב תוכנית&quot; אחד, בשבוע הבא, לפני שנחזור לעשות את מה שאנחנו הכי אוהבים, לשדר מוזיקה בקצה.</p>
<p>אז הנה רשימת המציאות השבועית שלנו בינתיים &#8211; פלייליסט יוטיוב ממש כאן מתחת, ואז תגללו מטה לקצת קשקושים שלנו על המוזיקה.</p>
<p><iframe src="https://www.youtube.com/embed/videoseries?list=PLABBDEC3872512027&amp;hl=en_US" frameborder="0" width="450" height="259"></iframe></p>
<p>&nbsp;</p>
<p id="internal-source-marker_0.7281041322033371" dir="rtl"><strong>Orbital featuring Zola Jesus &#8211; New France</strong></p>
<p dir="rtl">לקראת בואה של זולה ג’יזס להופעה בזאפה בת”א ב14 באפריל לא יכולנו לקבל משהו ממיס יותר מהקליפ החדש לסינגל של אורביטל בו היא מתארחת. באפריל יוציא הצמד האלקטרוני הוותיק אלבום חדש, ולפני שתטו אוזן להקשיב לשאר הפלייליסט שלנו, אנחנו ממליצים שתביטו גם בוידאו הזה.</p>
<p style="text-align: right;" dir="ltr"><strong>Kindness &#8211; That's Alright</strong></p>
<p dir="rtl">עוד שיר מתוך אחד מאלבומי השנה המסתמנים שלנו, הקטע הזה הוא מחווה לFאנק הלבן של האייטיז, שמן, נפוח וסינתטי</p>
<p style="text-align: right;" dir="ltr"><strong>La Sera &#8211; Please be my third eye</strong></p>
<p dir="rtl">ממש לא מזמן הוציאה פרנקי רוז, חברת הרכב הגראז’ הנשי ויויאן גירלז, אלבום חדש וחולמני שהתייחסנו אלין <a href="https://old.kzradio.net/posts/8749" target="_blank">כאן</a> ועכשיו מוציאה לה סרה, חברתה לאותו הרכב ברוקלינאי, את אלבום הסולו השני שלה, שהקטע הזה מופיע בו. להבדיל מהגוון האלקטרוני יחסית של פרנקי רוז, החדש של לה סרה  מזכיר בעיקר את להקת האם: דיסטורשנים כמעט אגרסיביים שמרוככים כל הזמן ע”י הרמוניות קוליות נשיות.</p>
<p style="text-align: right;" dir="ltr"><strong>Killing Joke &#8211; Rapture</strong></p>
<p dir="rtl">הנה להקה וותיקה,שמראה לצעירים &#8211; אלו שמוכנים להקשיב, איך להישאר נאמן לעצמך, למוזיקה שאתה רוצה לעשות ולהזדקן איתה בכבוד, מבלי להרוג את עצמכם כבדיחה (ניסינו..), ובמאתיים אחוז של כוונה וחיות. קילינג ג’וק שהוקמה בסוף הסבנטיז, ובמהלך השנים שייטה בין פוסט-פאנק, לאלמנטים גותיים בואך אינדאסטריאל ועד מטאל, התאחדה בהרכבה המקורי לפני כארבע שנים והוציאה ב2010 את האי.פי. המצוין In Excelsis, ואחריו את האלבום הנהדר והממש לא מספיק מוערך או מתוקשר -Absolute dissent. בקרוב מאד הם יוציאו באותו הרכב אלבום נוסף, ו”ראפצ’ר” הוא הסינגל החדש מתוכו.</p>
<p style="text-align: right;" dir="ltr"><strong>Unsane &#8211; No chance</strong></p>
<p dir="rtl">לא חסרות נקודות לביאור אכזריות המוזיקה של אנסיין באלבומם החדש &#8211; המתופף שלהם הגיע אליהם אחרי שניגן עם הSwans ועם Foetus; התקופה בה חיממו בהופעות את Slayer; העובדה שמההתחלה הם בחרו בקיצוניות- גם במוזיקה וגם באימג’ים. אבל דבר לא מסביר את חוסר הרחמים המוזיקלי שלהם כמו המחשבה על אותו לילה ב1998- בו הותקף כריס ספנסר הסולן ע”י בריונים בווינה אוסטריה אחרי הופעה, התקפה שכמעט ועלתה לו בחייו, אחרי שהושאר למות לבדו ברחוב. כשהוא שר והם מנגנים היום קשה שלא לחשוב שגם באלבומם החדש, Wreck, שיוצא 14 שנה אחרי ששרד כמעט בנס את אותו מקרה, הוא שר ממקום של נקמה. Wreck, שהשיר הזה מייצג אותו לא רע, יצא, אגב, באלטרנטיב טנטקלז, הלייבל חסר הפשרות של ג’לו ביאפרה, ומיובא לארץ ע”י הלייבל קמע.</p>
<p style="text-align: right;" dir="ltr"><strong>Jack White &#8211; Sixteen saltlines</strong></p>
<p dir="rtl">זה רק אנחנו או שגם אתם מרגישים שג’ק ווייט הרבה יותר נהנה מאז שהווייט סטרייפס כבר לא? גם כמפיק מוזיקלי פורה (את מה שהוא עשה לטום ג’ונס כבר שמעתם?) וגם בפעילותו כאקט סולו. זה השיר החדש שהוא שחרר השבוע לקראת האלבום הראשון שלו לבד שיצא בסוף אפריל.</p>
<p style="text-align: right;" dir="ltr"><strong>The gossip &#8211; Perfect world</strong></p>
<p dir="rtl">דה גוסיפ בראשות בת’ דיטו כבר השלימו כמעט לחלוטין את הקרוסאובר שלהם לעולם הפופ ונראה שהם מצאו את עצמם במקום בו המיינסטרים ישמח בקיומם. ועדיין, אנחנו מוצאים אותם מסקרנים, לפחות עד שנדע איך ישמע האלבום המלא. מה אתם אומרים על הסינגל החדש הזה שלהם?</p>
<p style="text-align: right;" dir="ltr"><strong>New Build &#8211; Misery loves company</strong></p>
<p dir="rtl">אנחנו ממש מקווים בשביל הוט צ’יפ שהם מודעים לתחרות שהם הציבו לעצמם. במהלך השנה הזאת תוציא אחת החבורות האהובות עלינו בקצה את אלבומה החדש. וזה בשנה בה ג’ו גודארד הוציא את אלבום הבכורה המענג של The 2 Bears, <a href="https://old.kzradio.net/posts/8749" target="_blank">ששמנו פה קטעים מתוכו לא מזמן</a> ועכשיו משתחרר לאוויר העולם &quot;Yesterday Was Lived And Lost&quot; &#8211; אלבום הבכורה של New Build, שלישיה שכוללת שניים מחברי הוט צ’יפ &#8211; אל דויל ופליקס מרטין. יש לציין שמשהו ברמת ההפקה והשירה נשמע קצת אפור (רק יחסית, רק יחסית!) לסטנדרטים של הוט צ’יפ, אבל בכל מה שקשור לכתיבת שירים, לחנים וגרובים &#8211; זה רק עוד אלבום פופ מצוין,שלא לומר צנוע, מבית החבורה. וזה לא עניין של מה בכך בעולם הפופ המסואב והיהיר של ימינו.</p>
<p style="text-align: right;" dir="ltr"><strong>Little Jinder &#8211; Keep On Dreaming (Deadboy Remix)</strong></p>
<p dir="rtl">רימיקסים חדשים של דדבוי נכנסים כמעט תמיד לתוכנית שלנו. למה כמעט, בעצם. תמיד.</p>
<p style="text-align: right;" dir="ltr"><strong>Teen Daze &#8211; Brooklyn Sunburn</strong></p>
<p dir="rtl">לפני שנה השמענו בפעם הראשונה את טין דייז בקצה. בינתיים הסאונד שלהם קצת התרכך ואיבד מעט מהייחוד, אבל אנחנו עדיין מחבבים את גרסת האינדי-סינת-פופ שלהם</p>
<p style="text-align: right;" dir="ltr"><strong>Thieves Like Us &#8211; Stay Blue</strong></p>
<p dir="rtl">אלבום רביעי של ההרכב שגנב מניו אורדר את השם ומפיטר הוק את הגיטרה. אם אתם קונים אלבום אחד השנה זה כנראה לא יהיה האלבום הזה, אבל אם יש לכם קצת יותר מ-10 מגה בייט פנויים על האייפוד, השיר הזה ספציפית יעשה לכם נעים באוזן</p>
<p style="text-align: right;" dir="ltr"><strong>Oberhofer &#8211; Away FRM U</strong></p>
<p dir="rtl">השיר הזה יצא כשבראד אוברהופר היה בן 19. שנתיים מאוחר יותר, וסופסוף יוצא גם אלבום הבכורה. שנתיים מאוחר, הוא עדיין המנון אינדי פופ לואו-פיי של פעם בחיים, גם אם החיים שלך עוד לא הגיעו לעשור השלישי.</p>
<p style="text-align: right;" dir="ltr"><strong>Lotus Plaza &#8211; Strangers</strong></p>
<p dir="rtl"><a href="https://old.kzradio.net/posts/8767" target="_blank">שמנו כאן לא מזמן</a> את השיר הקודם והמרהיב של לוטוס פלאזה, חבר להקת  דירהאנטר, מאלבום הסולו השני והמתקרב שלו. “זרים”, השיר החדש יותר מתוכו, הרבה יותר קליט, הרבה יותר מזכיר את דירהאנטר ולמעשה ממש נשמע כאילו יכול היה להיכתב בשיא ימי להקות השוגייזינג של תחילת שנות ה90.</p>
<p style="text-align: right;" dir="ltr"><strong>Dodgy &#8211; Tripped and fell</strong></p>
<p dir="rtl">הנה קאמבק שלא חשבנו שנזכה לשמוע וגם שלא חשבנו שיעשה לנו יותר מידי. דודג’י היתה טיפה אחת בים להקות הבריט-פופ של תחילת הניינטיז. הם היו חמודים לגמרי,אבל לא בדיוק השאירו אימפקט כלשהו על העולם. אלבום האולפן האחרון שלהם יצא לפני11 שנה, אבל מזה חמש שנים הם שבו להופיע בהרכב המקורי, ומי היה מאמין שאלבומם החדש ,Stand upright in a cool place, בפשטותו נטולת היומרות, הרבה אחרי ימי הזהר שלהם (שבעצמם לא היו זוהרים במיוחד) יתגלה כאחד האלבומים היפים של התקופה. תקשיבו בעצמכם &#8211; זה השיר שפותח אותו.</p>
<p style="text-align: right;" dir="ltr"><strong>Py &amp; Damu &#8211; Blind</strong></p>
<p dir="rtl">בשבוע שעבר צוין יום הפיי הבינלאומי. וזו כבר סיבה אחת שלא קשורה לכלום כדי להקשיב לשיתוף הפעולה הזה בין<a href="http://pymusic.tumblr.com/"> זמרת הבית של לא מעט מפיקי פוסט-סטפ</a> עם אחד המפיקים המוצלחים בז'אנר. גם אם השיר הזה הוא שלם הקטן מסך חלקיו, תנו לו צ'אנס ולו בשל סאונד האקדח הנטען שהופך כאן לחלק מהביט.</p>
<p style="text-align: right;" dir="ltr"><strong>Bobby Womack &#8211; Please Forgive My Heart</strong></p>
<p dir="rtl">בובי וומאק, אגדת הסול (Across 110th Street, אולי השיר הכי מוכר שלו), חוזר למרכז הבמה. אחרי שהתארח באלבום האחרון של גורילאז, דיימון אלבארן וריצ'ארד ראסל, האיש שכבר העניק את הטאץ' העכשווי שלו לגיל סקוט הרון, תופרים לוומאק חליפה עדכנית. הפלייבק נשמע קצת כמו שאריות מהאולפן של ג'יימס בלייק, בקטע טוב. והשיר הזה פשוט נהדר.</p>
<p style="text-align: right;" dir="ltr"><strong>Burial + Four Tet &#8211; Nova</strong><br />
<strong>One Little Plane &#8211; She Was Out In The Water</strong></p>
<p dir="rtl">אחד היתרונות הבודדים בלהכין את הפלייליסטים האלה, הוא שאפשר להכניס כאן שירים שאין לנו את העותק הפיזי שלהם בבית, אפילו אם ב&quot;פיזי&quot; אנחנו מתכוונים לקובץ באיכות טובה. קיירן הבדן אחראי לשני הקטעים האלה, אחד עם בריאל, בשיתוף פעולה נוסף ביניהם, והקטע השני הוא על תקן מפיק שחוזר קצת לתקופה היותר פולקית שלו.</p>
<p style="text-align: right;" dir="ltr"><strong>Lemonade &#8211; Neptune</strong></p>
<p dir="rtl">אר-אנ'-בי פוגש צ'יל ווייב בחצר בית ספר של סרט נעורים מהאייטיז.</p>
<p style="text-align: right;" dir="ltr"><strong>Advance Base &#8211; Summer music</strong></p>
<p dir="rtl">חדש ועצוב ל-Casiotone For The Painfully Alone, פרוייקט הלו-פיי האלקטרוני מסן פרנסיסקו, או ליתר דיוק לאיש מאחוריו &#8211; אוון אשוורת’, שהחליט להפסיק לפעול בשם הקודם, ולעשות את המוסיקה שלו תחת השם הבהחלט יותר אפור- Advance Base. מה זה משנה, צריכים יותר כמוהו בעולם, איך שלא יחליט לקרוא לעצמו.</p>
<p style="text-align: right;" dir="ltr"><strong>Twin Shadow &#8211; Here comes the flood</strong></p>
<p dir="rtl">רק <a href="https://old.kzradio.net/posts/8868" target="_blank">בשבוע שעבר הללנו כאן את טווין שדואו</a>. פיטר גבריאל הוא מאלילי ילדותינו. ועכשיו טווין שדואו עושה את אחד משירי המופת של גבריאל. לומר שצריך הרבה אומץ להתמודד עם השיר הזה &#8211; אנדרסטייטמנט. טווין שדואו מתמודד איתו בגבורה.</p>
<p>&nbsp;</p>
<p><a href="https://old.kzradio.net/wp-content/uploads/2012/03/421575_328958173827838_178573098866347_968287_1614316523_n.jpg"><img class="aligncenter size-full wp-image-8891" title="" src="https://old.kzradio.net/wp-content/uploads/2012/03/421575_328958173827838_178573098866347_968287_1614316523_n.jpg" alt="" width="339" height="720" /></a></p>
<p style="text-align: right;" dir="ltr"><strong>Robyn Hitchcock &#8211; Cathedral</strong></p>
<p dir="rtl">בספטמבר האחרון הגיע רובין היצ’קוק לראשונה לישראל ונתן שתי הופעות מרגשות ביותר באוזן בר בת”א. גם אם אתם לא מודעים לגיבור הקאלט הנ”ל שפועל עוד מסוף שנות ה70, אז עם ה-Soft Boys,דרך קריירת סולו שכללה לא מעט פסגות, ההופעות ההן הבהירו שלא צריך להכיר את פועלו כדי להתרגש. משהו בשירים, באישיות, בהומור שלו על הבמה בניגוד למרירות הטקסטים והלחנים, פשוט אוחז בלב. ביום חמישי הקרוב הוא ישוב לאוזן בר,הפעם עם The Venus 3- להקה שכוללת לא אחר מאשר את פיטר באק מאר.אי.אם, וכל זאת <a href="http://www.facebook.com/events/152013744917732" target="_blank">במסגרת חגיגות יומולדת 25 לאוזן</a>. וזה מאד מאד מאד מומלץ אם עדיין לא הבהרנו מספיק. השיר הזה לקוח מאחד מאלבומי השיא של היצ’קוק, I Often Dream of Trains  מ-84'.</p>
<p style="text-align: right;" dir="ltr"><strong>Daniel Rossen &#8211; Return to form</strong></p>
<p dir="rtl">שיר אחד מהאי.פי. החדש של איש גריזלי בר, דניאל רוזן, <a href="https://old.kzradio.net/posts/8690" target="_blank">שמנו כאן עוד בינואר</a>. עכשיו כשהגיע האי.פי. המלא, כמה לא מפתיע, כולו מוצא חן באוזנינו. גם זה שם.</p>
<p style="text-align: right;" dir="ltr"><strong>The Shins &#8211; September</strong></p>
<p dir="rtl">השינז הם מעמודי התווך של האינדי פופ האמריקאי. השבוע הם יוציאו את אלבומם החדש, וזה אחד השירים היותר מוצלחים מתוכו.</p>
<p style="text-align: right;" dir="ltr"><strong>Miike Snow &#8211; Black Tin Box (feat. Lykke Li)</strong></p>
<p dir="rtl">האלבום השני של החבורה השוודית הולך כבר להפוך לאירוע גדול יותר, וכנראה שבצדק. כאן הם משתפים פעולה עם ליקה לי, באחד הרגעים הכי יפים באלבום</p>
<p style="text-align: right;" dir="ltr"><strong>IAmAmIWhoAmI &#8211; Good worker</strong></p>
<p dir="rtl">קליפ ושיר חדש נוסף לפרוייקט המיסתורי של הזמרת/יוצרת השוודית שמכנה את עצמה IAmAmIWhoAmI. לאחר ששיגרה בשנתיים האחרונות סדרה של קליפים אפלים ומהפנטים, שלוו במוזיקה מרתקת לא פחות, יצא השבוע החדש בשיריה,  לקראת אלבום שלם שאמור לצאת ביוני השנה. השיר, שגם הפעם ממשיך להזכיר את The Knife, הוא טיפה יותר קונבנציונאלי, אבל שווה בהחלט את ההאזנה והמבט שלכם.</p>
<p style="text-align: right;" dir="ltr"><strong>Pachanga Boys (Superpitcher &amp; Rebolledo) &#8211; Time</strong></p>
<p dir="rtl">טריפ האוס מקסים ומחמם לב של הצמד שמורכב מ-Superpitcher הגרמני ומ-Rebolledo המקסיקני.</p>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8887/feed</wfw:commentRss>
		<slash:comments>6</slash:comments>
		</item>
		<item>
		<title>&#8235;שירים שהיינו משדרים אם היתה לנו הלילה תוכנית, 11.3.12&#8236;</title>		<link>https://old.kzradio.net/posts/8868</link>
		<comments>https://old.kzradio.net/posts/8868#comments</comments>
		<pubDate>Sun, 11 Mar 2012 08:00:42 +0000</pubDate>
		<dc:creator>&#8235;nadav&#8236;</dc:creator>				<category><![CDATA[פלייליסט]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8868</guid>
		<description><![CDATA[&#8235;עוד שלושה שבועות אתם הולכים לראות על מה אנחנו עובדים יומם וליל. אין לכן מושג עד כמה זה מרגש אותנו. בכל מקרה, השבוע האחרון רק הזכיר לנו עד כמה נחוצה לנו תוכנית רדיו &#8211; כל כך הרבה מוזיקה חדשה מדהימה הגיעה אלינו, שזה כנראה מזל שממש עוד מעט יהיה לנו איפה להשמיע אותה. הנה הפלייליסט [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><p style="text-align: center;"><span style="color: #ff0000;"><a href="https://old.kzradio.net/wp-content/uploads/2012/03/Julia-Holter.png"><img class="aligncenter  wp-image-8876" title="Julia Holter" src="https://old.kzradio.net/wp-content/uploads/2012/03/Julia-Holter.png" alt="" width="461" height="339" /></a></span></p>
<p style="text-align: right;">עוד שלושה שבועות אתם הולכים לראות על מה אנחנו עובדים יומם וליל. אין לכן מושג עד כמה זה מרגש אותנו. בכל מקרה, השבוע האחרון רק הזכיר לנו עד כמה נחוצה לנו תוכנית רדיו &#8211; כל כך הרבה מוזיקה חדשה מדהימה הגיעה אלינו, שזה כנראה מזל שממש עוד מעט יהיה לנו איפה להשמיע אותה.</p>
<p style="text-align: right;">הנה הפלייליסט ליוטיוב, ומתחת, תקראו את הקשקושים שלנו, ועוד כמה תוספות שלא נכנסו בפלייליסט המצורף.</p>
<p style="text-align: right;">שבוע מצוין, קוואמי ונדב.</p>
<p><iframe src="https://www.youtube.com/embed/videoseries?list=PL2226CCA72BA5807C&amp;hl=en_US" frameborder="0" width="460" height="264"></iframe></p>
<p style="text-align: right;" dir="ltr"><strong>Ministry &#8211; Double tap</strong></p>
<p dir="rtl">יש דברים שמרגיע לדעת שהם פה. מיניסטרי למשל. להקה מרגיעה. אחרי שכבר הוכרז על פירוק התאחד שוב הרכב האינדסטריאל-מטאל-פאנק הפוליטי לא שם זין של אל יורגנסון, ולקראת אלבום שיצא רשמית בסוף החודש, שחרר סינגל שני. יש סיטארים.</p>
<p><strong>Fidlar &#8211; No Waves</strong></p>
<p dir="rtl">הרכב גראז’ מאל.איי באחד השירים הכי כיפים של השנה בינתיים</p>
<p style="text-align: right;" dir="ltr"><strong>Holograms &#8211; Hidden Structures</strong></p>
<p dir="rtl">הרכב שוודי בשיר חדש שנשמע כמו סשן של הראמונז עם גארי ניומן, מה רע?</p>
<p style="text-align: right;" dir="ltr"><strong>The Cribs &#8211; Come on, be a no one</strong></p>
<p dir="rtl">אפשר לפטור את דה קריבס די בקלות כעוד להקת אינדי-רוק בריטית שניסתה להיות הדבר הבא ונבלעה בגל להקות הרוק החדשות של תחילת העשור שעבר, ולמי אכפת וכו’ וכו’. אבל למי איכפת באמת כשהסינגל החדש (והמאד פו פייטרי) שלהם הוא פשוט אחלה של שיר.</p>
<p style="text-align: right;" dir="ltr"><strong>Kishi Bashi &#8211; It All Began With a Burst</strong></p>
<p dir="rtl">במסגרת חגיגות עוף מונטריעול, הנה פרוייקט סולו של חבר בלהקה, או מישהו שמנגן איתם לייב לייתר דיוק. בכל מקרה, הוא גם יהיה כאן איתם, והפרוייקט שלו קישי באשי נשמע מסקרן וטעים</p>
<p style="text-align: right;" dir="ltr"><strong>Kindness &#8211; cyan</strong></p>
<p dir="rtl">הנה מגיע אחד הבאזזים הכי חמים של הרגע. בטח נעוף על התקליט הזה הרבה ברגע שהתחנה החדשה שלנו תתחיל לעבוד. תחשבו על הרגעים הכי קומוניקטיביים של אריאל פינק, ותחשבו על הוט צ'יפ מנגנים אותם מתוך חלום. זה אולי מצליח לתאר קצת איך נשמע דה קיינדנס.</p>
<p style="text-align: right;" dir="ltr"><strong>Lucky Paul &#8211; Elephant Island ft. Mara TK (Midland Remix)</strong></p>
<p dir="rtl">מידלאנד מתמחה בסוג של האוס עמוק ויציב, והטיפול שלו כאן בקטע הזה של לאקי פול הוא כמו מנה עשירה בפחמימות אחרי לילה ארוך של אלכוהול.</p>
<p style="text-align: right;" dir="ltr"><strong>Kodiak &#8211;  Spreo Superbus</strong></p>
<p dir="rtl">הלייבל נאמברס ממשיך להפגיז, עם עוד קטע שמוחק בשמחה את הגבולות בין האוס, לטכנו, לדאבסטפ וסול.</p>
<p style="text-align: right;" dir="ltr"><strong>Sinkane &#8211; Runnin' (Daphni Mix)</strong></p>
<p dir="rtl">יש רק איש אחד בעולם שיכול לחבר מוזיקה אפריקאית לטכנו מחופף עם אינדי פופ. הקצה 3&gt; דן סניית'.</p>
<p style="text-align: right;" dir="ltr"><strong>Bear In Heaven &#8211; Sinful nature</strong></p>
<p dir="rtl">בקרוב יצא לדובי בגן עדן מברוקלין אלבום חדש עם השם ההיפסטרי משהו “I Love You, It’s Cool”. אבל זה רק על פניו, כי לא שלא יכול להיות משהו במשפט הזה. כמו שיש משהו בסינגל שהם שחררו ממנו השבוע.</p>
<p style="text-align: right;" dir="ltr"><strong>Pond &#8211; Sun &amp; Sea &amp; You</strong></p>
<p dir="rtl">מתוך אלבום חדש ורביעי להרכב גיטרות פסיכדלי מאוסטרליה, שמאד מזכיר את טיים אימפלה, ולא במקרה- יש לשתי הלהקות שלשה חברים משותפים. כמה שירים מאד מוצלחים באלבום הזה, זה אחד מהם.</p>
<p style="text-align: right;" dir="ltr"><strong>Jonquil &#8211; History Of Headaches</strong></p>
<p dir="rtl">ביצוע בהופעה חיה, עדין ויפהפה, לאחד השירים הכי יפים מתוך האלבום החדש של ג'ונקיל.</p>
<p style="text-align: right;" dir="ltr"> <strong>Neon Indian &#8211; Hex Girlfriend (Twin Shadow Remix)</strong></p>
<p dir="rtl">טווין שדואו הרוויח ביושר את הזכות להיות מיוצג בקצה עם כל דבר חדש שהוא עושה, וזה כולל גם את הרימיקס הזה לצ'ילווייבר בדימוס, ניאון אינדיאני.</p>
<p style="text-align: right;" dir="ltr"><strong>Julia Holter &#8211; In the Same Room</strong></p>
<p dir="rtl">וואו. ג'וליה הולטר נשמעת כמו כל כך הרבה דברים &#8211; קייט בוש עם מקלדת לואו פיי, עושה צ'יל ווייב בדואט עם ג'ואנה ניוסום ורובוט אייטיז. אחד האלבומים הכי יפים של השנה, אין לנו בכלל ספק.</p>
<p style="text-align: right;" dir="ltr"><strong>Bjork &#8211; Hollow</strong></p>
<p dir="rtl">ביורק חטפה לא מעט אש על Biophilia- האלבום האחרון שלה שיצא בשנה שעברה. נדמה שהעולם מאבד את הסבלנות שלו אליה, שנמאס לאנשים מהיומרה, שלמבקרים אין כח יותר להקשיב ושלא כולם מנסים או רוצים להבין את החזון הנוכחי שלה. כל זה מגיע כהקדמה לזה שאתם חייבים,פשוט חייבים, לצפות בקליפ החדש של ביורק ל-Hollow שמופיע באותו תקליט. נכון שלרגעים זה עשוי להזכיר לכם כמה אימג'ים שכבר ראיתם בימי הפריצה של פיוצ'ר סאונד אוף לונדון, אבל זה לא משנה את כמה שהקליפ הזה מרהיב.</p>
<p style="text-align: right;" dir="ltr"><strong>Metronomy &#8211; The Look (Two Inch Punch's Shook Shook Refix)</strong></p>
<p dir="rtl">אלבום הפופ המצוין משנה שעברה, חוזר עם שלל רימיקסים אקסקלוסיביים שעדיין לא ראו אור.</p>
<p style="text-align: right;" dir="ltr"><strong>DVA &#8211; Eye Know feat Natalie Maddix</strong></p>
<p dir="rtl">אחד המפיקים הבולטים בסצינת היו-קיי פאנקי/גריים הלונדונית, עם אלבום מלא שיוצא בהייפרדאב, ואלבום שגם פוזל לצלילים של הניו-ג'אז והברוקן ביט, מאמצע העשור הקודם.</p>
<p style="text-align: right;" dir="ltr"><strong>Matthewdavid &#8211; Diamond Ring (Deele flip)</strong></p>
<p dir="rtl">מיקסטייפ, או מיני אלבום, חינמי, של מפיק הביטים הלוס-אנג'לסי. הקטע הזה הוא ההיילייט מתוכו.</p>
<p style="text-align: right;"> <strong>The Golden Filter &#8211; Kill me</strong></p>
<p dir="rtl">שיר חדש ומושלם לצמד האינדיטרוני הניו יורקי גולדן פילטר.</p>
<p> <strong>Choir Of Young Believers &#8211; Nye nummer et</strong></p>
<p dir="rtl">למרות שהוא גובל בקיטש, קשה להתעלם מיופיים של כמה וכמה מהשירים באלבום החדש של הרכב האינדי-פופ הזה מדנמרק. האלבום החדש שלהם  יוצא כמו קודמו במפתיע דווקא בגוסטלי אינטרנשיונל- הלייבל של מת’יו דיר.</p>
<p style="text-align: right;" dir="ltr"><strong>Andrew Bird &amp; St. Vincent &#8211; Lusitania</strong></p>
<p style="text-align: right;" dir="rtl">אנחנו יודעים שרבים מכם מאד אוהבים את אנדרו בירד, ואתם יודעים ששניים מאיתנו מאד אוהבים את סנט וינסנט. ב-Break It Yourself, האלבום החדש שלו, יש לאנדרו בירד דואט עם סנט וינסנט. לטובת כולנו (:</p>
<p style="text-align: right;" dir="ltr"><strong>Micheal Kiwanuka &#8211; Worry Walks Beside Mme</strong></p>
<p dir="rtl">הנה זה בא, תקליט אחד שאפשר לומר מבלי למצמץ שיככב ברשימות אלבומי השנה לכשתסתיים, ושגם עשוי בהחלט להיות קרוסאובר השנה. זה לא סתם נסיון קלוש להימור. אם שמעתם אותו אתם כבר יודעים. ואם לא, פשוט תקשיבו לאיש הזה שמצליח להזכיר בשירה שלו את ניק דרייק,רנדי ניומן,ואן מוריסון ואל גרין בו זמנית. והוא רק בן 24. מייקל קיוואנוקה, שהושמע כבר רבות בקצה בשנה שעברה. אלבום הבכורה שלו בחוץ, והשיר הזה ישבור לכם את הלב.</p>
<p style="text-align: right;" dir="ltr"><strong>Of Montreal &#8211; Feminine Effects</strong></p>
<p dir="rtl">ההתרגשות לקראת בואם של אוף מונטריאול <a href="http://www.facebook.com/events/176719715775154">להופעה בבארבי  ב-7 במאי</a> הולכת וגוברת, והשבוע הם שחררו גרסה חדשה לשיר שלהם שיצא במקור לפני כארבע שנים. הדבר הקסום הזה יוצא בתקליטון כפול, שבצידו השני שיר של דירהוף, לכבוד יום חנויות התקליטים העולמי שיתקיים ב21 באפריל.</p>
<p style="text-align: right;" dir="ltr"><strong>David Sylvian &#8211; Where’s Your Gravity</strong></p>
<p dir="rtl">בעמוד הפייסבוק של הקצה (אתם עוקבים?) ציינו כאן לא מזמן את יום הולדתו של אחד הזמרים הנפלאים בעולם, דייויד סילביאן. עכשיו הוא הוציא אוסף כפול עם השם המדויק A victim of stars, שמנסה לתת את מיטב קריירת הסולו שלו. במהלך השנים סילביאן מעולם לא חשש מניסיוניות ומחדשנות, ותמיד חיפש דרך אחרת בזמן שרבים ציפו ממנו להפוך ללא יותר מאייקון אייטיז נוסטלגי. בעשור האחרון הוא חיפש וגם מצא את עצמו במשעולים אלקטרוניים אמביינטיים ,מלאי אורך רוח ונטולי בנאליות, למשל כששיתף פעולה עם Fennesz. האוסף נחתם בשיר אחד חדש שממשיך את הקו הזה, והוא מהיותר יפים שלו בשנים האחרונות.</p>
<p style="text-align: right;" dir="ltr"><strong>Mirel Wagner &#8211; The Road</strong></p>
<p dir="rtl">לזמרת-יוצרת הזאת שחיה בפינלנד ומוצאה מאתיופיה התייחסנו כאן בתחילת החודש שעבר (<a href="../posts/8749">https://old.kzradio.net/posts/8749</a> )הנה שיר נוסף וחזק מבית האקוסטיקה הבלוזית של של הגברת וגנר.</p>
<p style="text-align: right;" dir="ltr"><strong>Beach House &#8211; Myth</strong></p>
<p dir="rtl">אחרי החלטורה הקצרה עם אייר, ויקטוריה לגראנד חוזרת לבולטימור, ואל ביץ' האוס, עם שיר שמזין את מכונת השמועות בנוגע לאלבום חדש של הצמד</p>
<p>&nbsp;</p>
<p style="text-align: center;" dir="ltr"><a href="https://old.kzradio.net/wp-content/uploads/2012/03/kiwanuka1.jpg"><img class="aligncenter  wp-image-8879" src="https://old.kzradio.net/wp-content/uploads/2012/03/kiwanuka1.jpg" alt="" width="480" height="480" /></a></p>
<p dir="rtl">לא ביוטיוב אבל אי אפשר שלא לשים :</p>
<p style="text-align: right;" dir="ltr"><strong>Mark lanegan &amp; Isobell Campbell &#8211; The Breaking Hands</strong></p>
<p style="text-align: center;" dir="ltr"><iframe width="" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F38985392&amp;"></iframe></p>
<p dir="rtl">כנראה שמישהו שם רוצה לגרום לנו לבכות. השיר הכי מרגש בעולם של ה-Gun Club וג’פרי לי פירס זצ”ל, מתוך המאסטרפיס שלהם Mother Juno מ87’, בביצוע מחודש של מארק לאנגן ואיזובל קמפבל. מאלבום המחווה השני לג’פרי לי פירס שייצא בקרוב. בשבילך מיכל ניב.</p>
<p dir="rtl">&#8230;ובפינת המטאל:</p>
<p style="text-align: right;" dir="ltr"><strong>God Forbid &#8211; Don't tell me what to dream</strong></p>
<p style="text-align: center;" dir="ltr"><iframe src="https://www.youtube.com/embed/iiZvzklgBMA" frameborder="0" width="420" height="243"></iframe></p>
<p dir="rtl">סינגל חדש ומוחץ להרכב הגרוב-מטאל מניו ג'רזי מאלבומם החדש שיצא בסוף מרץ.</p>
<p style="text-align: right;" dir="ltr"><strong>Terrorizer &#8211; Hordes Of Zombies</strong></p>
<p style="text-align: center;" dir="ltr"><iframe src="https://www.youtube.com/embed/KIoefRhUAY8" frameborder="0" width="420" height="315"></iframe></p>
<p dir="rtl">אלה ימים יפים לזומבים. בישראל צועדים לכבודם, בטלוויזיה סוגרים שתי עונות של &quot;המתים המהלכים&quot; המפילה, וחשוב לא פחות אם לא יותר &#8211; הם נושאים את שם האלבום החדש והשלישי של טרורייזר, הרכב קיצוני מאל.איי שהוקם ב86-' וחבריו התפצלו להרכבים כמו נפלאם דת', מורביד איינג'ל ו-Nausea (והאלבום הזה הוקלט ללא ג'סי פינטדו, איש נפלאם דת', שנפטר לפני כשלש שנים). ואם תקשיבו תגיעו גם אתם למסקנה הברורה &#8211; אל תפחדו מהזומבים, הזומבים הם ידידינו.</p>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8868/feed</wfw:commentRss>
		<slash:comments>3</slash:comments>
		</item>
		<item>
		<title>&#8235;מה עושה את ארול כזה אחלן ?&#8236;</title>		<link>https://old.kzradio.net/posts/8856</link>
		<comments>https://old.kzradio.net/posts/8856#comments</comments>
		<pubDate>Tue, 06 Mar 2012 17:06:20 +0000</pubDate>
		<dc:creator>&#8235;Quami&#8236;</dc:creator>				<category><![CDATA[אירועים]]></category>
		<category><![CDATA[פלייליסט]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8856</guid>
		<description><![CDATA[&#8235;רוב הסיכויים שגם אם אינכם נמנים עם אלו שמכירים את ארול אלקן, נתקלתם בשם שלו בזמן זה או אחר בעשור האחרון &#8211; בין אם אתם מתעניינים במוזיקה אלטרנטיבית לגווניה, בין אם אתם אנשי רחבות, וכן, בהחלט אם אתם נמנים על מאזיני/ות הקצה. שמו של אלקן הוזכר אצלנו תכופות, ולא בכדי. גם כשלא הושמע ישירות, הוא [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><p style="text-align: center;"><iframe src="https://www.youtube.com/embed/videoseries?list=PL733B99BD8EC6D1A0&amp;hl=en_US" frameborder="0" width="560" height="315"></iframe></p>
<p dir="RTL">רוב הסיכויים שגם אם אינכם נמנים עם אלו שמכירים את ארול אלקן, נתקלתם בשם שלו בזמן זה או אחר בעשור האחרון &#8211; בין אם אתם מתעניינים במוזיקה אלטרנטיבית לגווניה, בין אם אתם אנשי רחבות, וכן, בהחלט אם אתם נמנים על מאזיני/ות הקצה. שמו של אלקן הוזכר אצלנו תכופות, ולא בכדי. גם כשלא הושמע ישירות, הוא היה והינו דמות משפיעה שמושכת בחוטים מאחורי הקלעים של כמה וכמה מהתחומים המוזיקליים שמסקרנים אותנו.</p>
<p dir="RTL">אלקן – כדי.ג'יי, מפיק, רמיקסר, מוזיקאי ומארגן מסיבות &#8211; הוא מהאחראים המרכזיים לשבירת מחיצות הזא'נרים של העשור ומשהו האחרון. הוא אחד המפיצים הבולטים של בשורת הPאנק-Fאנק באירופה ובבריטניה בפרט, והוא אחראי לאיחודים לא מעטים בין עולם האינדי-רוק לעולם הרחבות. יש משהו במגע שלו שגרם דווקא להרכבי רוק לעבוד איתו כמפיק מוזיקלי: פרנץ פרדיננד למשל (להם הפיק את הקאוור לAll my friends של אל.סי.די. סאונדסיסטם), המיסטרי ג'טס, דה לונג בלונדז והקלאקסונז, ובמיוחד Late Of The Pier, שאלבום הבכורה שלהם הוא יותר מכל מיצג הפקה יצירתי שלו. בנוסף, אלקן הוא גם מחלוצי הבאסטרד פופ: מהראשונים לומר דרך רמיקס שלא יקרה כלום אם תרקדו את ניו אורדר וקיילי מינו בו זמנית.</p>
<p dir="RTL">אבל יותר מכל, יש לאלקן את היכולת להפוך חלק לא מבוטל מהרמיקסים שהוא תופר דווקא לשירי אינדי-פופ/רוק למעין מסיבה קטנה בפני עצמה &#8211; היכולת לתרגם חווית האזנה לסט לחוויית האזנה לשיר. ולא במקרה הוא דאג לשרבל את פרנץ פרדיננד, אינטרפול, MGMT, בלוק פארטי, טיים אימפלה, היה יה יה'ז ועוד רבים מהאיזורים האלה.</p>
<p dir="RTL">שלושה מהיפים ביותר בחיבור הקרוס-ז'אנרי שלו לטעמינו, כפי שמיוצגים בסט היוטיוב שערכנו לכם/ן, הם הרמיקסים מלאי האהבה שהוא עשה בשנה שעברה לקונאן מוקאסין ולמטרונומי, וטיפול עדין שהוא עשה לקטע של ספייסמן-3, שהיה במקור הסינגל האחרון שהם הוציאו בסמוך לפירוק שלהם ב-1991.</p>
<p dir="RTL">וכל זה מדוע ? מכיוון שמחר (רביעי) הו ארול ארול  יגיע לתקלט<a href="http://www.facebook.com/events/342921415752405/" target="_blank"> במסיבת פורים של הדלי, ניוז, מיכהטרוניקס ופרטוק</a> בOperah Club בקיבוץ גלויות 49 בת&quot;א. היה אפשר לומר שחגיגה היא כפולה מכיוון שמייד אחריו יתקלט גם  <a href="http://www.tapud.co.il/archives/4776" target="_blank">מיכאל מאייר</a>  הנפלא, מייסד הלייבל הגרמני Kompakt, אבל בעצם היא הרבה יותר מזה בגלל הנציגות המקומית המשובחת: עפרי גופר, בנג'י, אוריה קלפטר ואביחי פרטוק.</p>
<p dir="RTL">אז לפניכם הסט היוטיובי שערכנו, שמורכב בעיקר מרמיקסים שאנחנו אוהבים של אלקן, מהפקות מוזיקליות שלו, וגם טיפה מעבודת המאש-אפ שלו תחת הכינוי קרטיס ראש, ועוד טיפה כחצי הצמד Beyond The Wizard’s Sleeve. פשוט לחצו פליי, ואם בא לכם כתבו לנו כאן מה חשבתם.</p>
<p dir="RTL">אה, ואם נדמה לכם שהסברנו משהו, זה באמת כלום, כי את הכיסוי היסודי ביותר אנחנו רוצים לשלוח אתכם לקרוא ולשמוע <a href="  http://www.tapud.co.il/archives/4767" target="_blank">בפוסט המעולה </a>של אחד הדיג'יים האהובים עלינו, אייל פ'אנק סינטרה גולדמן, שהרחיב במילים וביוטיובים על אלקן בבלוג של חברינו <a href="  http://www.tapud.co.il/archives/4767" target="_blank">תפוד</a>.</p>
<p dir="RTL">הו ארול אחלן.</p>
<p dir="RTL">והכי חשוב &#8211; לאן שלא תלכו בפורים הזה, תזכרו להתחפש רק אם בא לכם/ן. שאף אחד לא יבוא אליכם בטענות.</p>
<p dir="RTL"><a href="https://old.kzradio.net/wp-content/uploads/2012/03/il-0307-339880-front.jpg"><img class="aligncenter  wp-image-8860" title="" src="https://old.kzradio.net/wp-content/uploads/2012/03/il-0307-339880-front.jpg" alt="" width="500" height="698" /></a></p>
<h3 style="text-align: center;" dir="ltr"><em><span style="color: #ff00ff;">KZRadio's Erol Alkan Tribute Set Playlist:</span></em></h3>
<p style="text-align: left;" dir="ltr">Avalanche (Terminal Velocity) – Boys Noize &amp; Erol Alkan featuring Jarvis Cocker<br />
Why won’t you make up your mind?- Tame Impala (Erol Alkan Rework)<br />
Mammoth – Interpol (Erol Alkan Rework)<br />
The bears are coming &#8211; Late Of The Pier<br />
One minute lovecat &#8211; Kurtis Rush<br />
Hideway – The Mystery Jets (Switch Vs. Erol Alkan Remix)<br />
The bay &#8211; Metronomy (Erol Alkan’s Extended Rework)<br />
Forever dolphin love – Connan Mockasin (Erol Alkan Rework)<br />
All my friends – Franz Ferdinand (LCD Soundsystem cover)<br />
Big city – Spacemen3 (Erol Alkan Remix)<br />
Nostalgia – The Long Blondes<br />
Losing the will to survive – Findlay Brown (Beyond The Wizard’s Sleeve Reanimation Mix)</p>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8856/feed</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
		<item>
		<title>&#8235;שירים שהיינו משדרים אם היתה לנו הלילה תוכנית 4.3.12&#8236;</title>		<link>https://old.kzradio.net/posts/8843</link>
		<comments>https://old.kzradio.net/posts/8843#comments</comments>
		<pubDate>Sun, 04 Mar 2012 08:07:28 +0000</pubDate>
		<dc:creator>&#8235;Quami&#8236;</dc:creator>				<category><![CDATA[פלייליסט]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8843</guid>
		<description><![CDATA[&#8235;&#160; רגע, לפני שאנחנו מתחילים השבוע&#8230; מה זה הרעש הזה ברקע? נשמע כמו טיק טוק עצבני של שעון. נשמע התגברות השאון של הספירה לאחור לקראת הפתיחה של התחנה החדשה שלנו. נשמע כמו רעש של עשרות קליקים בקבוצה החדשה שעדיין לא קמה בפייסבוק &#8211; ביבי! בבקשה אל תפציץ את איראן לפני שעולה התחנה החדשה של הקצההה!!!!1111 [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><p>&nbsp;</p>
<p>רגע, לפני שאנחנו מתחילים השבוע&#8230; מה זה הרעש הזה ברקע? נשמע כמו טיק טוק עצבני של שעון. נשמע התגברות השאון של הספירה לאחור לקראת הפתיחה של התחנה החדשה שלנו. נשמע כמו רעש של עשרות קליקים בקבוצה החדשה שעדיין לא קמה בפייסבוק &#8211; ביבי! בבקשה אל תפציץ את איראן לפני שעולה התחנה החדשה של הקצההה!!!!1111</p>
<p>אז טוב, למרות שהיינו שוב נורא עסוקים בלראות את הגרסה הראשונית ביותר של האתר שלנו, מצאנו משום מה זמן לאסוף בשבילכם/ן את השירים של הרגע, שפשוט אי אפשר בלעדיהם.</p>
<p>קבלו פלייליסט יוטיוב (ללחוץ פליי&#8230;) ומתחת, קצת מילים כדי שיהיה מה לעשות בזמן שתקשיבו למוזיקה.</p>
<p>&nbsp;</p>
<p><iframe src="https://www.youtube.com/embed/videoseries?list=PLA2E7F899EF872693&amp;hl=en_US" frameborder="0" width="450" height="254"></iframe></p>
<p>&nbsp;</p>
<p id="internal-source-marker_0.8348806503532595" style="text-align: right;" dir="ltr"><strong>The Afghan Whigs &#8211; Debonair (live)</strong></p>
<p>לפני הכל- אחת משתי הבשורות המדהימות של השבוע, שטרם התאוששנו מהן. האפגן וויגז מגיעים לישראל.פאקינ' איי .ב15 ליוני בברבי. הנה הם בהופעת הבכורה שלהם אצל קונאן אובריאן, כמעט 20 שנה אחורה. הבשורה השניה למי שעוד לא יודע/ת : גראנדדי מתאחדים.</p>
<p style="text-align: right;" dir="ltr"><strong>Royal Headache &#8211; Girls</strong></p>
<p dir="rtl">חדש, מהיר, מעוך, חבורת אוסטרלים שכנראה מתים להיות האסקר דו, ואנחנו רק מרוויחים מזה. מתוך אלבום הבכורה שלהם שיצא בקרוב בלייבל What’s Your Rupture.</p>
<p style="text-align: right;" dir="ltr"><strong> Mind Spiders &#8211; Wait For Us</strong></p>
<p dir="rtl">נדמה שחלקו הראשון של האלבום החדש של המיינד ספיידרז (מדנטון טקסס, הפרוייקט של סולן הרכב הגראז’-פאנק המגניב The Marked Men) ממש מנסה להעלות באוב את רוחו של ג’יי ריטארד זצ”ל. למרבה הצער זה לא הולך מי יודע כמה. בחלקו השני והמוצלח למדי של האלבום הם עושים את אותה פעולה בדיוק, אבל מערבבים את מעשה הוודו שלהם בקדירת השפעות כבדה של להקת מגאזין. זה מהחלק השני.</p>
<p style="text-align: right;" dir="ltr"><strong>Eux Autres &#8211; Home tonight</strong></p>
<p dir="rtl">Eux Autres, “האחרים” בעברית, מארה”ב, הוציאו אי.פי חדש שכולו גראז’ פופ חולמני ונוגע ללב. השיר הזה במיוחד.</p>
<p><a href="https://old.kzradio.net/wp-content/uploads/2012/03/Regina-Spektor-All-The-Rowboats-608x608.jpg"><img class="aligncenter" title="" src="https://old.kzradio.net/wp-content/uploads/2012/03/Regina-Spektor-All-The-Rowboats-608x608.jpg" alt="" width="450" height="450" /></a></p>
<p style="text-align: right;" dir="ltr"><strong> Regina Spektor &#8211; All the rowboats</strong></p>
<p dir="rtl">מוזר, ביחס אליה וגם ביחס לכל השאר, הוא הסינגל החדש של רג'ינה ספקטור. אם פעם שיר חדש מכיוונה היה מתקבל בקולות התעלפות מהצד שלנו של היער, כיום אין אלא להודות שעוד לפני שלחצנו פליי &#8211; סינגל חדש מבית רג'ינה מעורר בנו חשש מסוים. בעיקר כי אנחנו כל כך רוצים שהדבר הבא שהיא תוציא ישוב להיות הדבר האמיתי. אם השיר המוזר הזה מסמן את הבאות, מצב רציני שאפשר להפסיק לדאוג.</p>
<p style="text-align: right;" dir="ltr"><strong> Korallreven featuring Juliana Barwick &#8211; Sa Sa Samoa (Elite Gymnastics Remix)</strong></p>
<p dir="rtl">היה אפשר לומר שתחיית ימי הרייבים של ראשית הניינטיז מיצתה את עצמה, אבל ברמיקס הזה היא מתגלה בכל תפארתה. היה אפשר לצקצק שאין הכרח בעוד מחווה לוויטני יוסטון המנוחה, אבל סיכוי לא רע שהסימפול הקטנטן הזה פה הוא המחווה המקסימה ביותר שעשו לה. הרמיקס של הצמד ממיניאפוליס, אליט ג’ימנסטיקס, לצמד השוודי קוראלרוון עושה רק טוב.</p>
<p style="text-align: right;" dir="ltr"><strong> Ornette &#8211; Crazy (Noze Remix)</strong></p>
<p dir="rtl">הנה משהו לקראת בואו של הצמד הצרפתי נוזה להופעה/סט במסיבת הפורים המוטרפת של חרגול יחד עם הניילון, אברקסס והבלוק, <a href="http://www.facebook.com/events/164548910328604" target="_blank">שם הכל יקרה בליל חמישי הקרוב</a>. נוזה משלבים טכנו והאוס עם מוסיקה צוענית, סווינג, ממזריות ושמחת חיים, ואם כל זה לא מספיק, הרי שלכל הקלחת הססגונית הזאת יצטרף בחמישי גם מופע האקסטרווגנזה של בורדל טוטאל. הרמיקס היפה הזה שעשו נוזה יצא ממש בסוף 2011, מה שמסביר מדוע לא הספקנו אז להשמיע אותו, ומייצג את הצד היותר עדין והלא פחות מפנק שלהם.</p>
<p style="text-align: right;" dir="ltr"><strong>Grimes &#8211; Oblivion</strong></p>
<p dir="rtl">האלבום הרביעי והחדש של גריימז, Visions, שכבר התייחסנו אליו כאן, הוא אחד התקליטים החיוביים של התקופה. מעין אינדי-פופ אלקטרוני שיש בו מן התחכום אבל עם מינימום אוואנטה. תנו מבט בקליפ הזה לסינגל החדש מתוכו, בו מתברר שגריימז הקנדית היא גם טיפוס חביב ונבוך, מה שגורם לנו להיות בעדה אפילו טיפה יותר.</p>
<p style="text-align: right;" dir="ltr"><strong> Rocket Juice &amp; The Moon &#8211; Hey Shooter featuring Erykah Badu</strong></p>
<p dir="rtl">אז מה חשבתם על השיר המשותף של הגורילאז, ג’יימס מרפי ואנדרה 3000? את מה שאנחנו חושבים עליו אפשר להבין, אנחנו מניחים, מזה שפשוט לא שמנו אותו כאן. ובזמן שהאוונג’רז של עולם הפופ המתקדם מחלטרים (אוקיי, אמרנו את זה) מגיע סופרגרופ אחר, שכולל בדיוק את אותו דיימון אלברן, ומשחרר שיר חדש שהוא ההיפך ממשהו שמשאיר לך טעם לא טוב בפה. “רוקט ג’וס פרום דה מון” (שנשמע קצת כמו טייק אוף על שמות הלהקות “Rocket From The Tombs” ו”Rocket From The Crypt”) כוללת אותו, את פלי מהרד הוט צ’ילי פפרז (שבניגוד לאלבומם האחרון, מדגים כפי שלא עשה זמן רב את נפלאותיו כבאסיסט), את טוני אלן (שתופף עם פלה קוטי זצ”ל וגם עם אלברן ב-The Good The Bad &amp; The Queen) על המקצב האפרו-ביטי ואורחת אחת, אריקה באדו.</p>
<p style="text-align: right;" dir="ltr"><strong> Mouse On Mars &#8211; Chordblocker, Cinnamon Toasted</strong></p>
<p dir="rtl">אלבום חדש ועשירי לצמד הגרמני שלא מפסיק לנסות ולהתנסות, ושיוצא בMonkeytown &#8211; לייבל של צמד גרמני אחר, <a href="http://www.facebook.com/events/272473126159786" target="_blank">שמגיע אל הבלוק ב15 במרץ: מודסלקטור</a>. הקטע הזה, כנראה, הוא מה שהיה קורה אם שלמה גרוניך היה מנסה לעשות דאבסטפ.</p>
<p style="text-align: right;" dir="ltr"><strong> Zammuto &#8211; F U C3PO</strong></p>
<p dir="rtl">כשיגיע היום בו רובוטים ישבו מסביב למדורה עם סיטאר ויעשו מוזיקה פסיכדלית ,השדר הזה מהעתיד הוא מה שצפוי לנו. האלבום בו הוא מופיע, שעומד לשחרר ההרכב החדש של ניק זאמוטו, חצי הצמד The Books, הוא אחד הדברים היותר יצירתיים ומרשימים של השנה.</p>
<p style="text-align: right;" dir="ltr"><strong> Willis Earl Beal &#8211; Monotony</strong></p>
<p dir="rtl">יומיים אחרי שנעלה את תחנתנו החדשה לרשת, יצא אלבום הבכורה המסקרן של וויליס ארל ביל &#8211; זמר, גיטריסט וצייר משיקאגו. כל מה שהוא שחרר עד כה מינימליסטי לחלוטין. הוא מנגן בגיטרה אקוסטית שמוקלטת באסתטיקת לואו-פיי כמעט רעה, אולי בתקווה לעורר דז’ה-וו להקלטות הגיטרה של אל/שטן הבלוז רוברט ג’ונסון. כשהוא שר הוא עשוי להזכיר את ג’פרי לואיס, או לעשות בלוז פר אקסלאנס או ללכת בפאתי אר'נ'בי. לא ברור בינתיים מה מושך אצלו חזק יותר. הדבר הברור היחיד בינתיים הוא ש”מונוטוני” שלו פשוט קורע את הלב.</p>
<p style="text-align: right;" dir="ltr"><strong>Belleruche &#8211; Stormbird</strong></p>
<p dir="rtl">הרכב הסול הדי-ותיק ממציא את עצמו מחדש עם סאונד עדכני יותר, או במילים אחרות מכניס לאפטופ למשוואה של הFאנק. וזה עובד ממש מצוין</p>
<p style="text-align: right;" dir="ltr"><strong>Ambassadeurs &#8211; Duke Red</strong></p>
<p dir="rtl">יוצר מברייטון שנמצא עדיין בגיבוש של צליל &#8211; או שאולי הוא דווקא אוהב לשמור על גיוון &#8211; בקטע שנשמע כמו הכלאה מעניינת בין פוסט-דאבסטפ לטריפ-הופ.</p>
<p style="text-align: right;" dir="ltr"><strong>Model 500 &#8211; The Messenger</strong></p>
<p dir="rtl">אחד מסנדקי הטכנו המקוריים, חואן אטקינס, משחרר קטע חדש שנשמע כל כך רענן ורלוונטי. להשתחוות ולהוריד את הכובע.</p>
<p style="text-align: right;" dir="ltr"><strong> Recloose &#8211; Feels Like Magic feat. B. Slade</strong></p>
<p dir="rtl">גם ריקלוס שייך למורשת הדטרויטית, כשהצטרף ללייבל פלאנט אי של קארל קרייג בסוף שנות ה90. מאז הספיק לעזוב את ארה&quot;ב ולהתנחל בניו זילנד. הקטע החדש שלו (שמגיע גם עם רימיקס יעיל של קרל קרייג בעצמו) הוא אולי הקטע הכי יפה של מאז Dust עם ג'ו דוקי, איש Fat Freddie's Drop</p>
<p style="text-align: right;" dir="ltr"><strong>Scuba &#8211; Tulips</strong></p>
<p dir="rtl">סקובה הוא הכינוי של פול רוז, אנגלי שמתגורר בברלין, וגם מנהל את הלייבל Hotflush, אחד הלייבלים הכי חשובים בחיבור בין דאבסטפ לטכנו. באלבום האמן שלו, אחד מהאלבומים האלקטרוניים החשובים של הרגע, סקובה בוחר בסאונד האוסי עמוק עם נגיעות של אייטיז, שנשמעות כאילו הבחור צפה בהרבה סרטי אקשן סוג ז' מאותן שנים. האקשן אולי סוג ז', אבל כרפרנס מוזיקלי, זה נשמע הכי 2012.</p>
<p style="text-align: right;" dir="ltr"><strong> </strong> <strong>Sufjan Stevens &#8211; Futile Devices (Shigeto Remix)</strong></p>
<p dir="rtl">קצת מוזר שלפרוייקט הכי אלקטרוני של סופיאן לא יצאו מליון רימיקסים &#8211; לא שהיה משהו רע בגרסאות המקוריות, להיפך. אבל תשמעו איזה דברים יפים הרימיקס הזה של שיגטו עושה למקור, שקצת חבל שהחומרים הנפלאים של סטיבנס לא נפלו בידיים של עוד מפיקים מוכשרים.</p>
<p style="text-align: right;" dir="ltr"><strong> Yuna &#8211; Live Your Life</strong></p>
<p dir="rtl">בעולם שבו שירי פופ הם לרוב תוצאה של הנדסת קול מוגזמת, כשמגיע פתאום שיר פופ מרושל כזה, שלא מטופל בעשרות ערוצים של הכפלות ותיקוני פיץ', עם קומפרסורים ששואבים את החיים מכל שניה בשיר, התחושה היא של הצצה ליקום מקביל, שבו יש מקום בעולם גם לשירים כאלה. ואז מתחיל פרק נוסף של Glee. בכל מקרה, <a href="http://www.stereophile.com/content/deflavorizing-machine" target="_blank">הנה טקסט מעניין </a>שמדבר על מפיקי מוזיקה שהורסים את המוזיקה כי הם עובדים עליה יותר מדי</p>
<p style="text-align: right;" dir="ltr"><strong>Nina Kraviz &#8211; Taxi Talk</strong></p>
<p dir="rtl">נסיכת הדיפ האוס העכשווי מוציאה אלבום שלא יספק המנוני רחבות, וגם כנראה לא יהפוך אותה לרובין הבאה, אבל איפשהו, כשהיא נופלת בין הכסאות, היא מוצאת נקודה מעניינת בין אמביינט, להפקות ישנות של מתיו הרברט, שמאוד הולמת אותה</p>
<p>&nbsp;</p>
<p><a href="https://old.kzradio.net/wp-content/uploads/2012/03/willis-earl-beal-acousmatic-sorcery1-608x574.jpg"><img class="aligncenter  wp-image-8845" title="" src="https://old.kzradio.net/wp-content/uploads/2012/03/willis-earl-beal-acousmatic-sorcery1-608x574.jpg" alt="" width="450" height="425" /></a></p>
<p id="internal-source-marker_0.8348806503532595" dir="rtl">והפינה המטאלית:</p>
<p style="text-align: right;" dir="ltr"><strong>Corrosion Of Conformity &#8211; The Moneychangers</strong></p>
<p dir="rtl">אלבום ראשון מזה 7 שנים להרכב המטאלי האמריקאי, שפועל עוד מתחילת האייטיז, ועבר מאז ועד היום טרנספורמציות מוזיקליות מרתקות, אחרי שהתחיל בכלל כהרכב הארד-קור. יש משהו מאד אולד-סקול באלבום הזה, ומהאזנה להאזנה הוא מתגלה כיעיל למדי. לדוגמה -</p>
<p><iframe src="http://media.mtvnservices.com/mgid:uma:video:mtv.com:736108/cp~series%3D2216%26id%3D1680187%26vid%3D736108%26uri%3Dmgid%3Auma%3Avideo%3Amtv.com%3A736108" frameborder="0" width="450" height="258"></iframe></p>
<p style="text-align: right;" dir="ltr"><strong>Pallbearer &#8211; Foreigner</strong></p>
<p><iframe src="https://www.youtube.com/embed/efsUakRY2IQ" frameborder="0" width="450" height="338"></iframe></p>
<p dir="rtl">אין צורך להתעכב בחששות מהגדרה כמו &quot;דום&quot;.יותר הגיוני לדמיין את תקליטיהם המוקדמים של בלאק סבאת' מתנים אהבים עם הראשונים של Low. זה באמת הגיוני &#8211; פשוט תקשיבו בעצמיכם לאלבום החדש של Pallbearer מארקנסו, שהקטע הזה מייצג אותו. אתם כבר תבינו.</p>
<p>&nbsp;</p>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8843/feed</wfw:commentRss>
		<slash:comments>17</slash:comments>
		</item>
		<item>
		<title>&#8235;הגידו כן לחמודימן&#8236;</title>		<link>https://old.kzradio.net/posts/8836</link>
		<comments>https://old.kzradio.net/posts/8836#comments</comments>
		<pubDate>Wed, 29 Feb 2012 14:50:04 +0000</pubDate>
		<dc:creator>&#8235;nadav&#8236;</dc:creator>				<category><![CDATA[פלייליסט]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8836</guid>
		<description><![CDATA[&#8235;קני דיקסון ג'וניור מגיע לביקור שלישי בישראל, זה מסוג המשפטים שרק לפני כמה שנים נשמעו כמו מדע בדיוני. KDJ, שמוכר יותר כמודימן, ניגן פעמיים במועדון הבלוק, בשניים מהלילות היותר קסומים שהיו שם. את הביקור השלישי, לעומת זאת, יערוך מודימן במועדון הבלוק החדש, בנסיון לשחזר את אותו הקסם. בלי לחזור יותר מדי על דברים שנאמרו, מודימן [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><p><a href="https://old.kzradio.net/wp-content/uploads/2012/02/moodymann_block.jpg"><img class="aligncenter  wp-image-8837" title="moodymann_block" src="https://old.kzradio.net/wp-content/uploads/2012/02/moodymann_block.jpg" alt="" width="430" height="602" /></a></p>
<p>קני דיקסון ג'וניור מגיע לביקור שלישי בישראל, זה מסוג המשפטים שרק לפני כמה שנים נשמעו כמו מדע בדיוני. KDJ, שמוכר יותר כמודימן, ניגן פעמיים במועדון הבלוק, בשניים מהלילות היותר קסומים שהיו שם. את הביקור השלישי, לעומת זאת, יערוך מודימן במועדון הבלוק החדש, בנסיון לשחזר את אותו הקסם.</p>
<p>בלי לחזור יותר מדי על דברים שנאמרו, מודימן הוא אחד מבכירי בניה של העיר דטרויט, מוזיקאי שמשלב דיסקו, סול, האוס וטכנו, כשההפקות שלו תמיד נשמעות עמוקות יותר, מלאות יותר &#8211; כמו שכתב מישהו ביוטיוב &#8211; &quot;מאוד קשה למקסס את הקטעים שלו בתוך סטים, בגלל שהסאונד ייחודי כל כך. הקטעים לא מתאימים בקלות לאף 'ז'אנר'. עם זאת, הם כנראה מהקטעים הכי טובים שנוצרו אי פעם&quot;.</p>
<p>אם אתם עדיין לא מכירים, מהרו ליוטיוב, ותריצו שם את<a href="https://www.youtube.com/playlist?list=PLA543D1A02087C02F" target="_blank"> אחת מרשימות ההשמעה של מודימן</a>. תגידו ששלחו אתכם מהקצה.</p>
<p>בכל מקרה, קצת חיטוט ברשת מגלה שמודימן, בגילו הלא צעיר, החליט כנראה שמספיק להיות הסוד הכי שמור של דטרויט, ועל פי כמות הטיזרים שהוא מפזר ביוטיוב וב-<a href="http://vimeo.com/blackmahoganitv" target="_blank">Vimeo</a>, מתבשל שם אלבום חדש ומסקרן מאוד. קחו למשל את שיתוף הפעולה הזה עם ג'רמי גרינספן מג'וניור בויז (!), וכמובן הלוק החדש &#8211; להתראות אפרו שלום נעורים, או במילים אחרות, הי יובל בנאי.</p>
<p>אז לסיכום, מחר (חמישי) בערב בבלוק &#8211; מודימן עושה את תל אביב בפעם השלישית. הנה <a href="https://www.facebook.com/events/305153636215277/" target="_blank">עמוד האירוע בפייסבוק.</a></p>
<p><iframe src="http://player.vimeo.com/video/33737476?portrait=0" frameborder="0" width="400" height="225"></iframe></p>
<p>&nbsp;</p>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8836/feed</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>&#8235;שירים שהיינו משדרים אם הייתה תוכנית הלילה, 26.2.12&#8236;</title>		<link>https://old.kzradio.net/posts/8820</link>
		<comments>https://old.kzradio.net/posts/8820#comments</comments>
		<pubDate>Sun, 26 Feb 2012 15:27:58 +0000</pubDate>
		<dc:creator>&#8235;nadav&#8236;</dc:creator>				<category><![CDATA[פלייליסט]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8820</guid>
		<description><![CDATA[&#8235;&#160; לפני שתתרגלו לפינה הזו, רצינו להזכיר לכם, שבעוד חמישה (!) שבועות, אנחנו חוזרים לשדר גם בתחנת האון ליין החדשה שלנו, וגם ב-88. אללה יסתור. טוב, הנה רשימת השירים, ונגן יוטיוב שינגן לכם אותם ברצף. לחצו פליי ( או פתחו בחלון אחר) ותתחילו לקרוא. Spiritualized &#8211; Hey Jane שיר חדש לקראת אלבום חדש לאחד ההרכבים [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><p>&nbsp;</p>
<p dir="rtl"><a href="https://old.kzradio.net/wp-content/uploads/2012/02/theshins20121.jpg"><img class="aligncenter  wp-image-8829" title="theshins2012" src="https://old.kzradio.net/wp-content/uploads/2012/02/theshins20121.jpg" alt="" width="461" height="307" /></a></p>
<p dir="rtl">לפני שתתרגלו לפינה הזו, רצינו להזכיר לכם, שבעוד חמישה (!) שבועות, אנחנו חוזרים לשדר גם בתחנת האון ליין החדשה שלנו, וגם ב-88. אללה יסתור.</p>
<p dir="rtl">טוב, הנה רשימת השירים, ונגן יוטיוב שינגן לכם אותם ברצף. לחצו פליי ( או פתחו בחלון אחר) ותתחילו לקרוא.</p>
<p dir="rtl"><iframe src="https://www.youtube.com/embed/videoseries?list=PLF4E647981259861B&amp;hl=en_US" frameborder="0" width="460" height="264"></iframe></p>
<p style="text-align: right;" dir="ltr"><strong>Spiritualized &#8211; Hey Jane</strong></p>
<p>שיר חדש לקראת אלבום חדש לאחד ההרכבים האהובים עלינו. כל יום שבו משוחרר שיר חדש של ספיריטואלייזד הוא יום שבו העולם הופך למקום  טוב יותר, ויש מצב שהם קלטו שאנחנו זקוקים להם אחרי שבתוכנית הפרידה של הקצה מגלגלצ שידרנו שני שירים שלהם, אז הם דאגו שהדבר הבא שהם יוציאו יהיה באורך לא פחות מ8:48 דקות. תודה ג’ייסון.</p>
<p style="text-align: right;" dir="ltr"><strong>Cursive &#8211; Wowowow</strong></p>
<p>I Am Gemini הוא האלבום החדש והשביעי של הרכב האינדי-רוק הוותיק מאומהה נבראסקה, בהנהגתו של טים קאשר (שעומד גם בראש להקת The Good Life). לשיפוטכם.</p>
<p style="text-align: right;" dir="ltr"><strong>Yppah &#8211; ‪Blue Schwinn‬</strong></p>
<p style="text-align: right;">הרכב נינג’ה טיוני שמאוד קשה להגדיר. איפשהו בין פוסט רוק, לשו גייז לטריפ הופ. הנה רגע טיפוסי לאלבום</p>
<p style="text-align: right;" dir="ltr"><strong>Paul Weller &#8211; That dangerous age</strong></p>
<p>סינגל חדש למלוכה בריטית אמיתית. נשמע שוולר קצת מנסה לעשות קטע של בלר. אפשר גם לומר שזה לא בדיוק אחד מ-50 השירים הגדולים שלו. אבל ממש טוב שהוא בסביבה. מחכים לתקליט.</p>
<p style="text-align: right;" dir="ltr"><strong>Bright Moments &#8211; Tourists</strong></p>
<p>מתוך אלבום בכורה חדש לקלי פראט, הוא ברייט מומנטס, שיוצא בלואקה בופ- הלייבל של דייויד בירן. פראט גם ניגן כלי נשיפה באלבומים של ביירות והארקייד פייר וגם עבד עם אל.סי.די סאונדידסטם, ובקטע הזה ממש קשה להחליט מה הוא עושה יותר מעולה &#8211; נושף או שר.</p>
<p style="text-align: right;" dir="ltr"><strong>Kinny &#8211; Floating Zzzzzzz!</strong></p>
<p>זמרת האופרה לשעבר, שבחרה לשיר דווקא סול, ג’אז ורגאיי, עם אלבום שני בלייבל טרו ת’וטס. זה השיר הכי יפה מתוכו.</p>
<p style="text-align: right;" dir="ltr"><strong>Machinedrum &#8211; What U Wanted 2 Feel &#8211; Nastyfuckk EP</strong></p>
<p>דוריאן קונספט ציווץ השבוע משהו בנוסח “בזמן שאני מחפש חודשים סאונד סנר מתאים, מאשינדראם גומר להקליט את האלבום ה17 שלו”. ואכן, שיטפון של איפיז ואלבומים מכיוונו של טראוויס סטיוארט (וזה עוד בלי לדבר על הצמד ספלקיור, שהוא חבר בו). הנה הקטע הבולט לטעמנו מתוך Nastyfuckk, שכולל גם כמה קטעים יותר אינטנסיביים (מיועד לחובבי פוטוורק/ג'יוק)</p>
<p style="text-align: right;" dir="ltr"><strong>Maribou State &#8211; Olivia (MAO Remix)</strong></p>
<p>הקטע הבולט של השבוע בפינת הפוסט דאבסטפ (כן, עקרונית צריך לכתוב פוסט-הדאבסטפ, אבל זה כבר ממש נשמע עקום)</p>
<p style="text-align: right;" dir="ltr"><strong>Clark &#8211; Com Touch Iradelphic</strong></p>
<p style="text-align: right;" dir="ltr"><strong></strong>למרות דיסקוגרפיה שכוללת כבר חמישה אלבומים, (כריס) קלארק הוא אחד האמנים בווארפ עם פרופיל בולט פחות. לקראת האלבום החדש שלו, הוא חוזר עם סאונד חדש לגמרי, כולו מחווה לסינתיסייזרים האנלוגיים של שנות ה70 ולשמות כמו טאנג'רין דרים, קלאוס שולץ, ואנגליס וטומיטה.</p>
<p style="text-align: right;" dir="ltr"><strong> oOoOO &#8211; No Way Back</strong></p>
<p>oOoOO מסאן פרינסיסקו תמיד נחשב לאחד הסמנים האפלים יותר של הצ'יל ווייב (מה שזכה לכינוי Drag, או Witch House, בשעתו). השיר החדש הוא אולי הרגע הכי קליל ונגיש שלו בינתיים, ומשמח שהוא לא נתקע במגרה הסאב-ג'נרית אליו דחפו אותו.</p>
<p><strong></strong><strong>Idiot Savant &#8211; Blame You</strong></p>
<p>אווירת Weeknd שורה על הקטע הזה, בהנחה שהקנדי חובב המיקסטייפים היה שומע קצת יותר (הנה זה בא שוב) פוסט דאבסטפ ופחות The-Dream ו-Drake</p>
<p style="text-align: right;" dir="ltr"><strong>Fhloston Paradigm &#8211; Chasing Rainbows</strong></p>
<p>איזה מפגש פסגה. המוזיקאי, המפיק והדיג’יי הוותיק, קינג בריט, מוציא איפי חדש בלייבל הייפרדאב של קוד 9, וככה שובר בשניה את המחיצות בין אייטיז בוגי, האוס, באס ודאבסטפ.</p>
<p><strong style="text-align: right;">The Shins &#8211; Simple song</strong></p>
<p>לשינז עומד לצאת אלבום חדש. האמת שבהתחלה הלחן של השיר הזה בעיקר הזכיר לנו את The other shoe של Fucked Up, מהאלבום האחרון שלהם, אבל אז הגיע הקליפ. עזבו את זה שמדובר בוידאו משוגע שלגמרי משדרג את השיר,בעצם אל תעזבו את זה. מעניין גם לחשוב על התעוררות הוויזואלית של האינדי-פופ האמריקאי שמתעסק בשנה האחרונה בתא המשפחתי ,ע”ע הקליפ של Cruel של סנט וינסנט. צפיית חובה.</p>
<p><strong style="text-align: right;">Johnny Cash &#8211; Hurt</strong></p>
<p>יומולדת 80 היום לאחד הזמרים העצומים בכל הזמנים. הקאוור המופתי הזה לשיר של ניין אינץ’ ניילז נבחר ע”י מאזיני/ות הקצה לשיר השנה שלנו ב2003.</p>
<p style="text-align: right;" dir="ltr"><strong>Sun Kil Moon &#8211; Sunshine in Chicago</strong></p>
<p>הקול של מארק קוזלק הורג אותנו עוד מימי Red House Painters, דרך אלבומי הסולו שלו (ובראשם אלבום הקאוורים לשירי איי-סי/די-סי) ועד ללהקתו הנוכחית סאן קיל מון. בסוף מאי הם ישחררו אלבום חדש, וזה הסינגל הראשון והממיס מתוכו.</p>
<p><a href="https://old.kzradio.net/wp-content/uploads/2012/02/Kinny1.jpg"><img class="aligncenter  wp-image-8828" title="Kinny" src="https://old.kzradio.net/wp-content/uploads/2012/02/Kinny1.jpg" alt="" width="420" height="420" /></a></p>
<p>&nbsp;</p>
<p>ועוד כמה קטעים שלא מצאנו ביוטיוב:</p>
<p style="text-align: right;" dir="ltr"><strong>Roommates &#8211; 1st floor blues</strong></p>
<p style="text-align: center;" dir="ltr"><iframe width="" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F37258458&amp;"></iframe></p>
<p dir="rtl">שיר מצוין לצמד שכולל את בן קוק מפ’אקד אפ (פעם שניה היום). נשמע קצת כמו ג’ם סשן בין הניו פורנוגראפרז לסוניק יות’.</p>
<p><strong style="text-align: right;">The Melvins &#8211; The war on wisdom</strong></p>
<p dir="rtl">חדש,מפואר וגלאמי מתמיד למלווינז, מתוך אי.פי. שיצא בקרוב.</p>
<p dir="rtl"><iframe id="tsFrame130734" src="http://cdn.topspin.net/api/v3/player/130734" frameborder="0" width="420" height="420"></iframe></p>
<p style="text-align: right;" dir="ltr"><strong></strong><strong>Lo-Fi-Fnk &#8211; Kissing taste</strong></p>
<p><strong></strong><strong></strong>ולקינוח, סינגל חדש ולא פחות ממושלם להרכב האינדי-פופ האלקטרוני משוודיה.</p>
<p dir="rtl"><iframe src="http://player.vimeo.com/video/37250509" frameborder="0" width="420" height="237"></iframe></p>
<p><a href="http://vimeo.com/37250509">Lo-Fi-Fnk &#8211; &quot;Kissing Taste&quot;</a> from <a href="http://vimeo.com/stereogum">stereogum</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8820/feed</wfw:commentRss>
		<slash:comments>10</slash:comments>
		</item>
		<item>
		<title>&#8235;4 אמנים לוהטים מחו&quot;ל ש(כן) מגיעים בימים הקרובים, שלא תתבאסו בעוד שנה שלא ידעתם ולא באתם&#8236;</title>		<link>https://old.kzradio.net/posts/8799</link>
		<comments>https://old.kzradio.net/posts/8799#comments</comments>
		<pubDate>Wed, 22 Feb 2012 13:59:14 +0000</pubDate>
		<dc:creator>&#8235;Quami&#8236;</dc:creator>				<category><![CDATA[אירועים]]></category>
		<category><![CDATA[שונות]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8799</guid>
		<description><![CDATA[&#8235;על רקע ביטולים למיניהם של אמני חו&#34;ל, רצינו לספר לכם/ן על שני אירועים מוזיקליים שמסקרנים אותנו במיוחד.שניהם יתרחשו בליל חמישי הזה (ואחד מהם ימשיך גם לשישי ושבת), ושניהם יביאו איתם אמנים מחו&#34;ל עם לבבות בוערים, שקרוב לוודאי שיהפכו את הביקורים שלהם למעניינים במיוחד. בחזית הרוקנ'רול, הגיטרות והגראז', תארח אחת הלהקות הכי משמחות בארץ &#8211; רוצי [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><p style="text-align: center;" dir="RTL"><a href="https://old.kzradio.net/wp-content/uploads/2012/02/acidcrashbuba-final-A3.jpg"><img class="aligncenter  wp-image-8803" src="https://old.kzradio.net/wp-content/uploads/2012/02/acidcrashbuba-final-A3-723x1024.jpg" alt="" width="430" height="609" /></a></p>
<p dir="RTL">על רקע ביטולים למיניהם של אמני חו&quot;ל, רצינו לספר לכם/ן על שני אירועים מוזיקליים שמסקרנים אותנו במיוחד.שניהם יתרחשו בליל חמישי הזה (ואחד מהם ימשיך גם לשישי ושבת), ושניהם יביאו איתם אמנים מחו&quot;ל עם לבבות בוערים, שקרוב לוודאי שיהפכו את הביקורים שלהם למעניינים במיוחד.</p>
<p dir="RTL">בחזית הרוקנ'רול, הגיטרות והגראז', תארח אחת הלהקות הכי משמחות בארץ &#8211; רוצי בובה המצויינת – שתי להקות שיופיעו איתה בחמישי בלבונטין7 בת&quot;א, בשישי באוגנדה בירושלים ובשבת בתיכון שבחיפה:</p>
<p dir="RTL">1. Acid Baby Jesus, להקת גראז' מיוון,שמזכירה לא מעט את הבלאק ליפס, כפי שאלה נשמעו כשהגיעו לארץ. כנראה שלא בכדי הם גם חיממו לאחרונה את הליפס בהופעות שלהם.</p>
<p dir="RTL">אסיד בייבי ג'יזס חתומים בSlovenly, אחד הלייבלים המעניינים של הגראז' בשנים האחרונות (שמוציא את תקליטיהם הראשונים של ה-Spits ושפועלים בו הרכבים כמו JC  Satan  ו-WAU Y LOS ARRRGHS!!!).</p>
<p dir="RTL">ועכשיו שימו לב לקליפ התינוקות הגאוני,שאין סיבה שלא יהפך ללהיט הבא בפייסבוק שלכם, גם אם באיחור קליל של כשנה וחצי:</p>
<p style="text-align: left;"><iframe src="https://www.youtube.com/embed/fqSiA9B0EfY" frameborder="0" width="420" height="315"></iframe></p>
<p>2.  Crash Normal – מגיעים מצרפת ומשלבים בין גראז' נויזי למכונות תופים מעוכות. קצת מזכירים את The Intelligence לאלה מכם שמכירים וזוכרים:</p>
<p style="text-align: left;" dir="ltr"><iframe src="https://www.youtube.com/embed/z_aHUT_XB5Q" frameborder="0" width="420" height="315"></iframe></p>
<p dir="RTL">שאר הפרטים <a href="http://www.facebook.com/events/242762059134882" target="_blank">באיוונט</a>.</p>
<p dir="RTL">ובחזית הטכנו-האוס תתרחש באותה העת מסיבה של דה בלוק החדש יחד עם אנשי NEWS  ו-N-factorial שיביאו לארץ את רומן פלוגל ואניה שניידר:</p>
<p style="text-align: center;" dir="RTL"><a href="https://old.kzradio.net/wp-content/uploads/2012/02/403331_10150550061293687_550178686_9151031_1280396059_n.jpg"><img class="aligncenter  wp-image-8804" src="https://old.kzradio.net/wp-content/uploads/2012/02/403331_10150550061293687_550178686_9151031_1280396059_n.jpg" alt="" width="477" height="670" /></a></p>
<p dir="RTL">פלוגל המרתק, מפרנקפורט במקור, הצליח במהלך הקריירה האקלקטית שלו כמפיק, יוצר, רמיקסר ודיג'יי לספק לעולם רגעים בולטים של אלקטרו-Pאנק כחצי הצמד Alter Ego, והגדיל ללהטט כיחיד בין אסיד-האוס, ג'אזיות ואמביינט ולנוע עד לדרך בה חיבר בחום בין מינימל האוס וטכנו לבין אלמנטים ברזילאים ולטינים. לדוגמה:</p>
<p style="text-align: left;" dir="RTL"><iframe src="https://www.youtube.com/embed/mqafcAWlHQ0" frameborder="0" width="420" height="315"></iframe></p>
<p style="text-align: left;" dir="RTL"><iframe src="https://www.youtube.com/embed/IhH_A-lBQiM" frameborder="0" width="420" height="315"></iframe></p>
<p>והטיפול המעודן שלו בסימפול של דוראן דוראן:</p>
<p style="text-align: left;" dir="RTL"><iframe src="https://www.youtube.com/embed/Kjy_GRJP8zQ" frameborder="0" width="560" height="315"></iframe></p>
<p dir="RTL">שניידר הכריזמטית – הדיג'יית, שדרנית הרדיו, המפיקה הברלינאית ובעלת הלייבל Mobilee, גם היא מזרימה כבר שנים דם חם בעורקים אליהם מתמזגים מינימל טכנו ודיפ-האוס:</p>
<p style="text-align: left;" dir="RTL"><iframe src="https://www.youtube.com/embed/ogmMrlUVGfo" frameborder="0" width="420" height="315"></iframe></p>
<p dir="RTL">אז שלא תגידו לא ידענו (:</p>
<p dir="RTL">לפני הסטים של פלוגל ושניידר יתקלט אוריה קלפטר, איש NEWS, וזה מסקרן בפני עצמו.</p>
<p dir="RTL">וגם כאן, שאר הפרטים <a href="http://www.facebook.com/events/295394510521462" target="_blank">באיוונט</a>.</p>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8799/feed</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>&#8235;שירים שהיינו משדרים אם הייתה תוכנית הלילה, 19.2.12&#8236;</title>		<link>https://old.kzradio.net/posts/8784</link>
		<comments>https://old.kzradio.net/posts/8784#comments</comments>
		<pubDate>Sun, 19 Feb 2012 14:21:50 +0000</pubDate>
		<dc:creator>&#8235;nadav&#8236;</dc:creator>				<category><![CDATA[פלייליסט]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8784</guid>
		<description><![CDATA[&#8235;הפינה השבועית שלנו, של שירים שהיינו משדרים וגו'. ואף מילה על הכאבים שלהיות טהור בלב. טהור אמרנו? לא חשוב. הנה הפלייליסט, תלחצו על היוטיוב פה למטה, ותמשיכו לקרוא &#160; &#160; The Mars Volta &#8211; The malkin jewel לא הספקנו להתאושש מהבשורה המשמחת על האיחוד של להקת האם At the Drive In, והנה הלהקה שנולדה ממנה, [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><p><a href="https://old.kzradio.net/wp-content/uploads/2012/02/hanne-hukkelberg.jpg"><img class="aligncenter  wp-image-8787" title="hanne-hukkelberg" src="https://old.kzradio.net/wp-content/uploads/2012/02/hanne-hukkelberg.jpg" alt="" width="460" height="460" /></a></p>
<p>הפינה השבועית שלנו, של שירים שהיינו משדרים וגו'. ואף מילה על הכאבים שלהיות טהור בלב. טהור אמרנו? לא חשוב. הנה הפלייליסט, תלחצו על היוטיוב פה למטה, ותמשיכו לקרוא</p>
<p><iframe src="https://www.youtube.com/embed/videoseries?list=PL81D5C146DCFA0EA4&amp;hl=en_US" frameborder="0" width="460" height="264"></iframe></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="text-align: right;" dir="ltr"><strong>The Mars Volta &#8211; The malkin jewel</strong></p>
<p dir="rtl">לא הספקנו להתאושש מהבשורה המשמחת על האיחוד של להקת האם At the Drive In, והנה הלהקה שנולדה ממנה, דה מארס וולטה, משחררת סינגל חדש לקראת אלבום חדש שיצא בסוף מרץ (אם כי שום דבר לא מפתיע בהתחשב בקצב העבודה הלא הגיוני של הגיטריסט עומאר רודריגז לופז). The Malkin Jewel בכלל מתחיל קצת כמו שיר של Element of Crime לפני שהקלחת המארס וולטאית מתחילה לבעור בו. והיא בוערת.</p>
<p>&nbsp;</p>
<p style="text-align: right;" dir="ltr"><strong>Killer Mike &#8211; Big beast</strong></p>
<p dir="rtl">הנה משהו מסקרן ומדליק שקורה בעולם הראפ: קילר מייק, ראפר מאטלנטה ששייך למעגל המקורבים של אאוטקאסט אבל שעד היום היה רחוק למדי מהתעוזה וההרפקתנות שלהם, חבר ללא אחר מאשר El-P, אחת הדמויות הוותיקות והבולטות באנדגראונד היפ-הופ (ראש הלייבל דף ג’וקס ולשעבר חבר בלהקת קומפאני פלואו) כדי שיפיק מוזיקלית את אלבומו החדש. השבוע שוחרר הקטע הראשון והמבטיח מתוכו.</p>
<p style="text-align: right;" dir="ltr"><strong>Shortcircles &#8211; Fallin' (Feat. C. Ellis)</strong></p>
<p>שם חדש בלייבל המוצלח פלאג ריסרץ', מוזיקה שמערבבת אינדי, סול, באס, היפ הופ וביטים.</p>
<p>&nbsp;</p>
<p style="text-align: right;" dir="ltr"><strong>Hanne Hukkelburg &#8211; My devils</strong></p>
<p dir="rtl">לזמרת-יוצרת הנורווגית הבדר”כ מקסימה הזאת,שגם הופיעה בעבר הלא רחוק בארץ,יש אלבום חדש ורביעי בשם Featherbrain. השיר הזה מתוכו יכל להתברג בקלות בין בל קונטו לקוקטו טווינז  בשלהי האייטיז. למזלינו הוא יוצא ב2012.</p>
<p>&nbsp;</p>
<p style="text-align: right;" dir="ltr"><strong>Terranova &#8211; Question Mark feat. Tomas Hoffding</strong><br />
<strong>Whomadewho &#8211; Below the Cherry Moon</strong></p>
<p dir="rtl">שני קטעים שמגיעים מהלייבל הגרמני Kompakt, שניהם מהרכבים לא חדשים &#8211; Whomadewho שייכים לחבורת Gomma ממינכן, שתמיד נחשב לסוג של לוויין מוזיקלי של DFA, ומעניין לשמוע אותם כאן בשיר אינדי-פופ-דאנס יפה, קצת מחוץ לאיזו הנוחות הרגיל שלהם. טרהנובה נמצאים כאן הרבה יותר זמן, והאלבום החדש שלהם מחבר אותם עוד יותר אל סאונד הטכנו הגרמני, כשהקטע הזה מעיף במיוחד, עם שירה שנשמעת כמו אנטוני מהג'ונסונס על סטרואידים.</p>
<p>&nbsp;</p>
<p style="text-align: right;" dir="ltr"><strong>Young Magic &#8211; Sparkly</strong></p>
<p dir="rtl">הקטע הזה מסתובב כבר הרבה זמן בבלוגים, האלבום יוצא רק עכשיו. קטע יפהפה, מרחף, שמצליח להיות בומבסטי ומינורי בו בזמן, של מפיק אוסטרלי שגר בניו יורק</p>
<p>&nbsp;</p>
<p style="text-align: right;" dir="ltr"><strong>Ifan Dafydd &#8211; Treehouse</strong></p>
<p dir="rtl">מכירים את הסיפור על השותף לדירה של ג'יימס בלייק? אז כזה.</p>
<p>&nbsp;</p>
<p style="text-align: right;" dir="ltr"><strong>Memoryhouse &#8211; Walk With Me</strong></p>
<p dir="rtl">מכירים את הקלישאה על שיר מושלם להאזנה ביום חורפי? אז כזה.</p>
<p>&nbsp;</p>
<p style="text-align: right;" dir="ltr"><strong>Chromatics &#8211; Into the black</strong></p>
<p>בטוח: מאז שיצא הסרט “דרייב” עלתה &#8211; ובצדק &#8211; קרנו של ג’וני ג’ול,האחראי לשירים בולטים בפסקול בדמות ההרכבים שהוא עומד מאחוריהם- הכרומאטיקס ו-Desire (וגם גלאס קאנדי,שלא מופיעים ב&quot;דרייב&quot;). לא בטוח כמה הכרחי היה לכרומאטיקס לבצע את השיר הזה. “היי היי מיי מיי (אינטו דה בלאק)” של ניל יאנג, מתחרה על תואר המנון הרוק האולטימטיבי של כל הזמנים, עד שציטוט ממנו נכתב בתחתית מכתב ההתאבדות של קורט קוביין והפך אותו לשריטה עמוקה בזמן. ועדיין,יש משהו בקאוור הזה. תחליטו אתם.</p>
<p>&nbsp;</p>
<p style="text-align: right;" dir="ltr"><strong>Lambchop &#8211; Gone tomorrow</strong></p>
<p dir="rtl">לאלבום החדש של לאמבצ’ופ כבר התייחסנו כאן,אבל אנחנו חייבים לשוב אליו בזכות הסינגל החדש והיפהפה מתוכו,ואפילו קצת יותר בזכות הקליפ העוצמתי הזה שנתפר לו,שנראה במידה רבה כמו טייק-אוף על “המתאבק”,המאסטרפיס הקולנועי של דארן ארונופסקי עם מיקי רורק.</p>
<h5 dir="rtl"><a href="https://old.kzradio.net/wp-content/uploads/2012/02/Lambchop-the-Gone-tomorrow-video-.jpg"><img class="aligncenter  wp-image-8788" title="Lambchop- the Gone tomorrow video" src="https://old.kzradio.net/wp-content/uploads/2012/02/Lambchop-the-Gone-tomorrow-video-.jpg" alt="" width="460" height="345" /></a></h5>
<h5 dir="rtl">בונוסים:</h5>
<p id="internal-source-marker_0.10675847941042504" style="text-align: right;" dir="ltr"><strong>Tanlines &#8211; Brothers</strong></p>
<p dir="rtl">לא הרבה קורה בקליפ הזה. גם בשיר לא קורה המון. ועדיין, הקליפ החדש הזה של הצמד הסינת-פופי הברוקלינאי החביב טאנליינז עשוי לדפוק לכם את המח. מהסיבה הפשוטה שהוא קליפ של 360 מעלות. מה זה אומר? פשוט שימו את העכבר שלכם על המסך אחרי שתלחצו play, ותגלו בעצמיכם. רק תזהרו שלא יסתובב לכם הראש.</p>
<p dir="rtl"><iframe src="http://www.gopano.com/embed/5232" frameborder="0" width="480" height="360"></iframe></p>
<p style="text-align: right;" dir="ltr"><strong>Fiveng &#8211; The Love I Seek</strong></p>
<p dir="rtl">אין את זה ביוטיוב, אבל יש הורדה חינמית.  אינדי פופ עם שכבה פיסכדלית</p>
<p dir="rtl"><iframe style="position: relative; display: block; width: 400px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/track=109604733/size=venti/bgcol=FFFFFF/linkcol=4285BB/" frameborder="0" width="460" height="166"></iframe></p>
<p dir="rtl">ובפינה המטאלית (באחריות קוואמי בלבד&#8230;):</p>
<p style="text-align: right;" dir="ltr"><strong>Meshuggah &#8211; Break the bones of sinews gave it motion</strong></p>
<p dir="rtl">משקל כבד, כל כך כבד, יש לשיר החדש, האיטי, והדי מדהים הזה של משוגע. אחד מתוך שניים שהם שחררו לרשת לקראת האלבום החדש שלהם שיצא במרץ. לאמיצים מביניכם/ן.</p>
<iframe width="460" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F36488190&amp;auto_play=false&amp;show_artwork=true&amp;color=ff7700"></iframe>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8784/feed</wfw:commentRss>
		<slash:comments>11</slash:comments>
		</item>
		<item>
		<title>&#8235;שירים שהיינו משדרים אם הייתה תוכנית הלילה, 12.2.12&#8236;</title>		<link>https://old.kzradio.net/posts/8767</link>
		<comments>https://old.kzradio.net/posts/8767#comments</comments>
		<pubDate>Sun, 12 Feb 2012 12:42:24 +0000</pubDate>
		<dc:creator>&#8235;nadav&#8236;</dc:creator>				<category><![CDATA[פלייליסט]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8767</guid>
		<description><![CDATA[&#8235;עוד שבוע עבר, עוד שבוע שמקרב אותנו לאחד באפריל &#8211; היום שבו העולם מתמלא בהלצות נוראיות ומתיחות ברמה של גן חובה, והיום שבו לא נצטרך לפרסם כאן את רשימות היוטיוב האלה, כי נשיק תחנת רדיו חדשה, ותוכנית רדיו חדשה ב88FM. אבל בינתיים, לחצו &#34;פליי&#34; על הטיוב הזה פה למטה, וקבלו 16 שירים שכנראה היינו גם [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><p><a href="https://old.kzradio.net/wp-content/uploads/2012/02/st-vincent-cheerleader.jpg"><img class="aligncenter  wp-image-8771" title="st vincent" src="https://old.kzradio.net/wp-content/uploads/2012/02/st-vincent-cheerleader.jpg" alt="" width="461" height="228" /></a></p>
<p>עוד שבוע עבר, עוד שבוע שמקרב אותנו לאחד באפריל &#8211; היום שבו העולם מתמלא בהלצות נוראיות ומתיחות ברמה של גן חובה, והיום שבו לא נצטרך לפרסם כאן את רשימות היוטיוב האלה, כי נשיק תחנת רדיו חדשה, ותוכנית רדיו חדשה ב88FM.</p>
<p>אבל בינתיים, לחצו &quot;פליי&quot; על הטיוב הזה פה למטה, וקבלו 16 שירים שכנראה היינו גם משדרים ברדיו, אלמלא, אתם יודעים&#8230;</p>
<p>אח&quot;כ תגללו למטה ותקראו קצת הגיגים ופירושים, אם בא לכם.</p>
<p><iframe src="https://www.youtube.com/embed/videoseries?list=PL674AB3966C63B5FF&amp;hl=en_US" frameborder="0" width="460" height="264"></iframe></p>
<p>&nbsp;</p>
<p style="text-align: right;" dir="ltr"><strong>‏Wooden Shjips &#8211; Crossing (Andrew Weatherall Remix)</strong></p>
<p>אנדרו וות’רול,אחד הגיבורים הגדולים שלנו בקצה,עשה רמיקס חדש לוודן שיפס,הרכב גיטרות פסיכדלי בגוונים דרוניים מסן פרנסיסקו. לא באמת צריך להסביר למה אנחנו שמים את זה פה,נכון?</p>
<p style="text-align: right;" dir="ltr"><strong>‏Secret Chiefs 3 featuring Mike Patton &#8211; Le Chanson De Jacky</strong></p>
<p style="text-align: right;">דובי שרגא העלה את זה כאן כתגובה עדכנית לספיישל מייק פאטון שהעלינו לכבוד יומולדתו. פאטון נותן פה (עוד) תצוגת תכלית מרהיבה יחד עם הסיקרט צ’יפס 3 (להקתו האינסטרומנטלית בדר”כ של טריי ספרואנס ממיסטר באנגל) לשיר של ז’אק ברל מ1965, כפי שעובד מחדש לאנגלית בביצוע של סקוט ווקר, עיבוד שנחשב שערורייתי לרדיו הבריטי ב67'. כמה לא מפתיע &#8211; זה מהמם.</p>
<p style="text-align: right;" dir="ltr"><strong>Field Music &#8211; Guillotine</strong></p>
<p>פילד מיוזיק מגיעה מסאנדרלאנד, העיר הבריטית שהיא גם מכורתם של הפיוצ'רהדז, והיא גם להקת האחות הגדולה של The Week That Was (שהאמת שאנחנו אוהבים יותר). המוזיקה שלהם מושפעת בלשון המעטה מלהקת XTC וגם מתכתבת עם Department of Eagles האמריקאים. לא הכל עובד באלבום החדש והרביעי שלהם, Plumb, אבל יש בו רגעי חסד, כמו זה.</p>
<p style="text-align: right;" dir="ltr"><strong>St Vincent &#8211; Cheerleader</strong></p>
<p>אמנם לרוב הקטעים שאנחנו שמים פה אין בכלל עדיין קליפים,אבל לא יכולנו להתאפק למרות שלא מדובר בדיוק בשיר חדש. &quot;צ'ירלידר&quot; הוא בכלל אחד מלהיטי השנה שעברה שלנו בקצה, רק שעכשיו יצא לו גם קליפ, ומה לעשות, הבחורה הזאת  גומרת לנו על הבריאות. תראו ותקשיבו בעצמכם.</p>
<p style="text-align: right;" dir="ltr"><strong>Battles &#8211; White electric (Shabazz Palaces Remix)</strong></p>
<p>חייבים להגדיר את באטלז כפוסט-רוק? מה שבטוח, ההרכב  הזה הוציא בשנה שעברה אלבום מוצלח נוסף,שקרב בדרכו המשונה והמעניינת את הניסיוניות שלו שמחברת אלמנטים של מאת'-רוק וג'אז,דווקא לעולם האלקטרוניקה הדאנסית. שאבאז פלאסז,הרכב הראפ הנפלא של ישמאעל באטלר/באטרפליי (לשעבר בדיגאבל פלנטס), דאג לרמיקס טרי לקטע האינסטרומנטלי במקור מאותו אלבום של באטלז,והפך אותו לשיר חדש לגמרי. באיפי בו הקטע הזה יופיע יהיו גם רמיקסים שעשו להם Kode9 ודה אלכמיסט.</p>
<p style="text-align: right;" dir="ltr"><strong>Mux Mool &#8211; Ruin Everything</strong></p>
<p>אחד החיקויים הכי יפים ששמענו לבורדס אוף קנדה הרבה זמן, ואלבום חדש למשפחת גוסטלי אינטרנשיונל.</p>
<p style="text-align: right;" dir="ltr"><strong>Lapalux &#8211; Gutter Glitter</strong></p>
<p>מחבר את הנקודות בין הפוסט דאבסטפ למסורת האלקטרוניקה של אוטקרה ואפקס טווין, עם נשמה של להקת אינדי.</p>
<p style="text-align: right;" dir="ltr"><strong>‏Lotus Plaza &#8211; Come Back</strong></p>
<p>זה נכון שבראדפורד קוקס/אטלס סאונד הוא זה שמקבל בדר&quot;כ את רוב, בעצם את כל, הקרדיט על Deerhunter, אבל אנחנו יודעים שהוא לא היחיד שמגיע לו. לא צריך להתאמץ כדי לבאר ולהוכיח,פשוט תקשיבו לסינגל החדש והיפהפה הזה של לוטוס פלאזה, הוא Lockett Pundt, גם הוא חבר דירהאנטר,בטריפ פסיכדלי אישי שיעשה לכם שמות בלב.</p>
<p style="text-align: right;" dir="ltr"><strong>Xiu Xiu &#8211; Born to Suffer</strong></p>
<p>אלבום חדש ודי מתקשר של שושו, הנה קטע די מייצג מתוכו.</p>
<p style="text-align: right;" dir="ltr"><strong>‏Fucked up &#8211; Year of the Tiger</strong></p>
<p>אין ספק שפ’אקד אפ היא אחת הלהקות המוזרות בעולם כרגע.התמהיל שלהם,שרק מתגבש ומשתבח בין אלמנטים של אינדי פופ להארדקור-פאנק ומטאל- רחוק מלהיות מובן מאליו או שכיח באיזשהו אופן. אחרי האלבום המעולה שהם הוציאו ב2011,הם משחררים עכשיו סינגל חדש,שממשיך את המסורת התימהונית משהו שלהם להוציא מידי שנה שיר חדש לרגל ראש השנה הסינית. התירוץ לא ממש משנה. “שנת הנמר” הוא אפוס אקסטטי וסוחף,שכולל בתוך הבליל שלו גם את Austra, שהביאו לנו את אחד משירי השנה שעברה-Lose It, וגם אתהבמאי/מוסיקאי ג’ים ג’רמוש.</p>
<p><strong>Whitney vs Mogwai &#8211; It's Not Right, But it's Ithica</strong></p>
<p>וזה המאש-אפ הלא ייאמן של ויטני ז&quot;ל ומוגוואי יבדל&quot;א.</p>
<p style="text-align: right;" dir="ltr"><strong>Portico Quartet &#8211; Steepless (feat. Cornelia)</strong></p>
<p>רביעיית ג'אז עם היד על הדופק, כן יש כזו, ותודה לאיילון על התגלית.</p>
<p style="text-align: right;" dir="ltr"><strong>Burial &#8211; Loner</strong></p>
<p>בריאל חוזר להייפר דאב, עם עוד איפי יוצא דופן של וויצ'סטפ &#8211; ושהשאר רק ימשיכו לשחק איתו תופסת.</p>
<p style="text-align: right;" dir="ltr"><strong>Homeboy Sandman &#8211; The Miracle</strong></p>
<p>ראפ מרענן עם הומור צבעוני ופלואו שמח, על פלייבק שגם דה לה סול בימים הכי יפים שלהם היו גאים לעשות. כמה חבל שזה היוצא מן הכלל שמעיד על הכלל, או איזה קלישאה אחרת שמתארת את מצבו העגום של ההיפ הופ ב-2012</p>
<p style="text-align: right;" dir="ltr"><strong>Boy Friend &#8211; Love Dropper</strong></p>
<p>בלאדת צ'יל וויב שנעים לסגור איתה.</p>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8767/feed</wfw:commentRss>
		<slash:comments>10</slash:comments>
		</item>
		<item>
		<title>&#8235;שירים שהיינו משדרים אם הייתה תוכנית הלילה, 5.2.12&#8236;</title>		<link>https://old.kzradio.net/posts/8749</link>
		<comments>https://old.kzradio.net/posts/8749#comments</comments>
		<pubDate>Sun, 05 Feb 2012 14:17:29 +0000</pubDate>
		<dc:creator>&#8235;nadav&#8236;</dc:creator>				<category><![CDATA[פלייליסט]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8749</guid>
		<description><![CDATA[&#8235;זה שחשפנו את תאריך העליה שהמחודשת של הקצה, לא אומר שעכשיו נפסיק כאן להביא לכם כאן את הקרם-דה-לה-קרם של המוזיקה החדשה והמצויינת שממשיכה לצאת מסביב. אז כל הקטעים, כמעט, נמצאים בפלייליסט היוטיוב שנמצא ממש כמה פיקסלים מתחת, תלחצו פליי ואם בא לכם תקראו את כמה המילים שכתבנו על כל קטע. חוץ מזה שיש שם למטה [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><p><a href="https://old.kzradio.net/wp-content/uploads/2012/02/the-2-bears.jpg"><img class="aligncenter  wp-image-8752" title="the 2 bears" src="https://old.kzradio.net/wp-content/uploads/2012/02/the-2-bears.jpg" alt="" width="461" height="307" /></a></p>
<p>זה שחשפנו את <a href="https://old.kzradio.net/posts/8737">תאריך העליה שהמחודשת</a> של הקצה, לא אומר שעכשיו נפסיק כאן להביא לכם כאן את הקרם-דה-לה-קרם של המוזיקה החדשה והמצויינת שממשיכה לצאת מסביב. אז כל הקטעים, כמעט, נמצאים בפלייליסט היוטיוב שנמצא ממש כמה פיקסלים מתחת, תלחצו פליי ואם בא לכם תקראו את כמה המילים שכתבנו על כל קטע. חוץ מזה שיש שם למטה קישור גם לשיר חדש ומצוין של מרק לאנגן שלא מצאנו ביוטיוב, אז בכלל כדאי.</p>
<p>לחצו פליי על נגן היוטיוב כדי לקבל את כל הפלייליסט:</p>
<p><iframe src="https://www.youtube.com/embed/videoseries?list=PLE3511BE5DCD746D1&amp;hl=en_US" frameborder="0" width="460" height="264"></iframe></p>
<p>&nbsp;</p>
<p style="text-align: right;" dir="ltr"><strong> The 2 Bears &#8211; Be Strong / Church</strong></p>
<p>מוקדם מידי לצאת בהצהרות, אבל האלבום הזה מעורר לפחות באחד מאיתנו את החשק להכתיר אותו כאלבום הפופ של השנה. או לפחות של החורף. או של משהו. כי שני הדובים, הצמד שמורכב מג’ו גודארד &#8211; איש הוט צ’יפ &#8211; ומראף ראנדל, הוציאו אלבום כל כך חם של פופ אינטליגנטי, מרגש ומזיז ישבנים, ועם זאת כל כך נטול יומרות ואוואנטה, שאין באמת שום סיבה שלא להתמסר אליו. זה אלבום של אהבה למוסיקה בכלל ולדאנס האוסי בפרט, שממשיך לחלוטין את כל מה שקורה בהוט צ’יפ אבל מזיז אותם עוד צעד לכיוון הרחבה, וכל זאת בצניעות האופיינית לחבורה הזאת. אפשר היה כמו כלום לבחור כמעט כל רצועה באלבום זהה, והלכנו על שיר הנושא עם המשפט :”Some people say the music sets you free. But all my life the music has imprisoned me”. וגם על צ'רץ'.</p>
<p style="text-align: right;" dir="ltr"><strong> Django Django &#8211; Firewater</strong></p>
<p>אהבנו אותם מאוד בשיר ווייבפורמס, הצלחנו אפילו להדליק את ג'יילס פיטרסון על השיר הזה (מה'כפת לכם שנמשיך להתהדר בהישג הכי גדול שלנו ב-13 שנות שידור??), והנה הגיע האלבום המלא. ואנחנו שמחים לבשר שלא התאכזבנו. אז נכון שהשוסים הכי גדולים מהאלבום עוד לא הגיעו ליו טיוב, אבל גם השיר הזה הוא טיזר מצוין.</p>
<p style="text-align: right;" dir="ltr"><strong>Frankie Rose &#8211; Interstellar</strong></p>
<p>סינגל חדש לחברה בהרכבי הגראז' הנשיים &#8211; ויויאן גירלז ודאם דאם גירלז. פרנקי רוז (כבר בלי להקת ה-Outs) נשמעת מופקת מתמיד פה, וזה לא בהכרח דבר רע</p>
<p style="text-align: right;" dir="ltr"><strong>Mr.Dream &#8211; What a mess</strong></p>
<p>יש קצת פוגאזי, קצת טלוויז’ן ואפילו טיפה ג’פרי לי פירסיות בחבורת מיסטר דרים מברוקלין. הקטע הזה מופיע באי.פי החדש שלהם.</p>
<p style="text-align: right;" dir="ltr"><strong>Flaming Lips &#8211; Now I Understand feat. Erykah Badu, Siri &amp; Biz markie</strong></p>
<p>מכל פיסות הפסיכדליה הלא תמיד נגישות ששחררו וויין קוין והפליימינג ליפס בשנה האחרונה והמאד יצירתית שלהם, זו החדשה היא כנראה המלטפת והקסומה מכולן. מככבים : אריקה באדו (כן כן), קולו ההפוך של הראפר ביז מארקי ואפילו סירי, העוזר/ת האישי/ת במכשיר האייפון שלכם, בתפקיד א-לה האל מ-2001 אודיסאה בחלל.</p>
<p style="text-align: right;" dir="ltr"><strong>    Ode to sad disco &#8211; Mark Lanegan</strong></p>
<p>(לא ביו-טיוב!) סוג של שוק לשמוע את איש הזאב האהוב עלינו שר על מקצב דיסקואי כבד. מצד שני- זה בכלל לא מפתיע בהתחשב בכך שלנאגן הוא מוסיקאי שלא מפסיק לצעוד במקומות בהם הוא טרם דרך, ולהתנסות בסגנונות חדשים עבורו, בדומה לחברו הטוב גרג דולי. מתוך האלבום החדש שלו Blues Funeral.</p>
<p dir="ltr"><iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F35132716&amp;auto_play=false&amp;show_artwork=true&amp;color=9aea9b"></iframe></p>
<p style="text-align: right;" dir="ltr"><strong> John Talabot &#8211; Journeys feat. Ekhi</strong></p>
<p>איש הניו דיסקו עם אלבום מדובר, שמכיל גם את השיר הזה, שנשמע כמו משהו שלא היה בא לעולם אלמלא היתה קיימת איזו להקה אחת שקוראים לה אנימל קולקטיב</p>
<p style="text-align: right;" dir="ltr"><strong>Jacques Greene featuring Ango &#8211; Flatline</strong><br />
<strong> Benjamin Damage &amp; Doc Daneeka &#8211; Halo feat. Abigail Wyles</strong></p>
<p>שני קטעי פוסט-דאבסטפ (אולי כבר די עם השם הזה?) יפהפיים שמשלבים בטבעיות בין הבאסים לרמז של אווירת צ'יל ווייב.</p>
<p><a href="https://old.kzradio.net/wp-content/uploads/2012/02/mirel-wagner.jpg"><img class="aligncenter  wp-image-8753" title="mirel wagner" src="https://old.kzradio.net/wp-content/uploads/2012/02/mirel-wagner.jpg" alt="" width="461" height="307" /></a></p>
<p style="text-align: right;" dir="ltr"><strong>Mirel wagmer &#8211; No death</strong></p>
<p>מתוך אלבום בכורה לזמרת-יוצרת אתיופית שגדלה בפינלנד. זה נשמע כמו משהו שהמצאנו, אבל זה לא. שיר מצמרר.</p>
<p style="text-align: right;" dir="ltr"><strong> DJ Food ft Matt Johnson &#8211; Giant</strong></p>
<p>כששמענו לראשונה את השיר הזה, בגרסה הזו, טעינו לחשוב שמדובר באיזה רימיקס, אבל מדובר כאן בהרבה יותר מזה &#8211; דיג'יי פוד, מותג ותיק מבית נינג'ה טיון, לוקח את השיר המדהים הזה של The The מתוך Soul Mining, מזריק לו קצת גרוב מעודכן, ולא מוותר על המרכיב הקסום &#8211; הקול של מט ג'ונסון המלך, שבא להתארח כאן, ומזכיר לנו שמדובר במישהו שראוי לקאמבק מפואר.</p>
<p style="text-align: right;" dir="ltr"><strong> Quantic &amp; Alice Russell with the Combo Bárbaro &#8211; Look Around The Corner</strong></p>
<p>אחרי שנים שבהן וויל הולנד טייל בעולם, התאהב במקצבים קולמביאניים, וקצת נטש את השורשים הסול-fאנקיים שלו, הוא חוזר, ובענק. ביחד עם שותפתו הוותיקה, אליס ראסל, הם משגרים שיר שנשמע כמו פנינה חבויה מההקלטות של צ'ארלס סטפני הרוטרי קונקשן בשנות ה70, סול פסיכדלי מתוזמר כהלכה &#8211; עם רק שמץ של מהלך מלודי שמזכיר את לני קרביץ..</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8749/feed</wfw:commentRss>
		<slash:comments>13</slash:comments>
		</item>
	</channel>
</rss>
