<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>&#8235;תגובות לפוסט: &#34;שירים שהיינו משדרים אם היתה לנו הלילה תוכנית, 11.3.12&#34;&#8236;</title>
	<atom:link href="https://old.kzradio.net/posts/8868/feed" rel="self" type="application/rss+xml" />
	<link>https://old.kzradio.net/posts/8868</link>
	<description>&#8235;הקצפת של המוזיקה &#124;&#124; א\&#039; ו-ג\&#039;, 22:00, גלגל\&#34;צ &#124;&#124; Sun, Tue 22:00 GLGLZ&#8236;</description> 	<lastBuildDate>Wed, 21 Mar 2012 11:13:18 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.3.1</generator>
	<item>
		<title>&#8235;מאת: מאט בוליווד&#8236;</title>
		<link>https://old.kzradio.net/posts/8868#comment-16572</link>
		<dc:creator>&#8235;מאט בוליווד&#8236;</dc:creator>		<pubDate>Thu, 15 Mar 2012 01:46:47 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8868#comment-16572</guid>
		<description>&#8235;אף לא מילה על הגעתם של הבריאן ג׳ונסטאון בקיץ הקרוב? לא יפה&#8236;</description> 		<content:encoded><![CDATA[<p>אף לא מילה על הגעתם של הבריאן ג׳ונסטאון בקיץ הקרוב? לא יפה</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: איציק&#8236;</title>
		<link>https://old.kzradio.net/posts/8868#comment-16526</link>
		<dc:creator>&#8235;איציק&#8236;</dc:creator>		<pubDate>Tue, 13 Mar 2012 10:25:34 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8868#comment-16526</guid>
		<description>&#8235;Holograms נפלאים - ולי הם מזכירים את ה FUTUREHEADS.
אפרופו מטרונומי, שימו לב לאלבום של Nzca/Lines:
http://grooveshark.com/#!/album/Nzca+Lines/7570575&#8236;</description> 		<content:encoded><![CDATA[<p>Holograms נפלאים &#8211; ולי הם מזכירים את ה FUTUREHEADS.<br />
אפרופו מטרונומי, שימו לב לאלבום של Nzca/Lines:<br />
<a href="http://grooveshark.com/#!/album/Nzca+Lines/7570575" rel="nofollow">http://grooveshark.com/#!/album/Nzca+Lines/7570575</a></p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: משה&#8236;</title>
		<link>https://old.kzradio.net/posts/8868#comment-16491</link>
		<dc:creator>&#8235;משה&#8236;</dc:creator>		<pubDate>Sun, 11 Mar 2012 19:38:01 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8868#comment-16491</guid>
		<description>&#8235;אפשר להפסיק את חרושת השמועות לגבי ביץ האוס. האלבום החדש והרביעי שלהם, Bloom, ייצא ב-15 למאי.
http://www.subpop.com/channel/blog/beach_house_to_release_bloom&#8236;</description> 		<content:encoded><![CDATA[<p>אפשר להפסיק את חרושת השמועות לגבי ביץ האוס. האלבום החדש והרביעי שלהם, Bloom, ייצא ב-15 למאי.<br />
<a href="http://www.subpop.com/channel/blog/beach_house_to_release_bloom" rel="nofollow">http://www.subpop.com/channel/blog/beach_house_to_release_bloom</a></p>
]]></content:encoded>
	</item>
</channel>
</rss>
