<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>&#8235;תגובות לפוסט: &#34;בלייק דיסטריקט&#34;&#8236;</title>
	<atom:link href="https://old.kzradio.net/posts/8706/feed" rel="self" type="application/rss+xml" />
	<link>https://old.kzradio.net/posts/8706</link>
	<description>&#8235;הקצפת של המוזיקה &#124;&#124; א\&#039; ו-ג\&#039;, 22:00, גלגל\&#34;צ &#124;&#124; Sun, Tue 22:00 GLGLZ&#8236;</description> 	<lastBuildDate>Wed, 21 Mar 2012 11:13:18 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.3.1</generator>
	<item>
		<title>&#8235;מאת: גדי&#8236;</title>
		<link>https://old.kzradio.net/posts/8706#comment-15719</link>
		<dc:creator>&#8235;גדי&#8236;</dc:creator>		<pubDate>Thu, 26 Jan 2012 16:26:01 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8706#comment-15719</guid>
		<description>&#8235;נדב, איזה באסה... אני לא יכול לבוא בגלל שאני קטנצ&#039;יק... :&#039;(&#8236;</description> 		<content:encoded><![CDATA[<p>נדב, איזה באסה&#8230; אני לא יכול לבוא בגלל שאני קטנצ'יק&#8230; :'(</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: ענבר&#8236;</title>
		<link>https://old.kzradio.net/posts/8706#comment-15718</link>
		<dc:creator>&#8235;ענבר&#8236;</dc:creator>		<pubDate>Thu, 26 Jan 2012 15:33:18 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8706#comment-15718</guid>
		<description>&#8235;סתם אוברייטד.אני מזהה יותר מדי רצינות סביב הדיווחים על בואו של הילדון הבריטי.&#8236;</description> 		<content:encoded><![CDATA[<p>סתם אוברייטד.אני מזהה יותר מדי רצינות סביב הדיווחים על בואו של הילדון הבריטי.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
