﻿/*
Theme Name: KZRadio
Theme URI: http://www.kzradio.net
Description: KZRadio
Version: 1.0
Author: Orli Gan


*** Layout Outline ***

+---------------------------------------------------------------------------------------------------+
|    site_wrap                                                                                                                |
|     +------------------------------------------------------------------------------------------+     |
|     |      wrap                                                                                                          |     |
|     |     +--------------------------------------------------------------------------------+     |     |
|     |     |    banner --> logo                                                                               |     |     |
|     |     +--------------------------------------------------------------------------------+     |     |
|     |     +--------------------------------------------------------------------------------+     |     |
|     |     |    content_wrap                                                                                |     |     |
|     |     |     +------------------+     +----------------------------------------------+     |     |     |
|     |     |     |    sidebar        |     |    navigation                                        |     |     |     |
|     |     |     |                         |     +----------------------------------------------+     |     |     |
|     |     |     |                         |     +----------------------------------------------+     |     |     |
|     |     |     |                         |     |    content                                             |     |     |     |
|     |     |     |                         |     |          entry-header                              |     |     |     |
|     |     |     |                         |     |          entry-meta                                  |     |     |     |
|     |     |     |                         |     |          entry-content                             |     |     |     |
|     |     |     |                         |     |          comment-list                               |     |     |     |
|     |     |     |                         |     |                comment-data                       |     |     |     |
|     |     |     |                         |     |                   comment-meta                   |     |     |     |
|     |     |     |                         |     |                comment-content                  |     |     |     |
|     |     |     |                         |     |          h3 entry-header                         |     |     |     |
|     |     |     |                         |     |          comment-form                            |     |     |     |
|     |     |     |                         |     |              formnames                              |     |     |     |
|     |     |     |                         |     |              comment                                  |     |     |     |
|     |     |     |                         |     |              comsend                                  |     |     |     |
|     |     |     |                         |     |                                                              |     |     |     |
|     |     |     +------------------+     +----------------------------------------------+     |     |     |
|     |     +--------------------------------------------------------------------------------+     |     |
|     |     +--------------------------------------------------------------------------------+     |     |
|     |     |    footer                                                                                            |     |     |
|     |     +--------------------------------------------------------------------------------+     |     |
|     +------------------------------------------------------------------------------------------+     |
+---------------------------------------------------------------------------------------------------+


*/


/* --- General Styles --- */

body {
	background: #323232 url("images/body_bg.gif") repeat;
	text-align: center;
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	font-family: arial, tahoma, verdana, helvetica;
	font-size: 12px;
	direction: rtl;
}

a { 
	color: #c48819;
	text-decoration: none;
}

a:hover { 
	color: #ffcc33;
	text-decoration: underline;
}

a:visited { 
	color: #c48819; 
}

img, 
a img, 
img a {
	border: none;
}

.clear {
	clear: both;
	height: 0;
}

/* --- End of General Styles --- */


/* --- Wraps --- */

#site_wrap { 
	width: 908px;
	margin: auto;
}

#wrap { 
	width: 900px;
	background: #000000; /*url("images/site_bg.gif") repeat-y top left ;*/
	text-align: right;
	border: 4px solid #000000;
	border-top: none;
	border-bottom: none;
}

.content_wrap { 
	width: 900px;
	margin: 0;
	margin-right: 0;
	background: url("images/site_bg.gif") repeat-y top left ;
}

/* --- End of Wraps --- */


/* --- Banner and Logo --- */

#banner { 
	position: relative;
	z-index: 100;
	height: 146px;
	width: 900px;
	display: block;
}

#banner h1 { 
	display: none;
}

#banner img { 
	border: 0;
	margin-right: 5px;
}


/* - Logo - */

.logo {
	width:900px;
	height: 146px;
	position: absolute;
	right: 0;
	top: 0;
	font-size: .1em;
	z-index: -200;
}

.logo span {
	background: #000000 url("images/header.jpg") top right no-repeat;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 900px;
	height: 146px;
	cursor: pointer;
}

.logo a:link, 
.logo a:visited, 
.logo a:hover  {
	color: #F4F3DB;
	text-decoration: none;
}

/* --- End of Banner and Logo --- */



/* --- Navigation and Search --- */

#navigation {
	display: block;
	position: relative;
	z-index: 1;
	width: 720px;
	height: 38px;
	margin: 0px;
	padding: 0;
	font-weight: bold;
	font-size: 12px;
	border: none;
	background: #000000;
}

#navigation .menu { 
	margin: 0;
	padding: 0px;
	text-align: right;
}

#navigation .menu_item,
#navigation .menu_seperator { 
	float: right;
}

#navigation .menu_item  a img {
	padding: 10px 4px 8px 4px;
	margin: 0;
}
#navigation .menu_seperator img{ 
	padding: 8px 4px;
	margin: 0;
}

/* - Search - */

#search {
	text-align: left;
}

#search-form {
	margin: 0px;
    padding: 5px 0px 5px 5px;
}

#navigation .search-input {
	margin: 4px 6px 4px 6px;
    padding: 1px 2px 1px 2px;
    background: #aaaaaa;
    font-size: 12px;
    width: 100px;
    height: 15px;
	border: none;
}

#navigation .search-button {
    margin: 0px;
    padding: 0px ;
    border: none;
    text-align: center;
    width: 41px;
    height: 20px;
    background: none;
}

#navigation .search-button img {
    margin: 0px;
    padding: 0px 10px ;
}

/* --- End of Navigation and Search --- */


/* --- Sidebar --- */

#sidebar {
	width: 180px;
	float: left;
	margin: 0;
	padding: 0px;
	/*background-color: #263237;*/
}

.sidebar_title {
	background-color: #282828;
	font-size: 12px;
	margin: 0px;
	padding: 10px;
	height: 18px;
	color: #ffffff;
}	

.sidebar_item {
	margin: 0 0 20px 0;
}

#sidebar p {
	margin: 0px;
	padding: 15px 10px 5px 10px;
	height: 14px;
	color: #cccccc;
    line-height:1.5em;
}

#sidebar h2 {
	background-color: transparent;
	font-size: 16px;
	margin: 0px;
	padding: 15px 10px 0 0;
	height: 15px;
	color: #ffffff;
}	

#sidebar h3 {
	font-size: 14px;
	margin: 0px;
	padding: 15px 10px 5px 10px;
	height: 14px;
	color: #ffcc33;
}	

#sidebar li.linkcat {
	margin: 0px -24px 0 0 ;
	padding: 0;
	list-style: none;
}

#sidebar ul {
    margin:0px 0px 0px 0px;
    padding: 0px 24px 0 5px;
	list-style: square outside;
}

#sidebar li {
    padding: 2px 0px 2px 10px;
	text-indent: 0px;
    line-height:1.2em;
}


#sidebar a 
{
    font-weight: normal;
}

#sidebar a:link,
#sidebar a:visited {
    color: #fff;
    text-decoration: none;
}
  
#sidebar a:hover {
    color: #ffcc33;
    text-decoration: underline;
}

/* --- End of Sidebar --- */


/* --- Content --- */

#content { 
	font-size: 12px;
	padding: 20px 0 0 10px;
	width: 700px;
	min-height: 330px;
	text-align: justify;
	/*background-color: #121f24;*/
}

#content p {
	padding: 0 10px 0 10px;
	margin: 5px 0;
}

#content p, 
.date, 
#content h1, 
#content h2, 
#content h3 {
	margin: 5px 10px 0px 0;
	padding: 0;
}

#content h2,
#content h3 {
	font-size: 14px;
}

#content h4 {
  margin: 20px 10px 8px 0;
  font-size: 12px;
  color: #cccccc;
  font-weight: bold;
}

.entry-header {
	margin: 10px 0;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
}

.entry-header a:link,
.entry-header a:visited {
	color: #ffcc33;
}

.entry-header a:hover {
	color: #ffee33;
	text-decoration: none;
}

.entry-meta {
	margin: 5px 10px 7px 0;
	padding-top: 0px;
	padding-bottom: 5px;
	color: #cccccc;
	font-weight: normal;
	font-size: 11px;
	border-bottom: 1px solid #1a2936;
}

.entry-footer {
	margin: 5px 10px 20px 0;
	border-top: 1px solid #1a2936;
	padding-top: 5px;
	color: #666;
	font-weight: normal;
}

.entry-meta a:link,
.entry-meta a:visited,
.entry-footer a:link,
.entry-footer a:visited {
	color: #cccccc;
}

.entry-meta a:hover,
.entry-footer a:hover {
	color: #ffcc33;
	text-decoration: underline;
}

.entry-more-link { 
	font-weight: bold;
}

.entry-post {
	margin: 10px 0 0px 0;
	padding: 0 0 40px 0;
}

.entry-post p {
}

.posts-nav {
	padding: 20px 0 20px 0;
	text-align: justify;
}

.nav-alignright,
.nav-alignleft {
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
}

.nav-alignright {
	float: right;
}
.nav-alignleft {
	float: left;
}

blockquote {
    font-style: italic;
    margin: 10px 30px 0 20px;
    padding: 0px 0 0 20px;
	border-right: 5px solid #ffcc33;
}


.entry-post .youtube {
  padding:0px;
  background: #EDE384;
  border:2px solid #8D8324;
  text-align: center;
  width: 425px;
  font-weight: bold;
  padding: 4px;
  margin: 30px 0 0 0;
}

.entry-post h4 {
  margin-top:20px;
  margin-bottom: 8px;
  margin: 20px 10px 8px 0;
  font-size: 14px;
  font-weight: bold;
}

.date-header, 
.entry,
.trackbacks,
.comments,
.archive {
	position: static;
	overflow: hidden;
	clear: both;
	width: 100%;
	margin-bottom: 20px;
}


img.image-full { 
	width: 100%;
}





/* --- End of Content --- */


/* --- Footer --- */

#footer { 
	clear: both;
	min-height: 14px;
	border-top: none;
	width: 900px;
	margin: 0px;
	color: #ffffff;
	background-color: #000000;
	font-size: 6pt;
	padding-top: 5px;
	padding-bottom: 3px;
	letter-spacing: 3px;
}

#footer a:link,
#footer a:hover,
#footer a:visited { 
	color: #ffffff;
}

#footer a:hover { 
	text-decoration: underline;
}

.disclaimer {
	padding: 5px 15px 5px 15px;
	margin: 0;
	text-align: right;
	border-bottom: 1px dotted #666666;
}

.footer_left {
	float: left;
	width: 200px;
	padding: 5px 0px 5px 15px;
	margin: 0;
	text-align: left;
}

.footer_right {
	width: 530px;
	padding: 5px 15px 5px 0;
	margin: 0;
	text-align: right;
}

.footer_space{
}

/* --- End of Footer --- */


/* --- Comments --- */

/* - Send Comments Form - */

#comment-form {
	margin-top:10px; 
	margin-bottom:20px;
}

#comment-form p {
	margin: 5px 0;
}

#comment-form .sendcom-meta {
	margin: 0px;
	padding: 10px 15px;
	float: right;
}

#comment-form .sendcom-meta p{
	margin: 0px 0 5px 0;
	padding: 0;
}

#comment-form  small {
	color: #cccccc; 
	font-size: 10px; 
}

#comment-form label {
	padding: 0 0 5px 0;
	display: block;
}

#comment-form input {
	width: 160px;
	margin: 0 0 10px 0;
    padding: 1px 2px 1px 2px;
    background: #aaaaaa;
    font-size: 12px;
    width: 140px;
    height: 15px;
	border: none;
}

#comment-form input[type="image"] { 
	background: none;
	padding: 0;
	margin: 0;
	border: 0px;
}

#comment-form textarea {
	width: 380px;
	height: 101px;	
	padding: 5px;
	margin: 0;
	background-color: #aaaaaa;
	border: none; 
	overflow: auto;
}

#comment-form .sendcom-button {
    margin: 10px 349px 10px 0;
    padding: 0px ;
    border: none;
    width: 41px;
    height: 20px;
    background: none;
	display: block;
}

#comment-form .sendcom-button img{
    margin: 0px;
    padding: 0px ;
}


/* - Comments List - */

.alt {
}

.comment-list {
	padding: 0px;
	margin: 0 50px 0 0;
	text-align: right;
	list-style-type: decimal;
	list-style-position: outside;
}

.comment-list li {
	margin: 10px 0 3px 0;
	padding: 5px 0px 3px 0;
	vertical-align: top;
}

.comment-list cite, 
.comment-list cite a, 
.comment-list cite a:visited {
	font-weight: bold;
	font-style: normal;
	font-size: 14px; 
	color: #c48819; 
	line-height: 18px;
}

.comment-list cite a:hover { 
	color: #ffcc33;
	text-decoration: underline;
}

.comment-data {
	margin: 5px 10px 7px 0;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #cccccc;
	font-weight: normal;
	font-size: 11px;
	border-bottom: none;
}

.comment-data a, 
.comment-data a:visited {
	color:#cccccc; 
	text-decoration: none;
}

.comment-data a:hover{
	color:#ffcc33; 
	text-decoration: underline;
}

.comment-meta {
	font-weight: normal; 
	font-size: 10px; 
	line-height: 12px; 
	margin-top: 4px;
}

.comment-content {
	width: 350px;
	color: #ffffff;
	border-bottom: 1px solid #1a2936;
	margin: 0 0 10px 0; 
	padding: 0 7px 7px 7px; 
	font-size: 12px; 
	color: #aaaaaa !Important;
}

/* - Extras - */

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
	}

/* --- End of Comment --- */

