<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>&#8235;תגובות לפוסט: &#34;הקצה חוזרת! בתור תחנת רדיו חדשה ברשת!! ועוד הפתעות וחדשות!!&#34;&#8236;</title>
	<atom:link href="https://old.kzradio.net/posts/8737/feed" rel="self" type="application/rss+xml" />
	<link>https://old.kzradio.net/posts/8737</link>
	<description>&#8235;הקצפת של המוזיקה &#124;&#124; א\&#039; ו-ג\&#039;, 22:00, גלגל\&#34;צ &#124;&#124; Sun, Tue 22:00 GLGLZ&#8236;</description> 	<lastBuildDate>Wed, 21 Mar 2012 11:13:18 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.3.1</generator>
	<item>
		<title>&#8235;מאת: תומר&#8236;</title>
		<link>https://old.kzradio.net/posts/8737#comment-15946</link>
		<dc:creator>&#8235;תומר&#8236;</dc:creator>		<pubDate>Thu, 09 Feb 2012 14:38:42 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8737#comment-15946</guid>
		<description>&#8235;איזה כיף. החיבור עם 88 טבעי בעיני. בהצלחה וכל הכבוד על היוזמה והתעוזה!&#8236;</description> 		<content:encoded><![CDATA[<p>איזה כיף. החיבור עם 88 טבעי בעיני. בהצלחה וכל הכבוד על היוזמה והתעוזה!</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: אוריין&#8236;</title>
		<link>https://old.kzradio.net/posts/8737#comment-15939</link>
		<dc:creator>&#8235;אוריין&#8236;</dc:creator>		<pubDate>Thu, 09 Feb 2012 09:47:01 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8737#comment-15939</guid>
		<description>&#8235;מזל טוב!&#8236;</description> 		<content:encoded><![CDATA[<p>מזל טוב!</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: סשה רסקין&#8236;</title>
		<link>https://old.kzradio.net/posts/8737#comment-15892</link>
		<dc:creator>&#8235;סשה רסקין&#8236;</dc:creator>		<pubDate>Sun, 05 Feb 2012 20:21:35 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8737#comment-15892</guid>
		<description>&#8235;גדול !!! diy all the way&#8236;</description> 		<content:encoded><![CDATA[<p>גדול !!! diy all the way</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: ה ק צ ה &#124;&#124; K Z R a d i o &#187; שירים שהיינו משדרים אם הייתה תוכנית הלילה, 5.2.12&#8236;</title>
		<link>https://old.kzradio.net/posts/8737#comment-15880</link>
		<dc:creator>&#8235;ה ק צ ה &#124;&#124; K Z R a d i o &#187; שירים שהיינו משדרים אם הייתה תוכנית הלילה, 5.2.12&#8236;</dc:creator>		<pubDate>Sun, 05 Feb 2012 14:21:23 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8737#comment-15880</guid>
		<description>&#8235;[...] הקצה חוזרת! בתור תחנת רדיו חדשה ברשת!! ועוד הפתעות וחדשו... [...]&#8236;</description> 		<content:encoded><![CDATA[<p>[...] הקצה חוזרת! בתור תחנת רדיו חדשה ברשת!! ועוד הפתעות וחדשו&#8230; [...]</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: דניאל&#8236;</title>
		<link>https://old.kzradio.net/posts/8737#comment-15873</link>
		<dc:creator>&#8235;דניאל&#8236;</dc:creator>		<pubDate>Sat, 04 Feb 2012 18:26:32 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8737#comment-15873</guid>
		<description>&#8235;איזה כיף! המתכונת החדשה נשמעת מבטיחה ומתאימה יותר ליכולות של שניכם. משוכנע שזה יתברר כצעד מבורך. :) כולי ציפייה!
בהצלחה חברים יקרים.&#8236;</description> 		<content:encoded><![CDATA[<p>איזה כיף! המתכונת החדשה נשמעת מבטיחה ומתאימה יותר ליכולות של שניכם. משוכנע שזה יתברר כצעד מבורך. <img src='https://old.kzradio.net/wp-includes/images/smilies/icon_smile.gif' alt=':)' class='wp-smiley' />  כולי ציפייה!<br />
בהצלחה חברים יקרים.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: שרית&#8236;</title>
		<link>https://old.kzradio.net/posts/8737#comment-15870</link>
		<dc:creator>&#8235;שרית&#8236;</dc:creator>		<pubDate>Sat, 04 Feb 2012 15:52:34 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8737#comment-15870</guid>
		<description>&#8235;נשמע מלהיב. ברכות ושיהיה בשעה טובה.&#8236;</description> 		<content:encoded><![CDATA[<p>נשמע מלהיב. ברכות ושיהיה בשעה טובה.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: עידו שחם&#8236;</title>
		<link>https://old.kzradio.net/posts/8737#comment-15868</link>
		<dc:creator>&#8235;עידו שחם&#8236;</dc:creator>		<pubDate>Sat, 04 Feb 2012 13:15:24 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8737#comment-15868</guid>
		<description>&#8235;יאי! שמח שמצאתם בית טוב, סחטיין על 88FM שצירפו אתכם לצוות המעולה שלהם.&#8236;</description> 		<content:encoded><![CDATA[<p>יאי! שמח שמצאתם בית טוב, סחטיין על 88FM שצירפו אתכם לצוות המעולה שלהם.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: גדי&#8236;</title>
		<link>https://old.kzradio.net/posts/8737#comment-15846</link>
		<dc:creator>&#8235;גדי&#8236;</dc:creator>		<pubDate>Fri, 03 Feb 2012 02:27:21 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8737#comment-15846</guid>
		<description>&#8235;כאפה שטות עם הזין לגלגלצ.
לדעתי עשה לכם רק טוב שהלכתם מהתחנה המעוכבת שכלית הזאת.&#8236;</description> 		<content:encoded><![CDATA[<p>כאפה שטות עם הזין לגלגלצ.<br />
לדעתי עשה לכם רק טוב שהלכתם מהתחנה המעוכבת שכלית הזאת.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: משה&#8236;</title>
		<link>https://old.kzradio.net/posts/8737#comment-15842</link>
		<dc:creator>&#8235;משה&#8236;</dc:creator>		<pubDate>Thu, 02 Feb 2012 18:01:15 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8737#comment-15842</guid>
		<description>&#8235;מזל טוב! איזה חדשות טובות! כמה טוב שאתם חוזרים.
כמה שעות תהיה התוכנית ב-88? יש מצב להתחיל אותה יותר מוקדם מ-23:00?&#8236;</description> 		<content:encoded><![CDATA[<p>מזל טוב! איזה חדשות טובות! כמה טוב שאתם חוזרים.<br />
כמה שעות תהיה התוכנית ב-88? יש מצב להתחיל אותה יותר מוקדם מ-23:00?</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: מארק&#8236;</title>
		<link>https://old.kzradio.net/posts/8737#comment-15841</link>
		<dc:creator>&#8235;מארק&#8236;</dc:creator>		<pubDate>Thu, 02 Feb 2012 17:29:48 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8737#comment-15841</guid>
		<description>&#8235;הללויה! התרגשות רבה.
 סחתיין, מזלטוב ומצפים בקוצרוח. מהרו ושובו&#8236;</description> 		<content:encoded><![CDATA[<p>הללויה! התרגשות רבה.<br />
 סחתיין, מזלטוב ומצפים בקוצרוח. מהרו ושובו</p>
]]></content:encoded>
	</item>
</channel>
</rss>
