<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>&#8235;תגובות לפוסט: &#34;מה עושה את ארול כזה אחלן ?&#34;&#8236;</title>
	<atom:link href="https://old.kzradio.net/posts/8856/feed" rel="self" type="application/rss+xml" />
	<link>https://old.kzradio.net/posts/8856</link>
	<description>&#8235;הקצפת של המוזיקה &#124;&#124; א\&#039; ו-ג\&#039;, 22:00, גלגל\&#34;צ &#124;&#124; Sun, Tue 22:00 GLGLZ&#8236;</description> 	<lastBuildDate>Wed, 21 Mar 2012 11:13:18 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.3.1</generator>
	<item>
		<title>&#8235;מאת: נתנאלה&#8236;</title>
		<link>https://old.kzradio.net/posts/8856#comment-16627</link>
		<dc:creator>&#8235;נתנאלה&#8236;</dc:creator>		<pubDate>Sat, 17 Mar 2012 13:04:34 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8856#comment-16627</guid>
		<description>&#8235;איזה פלייליסט רדוף רוחות...
והשיר שסוגר אותו כל כך קסום :)
כרגיל, אין הרבה שאני יכולה לעשות חוץ מלהודות לכם שם. אתם עושים עבודת קודש, לא פחות.&#8236;</description> 		<content:encoded><![CDATA[<p>איזה פלייליסט רדוף רוחות&#8230;<br />
והשיר שסוגר אותו כל כך קסום <img src='https://old.kzradio.net/wp-includes/images/smilies/icon_smile.gif' alt=':)' class='wp-smiley' /><br />
כרגיל, אין הרבה שאני יכולה לעשות חוץ מלהודות לכם שם. אתם עושים עבודת קודש, לא פחות.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: ענבר&#8236;</title>
		<link>https://old.kzradio.net/posts/8856#comment-16361</link>
		<dc:creator>&#8235;ענבר&#8236;</dc:creator>		<pubDate>Wed, 07 Mar 2012 12:15:26 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8856#comment-16361</guid>
		<description>&#8235;תודה רבה!
נשמע כמו דרך טובה לחגוג את פורים (ועוד כמה דברים טובים שקרו השבוע).
נקווה רק שהברברים האדומים יפסיקו ללכלך לנו את העיר, ויסתלקו לנו מהמרחב הציבורי.&#8236;</description> 		<content:encoded><![CDATA[<p>תודה רבה!<br />
נשמע כמו דרך טובה לחגוג את פורים (ועוד כמה דברים טובים שקרו השבוע).<br />
נקווה רק שהברברים האדומים יפסיקו ללכלך לנו את העיר, ויסתלקו לנו מהמרחב הציבורי.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
