<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>&#8235;ה ק צ ה &#124;&#124; K Z  R a d i o &#187; שונות&#8236;</title>	<atom:link href="https://old.kzradio.net/category/misc/feed" rel="self" type="application/rss+xml" />
	<link>https://old.kzradio.net</link>
	<description>&#8235;הקצפת של המוזיקה &#124;&#124; א\&#039; ו-ג\&#039;, 22:00, גלגל\&#34;צ &#124;&#124; Sun, Tue 22:00 GLGLZ&#8236;</description>	<lastBuildDate>Sun, 18 Mar 2012 07:19:59 +0000</lastBuildDate>
	<language>#</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.3.1</generator>
		<item>
		<title>&#8235;4 אמנים לוהטים מחו&quot;ל ש(כן) מגיעים בימים הקרובים, שלא תתבאסו בעוד שנה שלא ידעתם ולא באתם&#8236;</title>		<link>https://old.kzradio.net/posts/8799</link>
		<comments>https://old.kzradio.net/posts/8799#comments</comments>
		<pubDate>Wed, 22 Feb 2012 13:59:14 +0000</pubDate>
		<dc:creator>&#8235;Quami&#8236;</dc:creator>				<category><![CDATA[אירועים]]></category>
		<category><![CDATA[שונות]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8799</guid>
		<description><![CDATA[&#8235;על רקע ביטולים למיניהם של אמני חו&#34;ל, רצינו לספר לכם/ן על שני אירועים מוזיקליים שמסקרנים אותנו במיוחד.שניהם יתרחשו בליל חמישי הזה (ואחד מהם ימשיך גם לשישי ושבת), ושניהם יביאו איתם אמנים מחו&#34;ל עם לבבות בוערים, שקרוב לוודאי שיהפכו את הביקורים שלהם למעניינים במיוחד. בחזית הרוקנ'רול, הגיטרות והגראז', תארח אחת הלהקות הכי משמחות בארץ &#8211; רוצי [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><p style="text-align: center;" dir="RTL"><a href="https://old.kzradio.net/wp-content/uploads/2012/02/acidcrashbuba-final-A3.jpg"><img class="aligncenter  wp-image-8803" src="https://old.kzradio.net/wp-content/uploads/2012/02/acidcrashbuba-final-A3-723x1024.jpg" alt="" width="430" height="609" /></a></p>
<p dir="RTL">על רקע ביטולים למיניהם של אמני חו&quot;ל, רצינו לספר לכם/ן על שני אירועים מוזיקליים שמסקרנים אותנו במיוחד.שניהם יתרחשו בליל חמישי הזה (ואחד מהם ימשיך גם לשישי ושבת), ושניהם יביאו איתם אמנים מחו&quot;ל עם לבבות בוערים, שקרוב לוודאי שיהפכו את הביקורים שלהם למעניינים במיוחד.</p>
<p dir="RTL">בחזית הרוקנ'רול, הגיטרות והגראז', תארח אחת הלהקות הכי משמחות בארץ &#8211; רוצי בובה המצויינת – שתי להקות שיופיעו איתה בחמישי בלבונטין7 בת&quot;א, בשישי באוגנדה בירושלים ובשבת בתיכון שבחיפה:</p>
<p dir="RTL">1. Acid Baby Jesus, להקת גראז' מיוון,שמזכירה לא מעט את הבלאק ליפס, כפי שאלה נשמעו כשהגיעו לארץ. כנראה שלא בכדי הם גם חיממו לאחרונה את הליפס בהופעות שלהם.</p>
<p dir="RTL">אסיד בייבי ג'יזס חתומים בSlovenly, אחד הלייבלים המעניינים של הגראז' בשנים האחרונות (שמוציא את תקליטיהם הראשונים של ה-Spits ושפועלים בו הרכבים כמו JC  Satan  ו-WAU Y LOS ARRRGHS!!!).</p>
<p dir="RTL">ועכשיו שימו לב לקליפ התינוקות הגאוני,שאין סיבה שלא יהפך ללהיט הבא בפייסבוק שלכם, גם אם באיחור קליל של כשנה וחצי:</p>
<p style="text-align: left;"><iframe src="https://www.youtube.com/embed/fqSiA9B0EfY" frameborder="0" width="420" height="315"></iframe></p>
<p>2.  Crash Normal – מגיעים מצרפת ומשלבים בין גראז' נויזי למכונות תופים מעוכות. קצת מזכירים את The Intelligence לאלה מכם שמכירים וזוכרים:</p>
<p style="text-align: left;" dir="ltr"><iframe src="https://www.youtube.com/embed/z_aHUT_XB5Q" frameborder="0" width="420" height="315"></iframe></p>
<p dir="RTL">שאר הפרטים <a href="http://www.facebook.com/events/242762059134882" target="_blank">באיוונט</a>.</p>
<p dir="RTL">ובחזית הטכנו-האוס תתרחש באותה העת מסיבה של דה בלוק החדש יחד עם אנשי NEWS  ו-N-factorial שיביאו לארץ את רומן פלוגל ואניה שניידר:</p>
<p style="text-align: center;" dir="RTL"><a href="https://old.kzradio.net/wp-content/uploads/2012/02/403331_10150550061293687_550178686_9151031_1280396059_n.jpg"><img class="aligncenter  wp-image-8804" src="https://old.kzradio.net/wp-content/uploads/2012/02/403331_10150550061293687_550178686_9151031_1280396059_n.jpg" alt="" width="477" height="670" /></a></p>
<p dir="RTL">פלוגל המרתק, מפרנקפורט במקור, הצליח במהלך הקריירה האקלקטית שלו כמפיק, יוצר, רמיקסר ודיג'יי לספק לעולם רגעים בולטים של אלקטרו-Pאנק כחצי הצמד Alter Ego, והגדיל ללהטט כיחיד בין אסיד-האוס, ג'אזיות ואמביינט ולנוע עד לדרך בה חיבר בחום בין מינימל האוס וטכנו לבין אלמנטים ברזילאים ולטינים. לדוגמה:</p>
<p style="text-align: left;" dir="RTL"><iframe src="https://www.youtube.com/embed/mqafcAWlHQ0" frameborder="0" width="420" height="315"></iframe></p>
<p style="text-align: left;" dir="RTL"><iframe src="https://www.youtube.com/embed/IhH_A-lBQiM" frameborder="0" width="420" height="315"></iframe></p>
<p>והטיפול המעודן שלו בסימפול של דוראן דוראן:</p>
<p style="text-align: left;" dir="RTL"><iframe src="https://www.youtube.com/embed/Kjy_GRJP8zQ" frameborder="0" width="560" height="315"></iframe></p>
<p dir="RTL">שניידר הכריזמטית – הדיג'יית, שדרנית הרדיו, המפיקה הברלינאית ובעלת הלייבל Mobilee, גם היא מזרימה כבר שנים דם חם בעורקים אליהם מתמזגים מינימל טכנו ודיפ-האוס:</p>
<p style="text-align: left;" dir="RTL"><iframe src="https://www.youtube.com/embed/ogmMrlUVGfo" frameborder="0" width="420" height="315"></iframe></p>
<p dir="RTL">אז שלא תגידו לא ידענו (:</p>
<p dir="RTL">לפני הסטים של פלוגל ושניידר יתקלט אוריה קלפטר, איש NEWS, וזה מסקרן בפני עצמו.</p>
<p dir="RTL">וגם כאן, שאר הפרטים <a href="http://www.facebook.com/events/295394510521462" target="_blank">באיוונט</a>.</p>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8799/feed</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>&#8235;ג&#039;ואקים וויילד&#8236;</title>		<link>https://old.kzradio.net/posts/8727</link>
		<comments>https://old.kzradio.net/posts/8727#comments</comments>
		<pubDate>Wed, 01 Feb 2012 14:53:07 +0000</pubDate>
		<dc:creator>&#8235;nadav&#8236;</dc:creator>				<category><![CDATA[פלייליסט]]></category>
		<category><![CDATA[שונות]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8727</guid>
		<description><![CDATA[&#8235;&#160; ביום חמישי בבלוק, אולי כבר קראתם בכל מיני מקומות, ישיקו הצמד המקומי רד אקסס איפי חדש. ההשקה שלהם תזמן לארץ לביקור נוסף את ג'ואקים בואזיז, או סתם ג'ואקים בשבילכם, אחד ממפיקי המוזיקה האלקטרונית הבולטים שיצאו מצרפת בעשור האחרון. הפרוייקט הראשון שלו נקרא Joakin Lone Octet, והיה אלבום חלוצי בסצינת הברוקן-ביט/ניו-ג'אז. אבל מה שנשאר מהאלבום [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><p>&nbsp;</p>
<p><a href="https://www.facebook.com/events/192268507537708/"><img class="aligncenter size-full wp-image-8728" title="joakim" src="https://old.kzradio.net/wp-content/uploads/2012/02/joakim.jpg" alt="" width="460" height="640" /></a></p>
<p>ביום חמישי בבלוק, אולי כבר קראתם בכל מיני <a href="http://www.tapud.co.il/archives/4642">מקומות</a>, ישיקו הצמד המקומי רד אקסס איפי חדש. ההשקה שלהם תזמן לארץ לביקור נוסף את ג'ואקים בואזיז, או סתם ג'ואקים בשבילכם, אחד ממפיקי המוזיקה האלקטרונית הבולטים שיצאו מצרפת בעשור האחרון.</p>
<p>הפרוייקט הראשון שלו נקרא Joakin Lone Octet, והיה אלבום חלוצי בסצינת הברוקן-ביט/ניו-ג'אז. אבל מה שנשאר מהאלבום הזה הוא בעיקר השם שלו, <a href="http://www.tigersushi.com/">Tiger Sushi</a>, שהפך להיות השם של הלייבל שמריץ ג'ואקים כבר יותר מעשר שנים.</p>
<p>הלייבל פעל על התפר בין דיסקו, האוס, טכנו, ניו ווייב ופוסט פאנק, בין שנות השמונים לשנות האלפיים, ושחרר מוזיקה למוריס פולטון, ג'ון טחאדה, מטרו אריאה, וגם סמי בירנבך, סייקיק טי וי, ועוד. מה שמוזר, זה שרק בשנה שעברה ג'ואקים הוציא בעצמו תקליט בלייבל שלו &#8211; את אלבום הסולו הרביעי שלו, למעשה.</p>
<p>בין שלל רימיקסים, רי-אדיטים חצופים (תחת השם ג'ימי בזוקה) וקטעים עבור רחבת הריקודים, ג'ואקים גם הפיק וכתב שירים מצויינים, רבים מהם שידרנו לאורך השנים בקצה.</p>
<p>מי שזוכר את הביקור הקודם של ג'ואקים, במועדון הברזילי הראשון, זוכר גם שמדובר בדיג'יי שיודע את העבודה. אז בכלל.</p>
<p>קבלו רשימה של קטעים שבחרנו, עם <a href="http://soundcloud.com/imacliche/nick-cave-red-right-hand-red">בונוס בסוף</a>, רי-אדיט של רד-אקסס ביחד עם ניב הדס, לRed Right Hand, של ניקוס קייבוס.</p>
<p>&nbsp;</p>
<p><iframe src="https://www.youtube.com/embed/videoseries?list=PL4102039F52403F05&amp;hl=en_US" frameborder="0" width="469" height="265"></iframe></p>
<p>&nbsp;</p>
<p style="text-align: center;">הפלייליסט:</p>
<p dir="ltr"><strong>שירים מקוריים</strong><br />
Ad me<br />
Spiders<br />
Are You Vegetarian?<br />
Come into my kitchen<br />
Little Girl<br />
In the Cave<br />
Forever young (Discodeine Remix)</p>
<p dir="ltr"><strong>רימיקסים</strong><br />
Simian Mobile Disco &#8211; Hustler (Joakim Remix)<br />
Lionel Hampton &#8211; Vibramatic! (Joakim remix)<br />
Friendly Fires &#8211; On board (Joakim Remix)<br />
Royksopp featuring Robyn &#8211; The girl &amp; The Robot (Joakim Remix)<br />
Max Berlin – Elle &amp; Moi (Joakim RMX)<br />
Antena &#8211; Camino Del Sol (Joakim Remix)</p>
<p dir="ltr"><strong>רי אדיטים</strong><br />
JJ Cale &#8211; Ride me High (Joakim edit)<br />
Jimi Bazzouka &#8211; Don’t hammer</p>
<p style="text-align: center;">והנה הבונוס:</p>
<p><iframe src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F34934230&amp;show_artwork=true" frameborder="no" scrolling="no" width="100%" height="166"></iframe></p>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8727/feed</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>&#8235;שירים שהיינו משדרים אם הייתה לנו תוכנית הלילה, 29.1.12&#8236;</title>		<link>https://old.kzradio.net/posts/8719</link>
		<comments>https://old.kzradio.net/posts/8719#comments</comments>
		<pubDate>Sun, 29 Jan 2012 13:07:02 +0000</pubDate>
		<dc:creator>&#8235;nadav&#8236;</dc:creator>				<category><![CDATA[פלייליסט]]></category>
		<category><![CDATA[שונות]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8719</guid>
		<description><![CDATA[&#8235;אז שבוע טוב, ומקווים שהיה סופ&#34;ש מצוין. נהניתם בג'יימס בלייק בבלוק? החברים בבלוג תפו&#34;ד שולחים עקיצה למסיבה ביום שישי, שלדעת רבים היתה אכזבה. מה דעתכם? בזמן שאנחנו ממשיכים לעבוד על הדור הבא של הקצה, מצאנו עוד כמה שירים שהיינו חייבים לנגן לכם, גם אם לא ברדיו, אז לפחות כאן. נגנו את הפלייליסט של יוטיוב שמופיע [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><p><a href="https://old.kzradio.net/wp-content/uploads/2012/01/lana-del-rey2.jpg"><img class="aligncenter  wp-image-8722" title="lana-del-rey2" src="https://old.kzradio.net/wp-content/uploads/2012/01/lana-del-rey2.jpg" alt="" width="457" height="281" /></a></p>
<p>אז שבוע טוב, ומקווים שהיה סופ&quot;ש מצוין.</p>
<p>נהניתם בג'יימס בלייק בבלוק? החברים בבלוג תפו&quot;ד <a href="http://www.tapud.co.il/archives/4609" target="_blank">שולחים עקיצה</a> למסיבה ביום שישי, שלדעת רבים היתה אכזבה. מה דעתכם?</p>
<p>בזמן שאנחנו ממשיכים לעבוד על הדור הבא של הקצה, מצאנו עוד כמה שירים שהיינו חייבים לנגן לכם, גם אם לא ברדיו, אז לפחות כאן.</p>
<p>נגנו את הפלייליסט של יוטיוב שמופיע כאן, ועוד כמה שירים שלא מצאנו ביוטיוב, בהמשך, ואז תמשיכו לקרוא..</p>
<p>&nbsp;</p>
<p><iframe src="https://www.youtube.com/embed/videoseries?list=PL63874F80871D33CB&amp;hl=en_US" frameborder="0" width="456" height="264"></iframe></p>
<p>&nbsp;</p>
<p dir="rtl"><strong><a href="http://www.spoekmathambo.com/" target="_blank"> Spoek Mathambo &#8211; Let them talk</a> (אין ביוטיוב, לחצו על הלינק)</strong></p>
<p dir="rtl">בשנה שהסתיימה נדלקנו בקצה על ספואק מת’אמבו, אמן דרום אפריקאי, שהביא איתו משהו אפריקאי מרתק ואפל לאלקטרוניקה עכשווית. גם בסאב פופ נדלקו עליו, ובקרוב יצא לו שם אלבום. פה באתר שלו אפשר לשמוע ולהוריד בחינם את  הסינגל החדש מתוכו שיצא השבוע והוא בכלל (סוג של ) שיר רוק</p>
<p style="text-align: right;" dir="ltr"><strong>Weird Dreams &#8211; 666.66</strong></p>
<p dir="rtl">שירים עם 666 תמיד באים טוב. על אחת כמה הסינגל החדש והמקסים באמת הזה של הרכב חדש ממזרח לונדון</p>
<p style="text-align: right;" dir="ltr"><strong>Lana Del Rey &#8211; Summertime sadness</strong></p>
<p dir="rtl">אין שום דבר יותר דוחה בעולם המוסיקה, אפילו לא דברים שנאמרים בדה ווייס יזראעל, מההתנפלות משחרת הטרף על לאנה דל ריי, והציפייה הדרוכה,בעיקר של רבים שהיללו אותה, לחזות בה מתרסקת. השאלות ( שאת חלקן היא בעצמה כבר אימתה) האם היא הוציאה תקליט בשם אחר, האם לאנה דל ריי הוא אלטר אגו בדוי, האם היא ניפחה את השפתיים- רחוקות מלהיות רלוונטיות בעולם הפופ, אלא אם כן נולדתם אתמול ואתם בולעים כל פיתיון שמאכילים אתכם. זה גם לא רלוונטי כי זה לא ששינה למישהו מי היא היתה בפעמים הראשונות ששמענו את וידאו גיימז. כי כל ההיסטריה סביבה לא היתה מתרחשת אילולא  וידאו גיימז היה שיר כ”כ מושלם ויוצא דופן, שלמי בכלל אכפת מה עשתה קודם מי ששרה אותו. זה היה קודם השיר להזכירכם, רק אח”כ הוידאו&#8230; וכל אלה מחווירים עוד יותר כשמקשיבים לאלבום החדש והמלא שלה, “נולד(ה) למות”, שכמובן נקרא ע”ש שיר של אחד מאיתנו ( ואם כבר- זו השערורייה האמיתית). האלבום הזה לא חף מפגמים ( בעיקר בתחום הטקסטים)  ומרצועות חלשות, אבל כשסביבה רוחשות להן ריהאנות וקייטי פריות בינוניות ,התקליט הזה נשמע שונה לחלוטין- חייזרי, מנוכר, עצוב,יצירתי,פגום לב. הלוואי שיהיו עוד רבים כמוהו במיינסטרים המנוון של ימינו</p>
<p style="text-align: right;" dir="ltr"><strong>Saint Etienne &#8211; Tonight</strong></p>
<p dir="rtl">ואם כבר פופ כמו שפופ צריך להיות- סינגל חדש לקראת אלבום חדש לסיינט אטיין (ותודה למאזין אסף שכתב לנו עליו בקומנט בשבוע שעבר)</p>
<p style="text-align: right;" dir="ltr"><strong><a href="http://www.rollingstone.com/videos/new-and-hot/greg-dulli-sings-leonard-cohens-paper-thin-hotel-20120124" target="_blank">Greg Dulli &#8211; Paper Thin Hotel (Leonard Cohen Cover)</a></strong> (אין ביוטיוב, לחצו על הלינק)</p>
<p>נורא רצינו לשים לכם משהו מהאלבום החדש של מארק לנגן , אבל ביוטיוב הזדרזו והעיפו את כל השירים מתוכו שדלפו לשם. אז במקום זה נסתפק במשהו לא פחות טוב- התאום הביובי של לאנגן, גרג דולי, בקאוור חדש וכובש לשיר הזה של לאונרד כהן</p>
<p style="text-align: right;" dir="ltr"><strong>Throwing Snow ft Augustus Ghost<br />
Desto &amp; Clouds &amp; Jimi Tenor &#8211; Time Bird (Feat Cha Cha)</strong></p>
<p>שני קטעי פוסט-שמוסט-דאבסטפ-שמאבסטפ, אחד של המפיק העולה ת'רוווינג סנואו, שהוציא איפי אווירתי ויפה, לחובבי בוריאל וכו'. בקטע השני, מתארח לא אחר מאשר יקירנו הוותיק ג'ימי טנור שמורח את שכבת הנגינה הג'אזית-סליזית שלו מעל ביטים עכשוויים, וזה נשמע מצוין.</p>
<p style="text-align: right;" dir="ltr"><strong>Porcelain Raft &#8211; Unless You Speak From Your Heart</strong></p>
<p dir="rtl">שיר מקסים מתוך אלבום מעלף, אחד הווינרים הראשון של תחילת השנה</p>
<p style="text-align: right;" dir="ltr"><strong>Lambchop &#8211; Buttons</strong></p>
<p dir="rtl">כשקורט בשטח, המדינה לבטח. לאמבצ'ופ עומדים לשחרר (עוד) אלבום נהדר בעוד פחות מחודש, של שירים ארוכים ומתוזמרים &#8211; מזכיר לפרקים את הטינדסטיקס על פרוזאק. מתוכו מצאנו ביוטיוב את Buttons, למרות שרצינו בכלל את Mr Met.</p>
<p id="internal-source-marker_0.956875138350856" style="text-align: right;" dir="ltr"><strong>Craig Finn &#8211; No future</strong></p>
<p dir="rtl">קרייג פין הוא כנראה משורר הרוק היחיד בעולם שמסוגל להתייחס בלי בושה לפרדי מרקיורי ולג’וני רוטן באותו שיר כאל עמודי התווך שלו, ובנוסף הוא גם היחיד שמסוגל גם לצאת מזה מבלי שתיפול לו שערה מהפדחת. הביקורת שפורסמה השבוע בפיצ’פורק על אלבום הסולו החדש והראשון של סולן דה הולד סטדי, שהשיר הזה מופיע בו, מסמנת כנראה סופית את המהפך במעמדה של דה הולד סטדי מהלהקה שגם ככה לא היה ברור למה היא יקירת היפסטרי העולם ללהקה שנמאס להם לאמץ בחום, כשהיא רק נשמעת יותר ויותר מנותקת מכל מה שאופנתי. כל אלה לא משנים את זה ש-Clear Heart Full Eyes של קרייג פין הוא אלבום רגיש, לא מתחנף ואמיתי, שלחלוטין שווה את תשומת הלב שלכם, במיוחד אם הוא סדוק, ולו במעט.</p>
<p style="text-align: right;" dir="ltr"><strong>Gonja Sufi &#8211; The Blame</strong></p>
<p dir="rtl">איפי חדש למורה היוגה הכי קול בלוס אנג'לס, שמקרב אותו עוד יותר למורשת של אלבום הבכורה המופתי של טריקי</p>
<p style="text-align: right;" dir="ltr"><strong>Leila &#8211; U&amp;I</strong></p>
<p dir="rtl">אחד מאיתנו לא נפל מהסינגל הראשון שיצא מהאלבום, אבל האלבום כולו מתגלה כיצירה שלמה ויפה. הנה אחד הרגעים הכי מוצלחים בו</p>
<p style="text-align: right;" dir="ltr"><strong>The Internet &#8211; Fastlane</strong></p>
<p dir="rtl">אז כן, השם הזה קצת מעפן, וגם השיוך לקבוצת odd future של טיילר, אבל מדובר בשיר יפהפה מתוך אלבום היפ הופ מצוין. רגיש, עדין, מלודי ועוד כל מיני מונחים שלא מתקשרים עם היפ הופ בשנת 2012.</p>
<p>&nbsp;</p>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8719/feed</wfw:commentRss>
		<slash:comments>14</slash:comments>
		</item>
		<item>
		<title>&#8235;בלייק דיסטריקט&#8236;</title>		<link>https://old.kzradio.net/posts/8706</link>
		<comments>https://old.kzradio.net/posts/8706#comments</comments>
		<pubDate>Thu, 26 Jan 2012 11:31:31 +0000</pubDate>
		<dc:creator>&#8235;nadav&#8236;</dc:creator>				<category><![CDATA[אירועים]]></category>
		<category><![CDATA[שונות]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8706</guid>
		<description><![CDATA[&#8235;ג’יימס מגיע! זה קורה. מחר באחת בלילה יעלה האדון ג’יימס בלייק על עמדת הבלוק החדש. האירוע אמנם כבר סולד אאוט, אבל טבק הפקות, שלמרבה השמחה ארגנו אותו יחד עם הקונסוליה הבריטית, מודיעים כי החל מהשעה 02:00 ימכרו במקום כרטיסים ב50 שקל על בסיס מקום פנוי. אז מה בדיוק ילך שם? נכון, זו לא תהיה הופעה, [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><div>
<p style="text-align: center;"><a href="https://old.kzradio.net/wp-content/uploads/2012/01/james-blake-new-music-video-slide.jpg"><img class="aligncenter  wp-image-8707" title="james-blake-new-music-video-slide" src="https://old.kzradio.net/wp-content/uploads/2012/01/james-blake-new-music-video-slide.jpg" alt="" width="480" height="270" /></a></p>
<p style="text-align: right;">ג’יימס מגיע!</p>
<p style="text-align: right;">זה קורה. מחר באחת בלילה יעלה האדון ג’יימס בלייק על עמדת הבלוק החדש. האירוע אמנם כבר סולד אאוט, אבל טבק הפקות, שלמרבה השמחה ארגנו אותו יחד עם הקונסוליה הבריטית, מודיעים כי החל מהשעה 02:00 ימכרו במקום כרטיסים ב50 שקל על בסיס מקום פנוי.</p>
<p style="text-align: right;">אז מה בדיוק ילך שם? נכון, זו לא תהיה הופעה, אבל כן צפוי תמהיל של ביטים חדשניים ומרתקים, קטעים של בלייק שלא</p>
<p style="text-align: right;">הופיעו באלבום ומתכתבים בדרכו המעודנת עם רחבת הריקודים, האוס וטכנו רגישים, אר-אנ'-בי שנע על הסקאלה בין דיאנג’לו לבין סטיבי וונדר; הרמוניקס &#8211; סדרת הרמיקסים של בלייק ללהיטי היפ-הופ של דסטיניז צ’יילד, סנופ דוג, אאוטקאסט ואחרים, וגם, מייד אחריו, הפתעה נעימה בדמות סט של דה צ’יין, הכח המסקרן מהלייבל R&amp;S.</p>
<p>כמו כמעט תמיד,אגב, הדיג’יים המקומיים שפותחים וסוגרים, נותנים סטים שמעיפים את המח לנוכחים במקום. הפעם אלה יהיו אגוזי ו-וולטר, ואנחנו ממליצים להגיע בזמן כדי לשמוע אותם.</p>
<p>הכנו עבורכם סדרת קטעים שיש סיכוי לא רע שג’יימס ינגן שם, וגם אם לא, קרוב לוודאי שזו תהיה רוח הדברים.</p>
<p>הנה פלייליסט של קטעים מיוטיוב (הם ינגנו אוטומוטית אחד אחרי השני, הטכנולוגיה הזו זה משהו)</p>
<p style="text-align: center;"><iframe src="https://www.youtube.com/embed/videoseries?list=PLAD00834CB57AF579&amp;hl=en_US" frameborder="0" width="440" height="253"></iframe></p>
<div>
<p dir="ltr">James Blake – Four Miles</p>
<p dir="ltr">Addison Groove &#8211; This is It<br />
Andrea &#8211; Write Off<br />
Stubborn Heart &#8211; Need Somone<br />
Outkast &#8211; Miss Jackson (Harmonimix remix)<br />
The Chain &#8211; Suffer for your art<br />
The Chain &#8211; Maje<br />
James Blake &#8211; Placing us</p>
<p dir="rtl">ובצד העדין יותר- אולי נזכה לשמוע גם משהו מאלה:</p>
<p dir="ltr">Johann Johannsson &#8211; Odi et amo<br />
D’angelo &#8211; Untitled (How does it feel?)<br />
Arthur Russell &#8211; Love comes back</p>
<div>
<p dir="rtl">ובזמן שאתם מקשיבים, <a href="http://e.walla.co.il/?w=%2F202%2F2501905" target="_blank">הנה ראיון יפה של ארנון בן דרור בוואלה</a> עם ג’יימס בלייק, ופה האדון בלייק <a href="http://thephoenix.com/Boston/music/127478-interview-james-blakes-dub-soft-shoe/?page=2#TOPCONTENT" target="_blank">נכנס ברבאק</a> של הצד המתמסחר של הדאבסטפ</p>
<p style="text-align: center;" dir="rtl"><a href="https://old.kzradio.net/wp-content/uploads/2012/01/337362_310545202300031_186377044716848_1017779_1834228474_o.jpg"><img class="aligncenter  wp-image-8708" title="337362_310545202300031_186377044716848_1017779_1834228474_o" src="https://old.kzradio.net/wp-content/uploads/2012/01/337362_310545202300031_186377044716848_1017779_1834228474_o-724x1024.jpg" alt="" width="434" height="614" /></a></p>
<p dir="rtl">
</div>
</div>
</div>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8706/feed</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
		<item>
		<title>&#8235;הקצה 2.0 &#8211; watch this space&#8236;</title>		<link>https://old.kzradio.net/posts/8684</link>
		<comments>https://old.kzradio.net/posts/8684#comments</comments>
		<pubDate>Sun, 15 Jan 2012 12:59:10 +0000</pubDate>
		<dc:creator>&#8235;nadav&#8236;</dc:creator>				<category><![CDATA[מאזינים יקרים]]></category>
		<category><![CDATA[שונות]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8684</guid>
		<description><![CDATA[&#8235;רק רצינו לומר לכם שאנחנו עובדים במרץ על הגלגול הבא של הקצה. יש לנו המון דברים שאנחנו מתים לספר לכם, אבל אתם יודעים איך זה &#8211; עד שהדברים יהיו סגורים, והתזמון יהיה נכון, ויאיר לפיד יהיה שר התקשורת, לא יכולים לספר לכם. ואל תתייחסו למשפט האחרון כאיזשהי הבעת עמדה פוליטית. תאריך ההשקה של השלב הבא [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><p><a href="https://old.kzradio.net/wp-content/uploads/2012/01/future_cities.jpg"><img class="aligncenter size-full wp-image-8685" title="future_cities" src="https://old.kzradio.net/wp-content/uploads/2012/01/future_cities.jpg" alt="" width="384" height="500" /></a></p>
<p>רק רצינו לומר לכם שאנחנו עובדים במרץ על הגלגול הבא של הקצה. יש לנו המון דברים שאנחנו מתים לספר לכם, אבל אתם יודעים איך זה &#8211; עד שהדברים יהיו סגורים, והתזמון יהיה נכון, ויאיר לפיד יהיה שר התקשורת, לא יכולים לספר לכם. ואל תתייחסו למשפט האחרון כאיזשהי הבעת עמדה פוליטית.</p>
<p>תאריך ההשקה של השלב הבא של הקצה יימסר מאוד בקרוב.</p>
<p>בינתיים אנחנו עושים קצת שמח בעמוד הפייסבוק שלנו, אתם מוזמנים לבקר אותנו שם.</p>
<p>&nbsp;</p>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8684/feed</wfw:commentRss>
		<slash:comments>16</slash:comments>
		</item>
		<item>
		<title>&#8235;הקצה בשסק, יום ב&#039;, 2.1.12&#8236;</title>		<link>https://old.kzradio.net/posts/8584</link>
		<comments>https://old.kzradio.net/posts/8584#comments</comments>
		<pubDate>Sun, 01 Jan 2012 21:37:28 +0000</pubDate>
		<dc:creator>&#8235;nadav&#8236;</dc:creator>				<category><![CDATA[אירועים]]></category>
		<category><![CDATA[מאזינים יקרים]]></category>
		<category><![CDATA[שונות]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8584</guid>
		<description><![CDATA[&#8235;לעיתים מאוד נדירות אנחנו לוקחים את הקצה מחוץ לאולפן, לעיתים נדירות אנחנו משתפים פעולה מאחורי עמדת די-ג'יי, ושני הדברים האלה ייקרו הלילה, החל מ22:00 ועד שתחליטו שנמאס לכם/ן, בשסק בתל אביב, בר קטן ואהוב ברחוב לילנבלום 17. ננגן הרבה מוזיקה שאנחנו אוהבים, שזה אומר דברים ששידרנו בקצה, דברים שלא יצא לנו לשדר, ודברים חדשים שיצאו [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><p><a href="https://old.kzradio.net/wp-content/uploads/2012/01/224757_10150180584807695_545297694_7127098_3732356_n.jpg"><img class="aligncenter  wp-image-8679" title="224757_10150180584807695_545297694_7127098_3732356_n" src="https://old.kzradio.net/wp-content/uploads/2012/01/224757_10150180584807695_545297694_7127098_3732356_n.jpg" alt="" width="450" height="300" /></a></p>
<p>לעיתים מאוד נדירות אנחנו לוקחים את הקצה מחוץ לאולפן, לעיתים נדירות אנחנו משתפים פעולה מאחורי עמדת די-ג'יי, ושני הדברים האלה ייקרו הלילה, החל מ22:00 ועד שתחליטו שנמאס לכם/ן, בשסק בתל אביב, בר קטן ואהוב ברחוב <a href="http://g.co/maps/5a8hr" target="_blank">לילנבלום 17.</a></p>
<p>ננגן הרבה מוזיקה שאנחנו אוהבים, שזה אומר דברים ששידרנו בקצה, דברים שלא יצא לנו לשדר, ודברים חדשים שיצאו בחודשיים המטורפים האחרונים. תבואו מוקדם, נרים כוסית לשנה החדשה ולעתיד העדיין סודי, אך מלהיב, של הקצה.</p>
<p>קוואמי ונדב.</p>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8584/feed</wfw:commentRss>
		<slash:comments>8</slash:comments>
		</item>
		<item>
		<title>&#8235;מהארכיון: 4.4.2004, שעה שניה&#8236;</title>		<link>https://old.kzradio.net/posts/8585</link>
		<comments>https://old.kzradio.net/posts/8585#comments</comments>
		<pubDate>Sun, 25 Dec 2011 16:04:52 +0000</pubDate>
		<dc:creator>&#8235;nadav&#8236;</dc:creator>				<category><![CDATA[פלייליסט]]></category>
		<category><![CDATA[שונות]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=8585</guid>
		<description><![CDATA[&#8235;להורדה, לחצו כאן בחיטוט בקרבי המחשב, לקראת תוכניות הסיכום, מצאתי את ההקלטה הבאה. סט שנערך כולו מראש בשביל השעה השניה של הקצה. ההקלטה לא כוללת את ההגשה והדיבורים בין השירים &#8211; רק המוזיקה נטו. הנה הפלייליסט: Nostalgia 77 – Rain Walk (Tru Thoughts) Madvillain – Rhinestone Cowboy (Stones Throw) Feist &#8211; Mushaboom (Mocky Remix) (P [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><p><a href="https://old.kzradio.net/wp-content/uploads/2011/12/billcosbytalkstokids1.jpg"><img class="aligncenter size-full wp-image-8586" title="billcosbytalkstokids[1]" src="https://old.kzradio.net/wp-content/uploads/2011/12/billcosbytalkstokids1.jpg" alt="" width="398" height="400" /></a></p>

<p>להורדה, לחצו <a href="http://pod.icast.co.il/98e08cc4-0775-4b8e-9c4c-b727b92397cc.icast.mp3" target="_blank">כאן</a></p>
<p>בחיטוט בקרבי המחשב, לקראת תוכניות הסיכום, מצאתי את ההקלטה הבאה. סט שנערך כולו מראש בשביל השעה השניה של הקצה. ההקלטה לא כוללת את ההגשה והדיבורים בין השירים &#8211; רק המוזיקה נטו.</p>
<p>הנה הפלייליסט:</p>
<p dir="ltr">Nostalgia 77 – Rain Walk (Tru Thoughts)<br />
Madvillain – Rhinestone Cowboy (Stones Throw)<br />
Feist &#8211; Mushaboom (Mocky Remix) (P Records)<br />
Junior Boys – Unbirthday (Kin)<br />
Funkstorung &#8211; Disconnected Feat Enik (K7)<br />
Fennesz – Rivers Of Sand (Touch)<br />
Xela &#8211; Softness Of Senses (Neo Ouija)<br />
Adem – Statued (Domino)<br />
Beta Band – Simple (Regal) (echoed through&#8230;)<br />
Motohiro Nakashima – Meow (Lo)<br />
Minnie Riperton – Minnie’s Lament (epic)<br />
Fragile States – Cleo (Bar De Lune)<br />
Bill Cosby &amp; The Kids &#8211; Sing &amp; Closing (Polydor)<br />
Serge Gainsbourg – Cannabis (Philips)</p>
<p dir="ltr">And the Spoken words of:<br />
Sekor Sundiata – Space<br />
Sonia Sanchez – Wounded in a House of a Friend<br />
Al Young – A Poem for Players</p>
<p>&nbsp;</p>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/8585/feed</wfw:commentRss>
		<slash:comments>0</slash:comments>
<enclosure url="http://pod.icast.co.il/98e08cc4-0775-4b8e-9c4c-b727b92397cc.icast.mp3" length="284" type="audio/mpeg" />
		</item>
		<item>
		<title>&#8235;פינת עידוד היצירה 2&#8236;</title>		<link>https://old.kzradio.net/posts/7778</link>
		<comments>https://old.kzradio.net/posts/7778#comments</comments>
		<pubDate>Mon, 10 Oct 2011 15:21:34 +0000</pubDate>
		<dc:creator>&#8235;nadav&#8236;</dc:creator>				<category><![CDATA[שונות]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=7778</guid>
		<description><![CDATA[&#8235;בזמן שאנחנו ממתינים לחזור לאוויר, מה שקורה כזכור רק אחרי סוכות, יש לנו זמן לפרסם כאן עוד קליפ לא רשמי, הפעם של נעם ברמן, שיצר את הגרסה הזו ל Dance Little Liar של הארקטיק מאנקיז.&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><p>בזמן שאנחנו ממתינים לחזור לאוויר, מה שקורה כזכור רק אחרי סוכות, יש לנו זמן לפרסם כאן עוד קליפ לא רשמי, הפעם של נעם ברמן, שיצר את הגרסה הזו ל Dance Little Liar של הארקטיק מאנקיז.</p>
<p><iframe src="https://www.youtube.com/embed/7fq5jumv1pE" frameborder="0" width="560" height="315"></iframe></p>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/7778/feed</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>&#8235;פינת עידוד היצירה&#8236;</title>		<link>https://old.kzradio.net/posts/7614</link>
		<comments>https://old.kzradio.net/posts/7614#comments</comments>
		<pubDate>Wed, 21 Sep 2011 12:18:29 +0000</pubDate>
		<dc:creator>&#8235;nadav&#8236;</dc:creator>				<category><![CDATA[שונות]]></category>
		<category><![CDATA[קליפ]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=7614</guid>
		<description><![CDATA[&#8235;היום קיבלנו המייל הזה, וחשבנו שזה רעיון מוצלח, ולמה לא בעצם. אז הנה, אולי פינה חדשה בבלוג שלנו &#8211; פינת הקליפ האלטרנטיבי הישראלי.. היי נדב וקוואמי, שמי אורי ואני אנימטור/מאייר. רציתי להראות לכם קליפ שעשיתי לאחרונה לפנדה בר. לפני שנה הכנתי גם קליפ לאנימל קולקטיב. אני יודע שאתם לא ממש שמים קליפים בבלוג של הקצה, אבל [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><div dir="rtl">היום קיבלנו המייל הזה, וחשבנו שזה רעיון מוצלח, ולמה לא בעצם. אז הנה, אולי פינה חדשה בבלוג שלנו &#8211; פינת הקליפ האלטרנטיבי הישראלי..</div>
<div dir="rtl"><iframe src="https://www.youtube.com/embed/FfUgOK_P4Xs" frameborder="0" width="560" height="315"></iframe></div>
<div style="padding-left: 60px;" dir="rtl">היי נדב וקוואמי,</div>
<div style="padding-left: 60px;" dir="rtl">שמי אורי ואני אנימטור/מאייר.</div>
<div style="padding-left: 60px;" dir="rtl">רציתי להראות לכם קליפ שעשיתי לאחרונה <a href="https://www.youtube.com/watch?v=FfUgOK_P4Xs" target="_blank">לפנדה בר</a>.</div>
<div style="padding-left: 60px;" dir="rtl">לפני שנה הכנתי גם קליפ ל<a href="http://vimeo.com/12892099" target="_blank">אנימל קולקטיב</a>.</div>
<div style="padding-left: 60px;" dir="rtl">אני יודע שאתם לא ממש שמים קליפים בבלוג של הקצה, אבל חשבתי למה לא -</div>
<div style="padding-left: 60px;" dir="rtl">גם יוצרי קליפים בארץ הם אמנים שזקוקים לחשיפה וליטופים.</div>
<div style="padding-left: 60px;" dir="rtl">בכל מקרה אשמח אם תעיפו מבט, אפילו סתם בשביל לומר את דעתכם (או לא).</div>
<div style="padding-left: 60px;" dir="rtl">בכיף,</div>
<div style="padding-left: 60px;" dir="rtl">אורי טור</div>
<div style="padding-left: 60px;" dir="rtl">נ.ב. אני מקשיב לקצה מאז שהייתי בתיכון (לפני משהו כמו 700 שנה), אז כבוד וכל זה <img src='https://old.kzradio.net/wp-includes/images/smilies/icon_smile.gif' alt=':)' class='wp-smiley' /> </div>
<div style="padding-left: 60px;" dir="rtl">&#8211;</div>
<div style="padding-left: 60px;" dir="rtl"><span style="color: #666666;"><strong>website:</strong> <a href="http://oritoor.com/" target="_blank">oritoor.com</a>  |  <strong>flickr:</strong> <a href="http://flickr.com/oritoor" target="_blank">flickr.com/oritoor</a>  |  <strong>animation:</strong> <a href="http://vimeo.com/user552470" target="_blank">vimeo.com/user552470</a></span></div>
<blockquote style="padding-left: 30px;">
<p style="padding-left: 30px;"><em><br />
</em></p>
</blockquote>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/7614/feed</wfw:commentRss>
		<slash:comments>5</slash:comments>
		</item>
		<item>
		<title>&#8235;סיכום הניינטיז, מקבץ 8&#8236;</title>		<link>https://old.kzradio.net/posts/1514</link>
		<comments>https://old.kzradio.net/posts/1514#comments</comments>
		<pubDate>Sun, 20 Dec 2009 07:26:17 +0000</pubDate>
		<dc:creator>&#8235;nadav&#8236;</dc:creator>				<category><![CDATA[סיכומי הניינטיז]]></category>
		<category><![CDATA[סיכומים]]></category>
		<category><![CDATA[שונות]]></category>
		<category><![CDATA[סיכום הניינטיז]]></category>

		<guid isPermaLink="false">http://www.kzradio.net/?p=1514</guid>
		<description><![CDATA[&#8235;פחד מהכוכב השחור, שבע השנים הטובות של ההיפ הופ פאבליק אנמי, וו טאנג קלאן, הביסטי בויז, סייפרס היל, הפארסייד, דיספוזבל הירוס אוף היפ-הופריסי, מוס דף, סול וויליאמס, אאוטקאסט ועוד להורדת התכנית &#8212;&#8212;&#8212;&#8212;&#8212;&#8211; מוטציות ג'ז - כשקראפטוורק פגשו את קולטריין במעלית יונייטד פיוצ'ר אורגניזיישן, אסיד ג'אז, טוקינג לאוד, סקוורפושר, אינרזון אורקסטרה (קרל קרייג), 4-הירו, רוני סייז, [...]&#8236;]]></description>			<content:encoded><![CDATA[<div dir="rtl"><h2>פחד מהכוכב השחור,<br />
שבע השנים הטובות של ההיפ הופ</h2>

<p><a href="http://infectzia.net/kzradio/the-90s-project/hiphop.mp3"><img class="size-full wp-image-1515 alignright" title="PublicEnemyFearofaBlackPlan" src="https://old.kzradio.net/wp-content/uploads/2009/12/PublicEnemyFearofaBlackPlan.jpg" alt="PublicEnemyFearofaBlackPlan" width="200" height="200" /></a></p>
<p>פאבליק אנמי, וו טאנג קלאן, הביסטי בויז, סייפרס היל, הפארסייד,<br />
דיספוזבל הירוס אוף היפ-הופריסי, מוס דף, סול וויליאמס, אאוטקאסט ועוד</p>
<p><a href="http://infectzia.net/kzradio/the-90s-project/hiphop.mp3" target="_blank">להורדת התכנית</a></p>
<p>&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;</p>
<h2>מוטציות ג'ז -</h2>
<h2>כשקראפטוורק פגשו את קולטריין במעלית</h2>
<p><a href="http://infectzia.net/kzradio/the-90s-project/jazz_mutations.mp3"></a></p>
<p><a href="http://infectzia.net/kzradio/the-90s-project/jazz_mutations.mp3"><img class="size-full wp-image-1516 alignright" title="CinematicOrchestra_Motion_albumcover" src="https://old.kzradio.net/wp-content/uploads/2009/12/CinematicOrchestra_Motion_albumcover.jpg" alt="" width="201" height="200" /></a></p>
<p>יונייטד פיוצ'ר אורגניזיישן, אסיד ג'אז, טוקינג לאוד, סקוורפושר, אינרזון אורקסטרה (קרל קרייג),<br />
4-הירו, רוני סייז, סינמטיק אורקסטרה, נו-יוריקן סול ועוד..</p>
<p><a href="http://infectzia.net/kzradio/the-90s-project/jazz_mutations.mp3" target="_blank">להורדת התכנית</a></p>
<p>&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;</p>
<h2>הודו זה כאן &#8211; המחתרת האסיאתית בלונדון</h2>
<p><a href="http://infectzia.net/kzradio/the-90s-project/asian_underground"></a></p>
<p><a href="http://infectzia.net/kzradio/the-90s-project/asian_underground.mp3"><img class="size-full wp-image-1517 alignright" title="talvin" src="https://old.kzradio.net/wp-content/uploads/2009/12/talvin.jpg" alt="talvin" width="201" height="200" /></a></p>
<p>קורנרשופ, טלווין סינג, טראנס-גלובל אנדרגראונד, אז'יאן דאב<br />
פאונדיישן, נוסראת פתח עלי קאן, ניטין סוני ועוד</p>
<p><a href="http://infectzia.net/kzradio/the-90s-project/asian_underground.mp3" target="_blank">להורדת התכנית</a></p>
</div>]]></content:encoded>			<wfw:commentRss>https://old.kzradio.net/posts/1514/feed</wfw:commentRss>
		<slash:comments>3</slash:comments>
<enclosure url="http://infectzia.net/kzradio/the-90s-project/hiphop.mp3" length="67638442" type="audio/mpeg" />
<enclosure url="http://infectzia.net/kzradio/the-90s-project/jazz_mutations.mp3" length="65764417" type="audio/mpeg" />
<enclosure url="http://infectzia.net/kzradio/the-90s-project/asian_underground.mp3" length="66387699" type="audio/mpeg" />
		</item>
	</channel>
</rss>
