<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>&#8235;תגובות לפוסט: &#34;הקצה 2.0 &#8211; watch this space&#34;&#8236;</title>
	<atom:link href="https://old.kzradio.net/posts/8684/feed" rel="self" type="application/rss+xml" />
	<link>https://old.kzradio.net/posts/8684</link>
	<description>&#8235;הקצפת של המוזיקה &#124;&#124; א\&#039; ו-ג\&#039;, 22:00, גלגל\&#34;צ &#124;&#124; Sun, Tue 22:00 GLGLZ&#8236;</description> 	<lastBuildDate>Wed, 21 Mar 2012 11:13:18 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.3.1</generator>
	<item>
		<title>&#8235;מאת: גדי&#8236;</title>
		<link>https://old.kzradio.net/posts/8684#comment-15715</link>
		<dc:creator>&#8235;גדי&#8236;</dc:creator>		<pubDate>Thu, 26 Jan 2012 03:34:39 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8684#comment-15715</guid>
		<description>&#8235;חיי, חזרו להיות חיים.&#8236;</description> 		<content:encoded><![CDATA[<p>חיי, חזרו להיות חיים.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: מארק&#8236;</title>
		<link>https://old.kzradio.net/posts/8684#comment-15686</link>
		<dc:creator>&#8235;מארק&#8236;</dc:creator>		<pubDate>Sun, 22 Jan 2012 06:02:51 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8684#comment-15686</guid>
		<description>&#8235;חיידק הרדיו הזה, המוסיקה החיה, לא ניתן למילוי ע&quot;י מומיות, טובות ככל שיהיו.
בקיצוניותי הרבה סיימתי כל קשר עם חלחלצ (לא שזה אובדן) אז נשארתי קצת עם 88 (באינטרנט וקצת באיזור טללים, ואשלים- שכן בדרום -הכיסוי הרדיופוני לא משהו) ורשת ג&#039;...
ה-צ-י-ל-ו!!!
וכל המציל נפש אחת.
שובו מהר לפני שאגמר
ואם כבר יש חיים אינטרנטיים שלכם אז באמת... היו ליברליים ואל תגבילו את עצמכם ל&quot;F&lt;B&quot;&#8236;</description> 		<content:encoded><![CDATA[<p>חיידק הרדיו הזה, המוסיקה החיה, לא ניתן למילוי ע&quot;י מומיות, טובות ככל שיהיו.<br />
בקיצוניותי הרבה סיימתי כל קשר עם חלחלצ (לא שזה אובדן) אז נשארתי קצת עם 88 (באינטרנט וקצת באיזור טללים, ואשלים- שכן בדרום -הכיסוי הרדיופוני לא משהו) ורשת ג'&#8230;<br />
ה-צ-י-ל-ו!!!<br />
וכל המציל נפש אחת.<br />
שובו מהר לפני שאגמר<br />
ואם כבר יש חיים אינטרנטיים שלכם אז באמת&#8230; היו ליברליים ואל תגבילו את עצמכם ל&quot;F&lt;B&quot;</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: זאב ר.&#8236;</title>
		<link>https://old.kzradio.net/posts/8684#comment-15674</link>
		<dc:creator>&#8235;זאב ר.&#8236;</dc:creator>		<pubDate>Thu, 19 Jan 2012 16:44:33 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8684#comment-15674</guid>
		<description>&#8235;אין לי משהו מגניב לרשום אבל רק שתדעו שבינתיים אני מחכה  בשקט...!!!
    ;-)&#8236;</description> 		<content:encoded><![CDATA[<p>אין לי משהו מגניב לרשום אבל רק שתדעו שבינתיים אני מחכה  בשקט&#8230;!!!<br />
    <img src='https://old.kzradio.net/wp-includes/images/smilies/icon_wink.gif' alt=';-)' class='wp-smiley' /> </p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: אור&#8236;</title>
		<link>https://old.kzradio.net/posts/8684#comment-15666</link>
		<dc:creator>&#8235;אור&#8236;</dc:creator>		<pubDate>Thu, 19 Jan 2012 08:33:46 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8684#comment-15666</guid>
		<description>&#8235;אני אשתמש במילים החכמות של נתי:
נו יאללה כבר ראבק !&#8236;</description> 		<content:encoded><![CDATA[<p>אני אשתמש במילים החכמות של נתי:<br />
נו יאללה כבר ראבק !</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: ריקי&#8236;</title>
		<link>https://old.kzradio.net/posts/8684#comment-15620</link>
		<dc:creator>&#8235;ריקי&#8236;</dc:creator>		<pubDate>Tue, 17 Jan 2012 07:10:17 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8684#comment-15620</guid>
		<description>&#8235;גם אני מצטרפת ללון וטלי.
חוצמזה חיי אינם חיים בלעדיכם. הסבלנות פוקעת והסבל מתמשך.&#8236;</description> 		<content:encoded><![CDATA[<p>גם אני מצטרפת ללון וטלי.<br />
חוצמזה חיי אינם חיים בלעדיכם. הסבלנות פוקעת והסבל מתמשך.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: עדי&#8236;</title>
		<link>https://old.kzradio.net/posts/8684#comment-15619</link>
		<dc:creator>&#8235;עדי&#8236;</dc:creator>		<pubDate>Tue, 17 Jan 2012 06:50:28 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8684#comment-15619</guid>
		<description>&#8235;איזה כיף להיכנס לאתר ולראות סימני חיים מכם...
ומזל שיש את התכניות המוקלטות..תודה אביעד!!ו..לון וטלי,אני אתכם.&#8236;</description> 		<content:encoded><![CDATA[<p>איזה כיף להיכנס לאתר ולראות סימני חיים מכם&#8230;<br />
ומזל שיש את התכניות המוקלטות..תודה אביעד!!ו..לון וטלי,אני אתכם.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: טלי&#8236;</title>
		<link>https://old.kzradio.net/posts/8684#comment-15615</link>
		<dc:creator>&#8235;טלי&#8236;</dc:creator>		<pubDate>Mon, 16 Jan 2012 22:38:48 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8684#comment-15615</guid>
		<description>&#8235;מצטרפת להמלצה של לון.
יש להתחשב גם באולד סקולס שמסרבים להצטרף לעדר הגלובלי. :)&#8236;</description> 		<content:encoded><![CDATA[<p>מצטרפת להמלצה של לון.<br />
יש להתחשב גם באולד סקולס שמסרבים להצטרף לעדר הגלובלי. <img src='https://old.kzradio.net/wp-includes/images/smilies/icon_smile.gif' alt=':)' class='wp-smiley' /> </p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: לון&#8236;</title>
		<link>https://old.kzradio.net/posts/8684#comment-15613</link>
		<dc:creator>&#8235;לון&#8236;</dc:creator>		<pubDate>Mon, 16 Jan 2012 21:08:11 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8684#comment-15613</guid>
		<description>&#8235;מחכה בחוסר סבלנות.

ובכלל, מעדיף שההתרחשות תהיה בבלוג ולא בפייסבוק או לפחות גם וגם.&#8236;</description> 		<content:encoded><![CDATA[<p>מחכה בחוסר סבלנות.</p>
<p>ובכלל, מעדיף שההתרחשות תהיה בבלוג ולא בפייסבוק או לפחות גם וגם.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: טלי&#8236;</title>
		<link>https://old.kzradio.net/posts/8684#comment-15609</link>
		<dc:creator>&#8235;טלי&#8236;</dc:creator>		<pubDate>Mon, 16 Jan 2012 16:17:36 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8684#comment-15609</guid>
		<description>&#8235;:)&#8236;</description> 		<content:encoded><![CDATA[<p> <img src='https://old.kzradio.net/wp-includes/images/smilies/icon_smile.gif' alt=':)' class='wp-smiley' /> </p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: דורון&#8236;</title>
		<link>https://old.kzradio.net/posts/8684#comment-15606</link>
		<dc:creator>&#8235;דורון&#8236;</dc:creator>		<pubDate>Mon, 16 Jan 2012 12:58:47 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8684#comment-15606</guid>
		<description>&#8235;HELL YEAH!&#8236;</description> 		<content:encoded><![CDATA[<p>HELL YEAH!</p>
]]></content:encoded>
	</item>
</channel>
</rss>
