<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>&#8235;תגובות לפוסט: &#34;שירים שהיינו משדרים אם הייתה תוכנית הלילה, 12.2.12&#34;&#8236;</title>
	<atom:link href="https://old.kzradio.net/posts/8767/feed" rel="self" type="application/rss+xml" />
	<link>https://old.kzradio.net/posts/8767</link>
	<description>&#8235;הקצפת של המוזיקה &#124;&#124; א\&#039; ו-ג\&#039;, 22:00, גלגל\&#34;צ &#124;&#124; Sun, Tue 22:00 GLGLZ&#8236;</description> 	<lastBuildDate>Wed, 21 Mar 2012 11:13:18 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.3.1</generator>
	<item>
		<title>&#8235;מאת: ענבר&#8236;</title>
		<link>https://old.kzradio.net/posts/8767#comment-16034</link>
		<dc:creator>&#8235;ענבר&#8236;</dc:creator>		<pubDate>Tue, 14 Feb 2012 15:08:57 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8767#comment-16034</guid>
		<description>&#8235;thanx a loto&#8236;</description> 		<content:encoded><![CDATA[<p>thanx a loto</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: ליוי&#8236;</title>
		<link>https://old.kzradio.net/posts/8767#comment-16033</link>
		<dc:creator>&#8235;ליוי&#8236;</dc:creator>		<pubDate>Tue, 14 Feb 2012 14:43:46 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8767#comment-16033</guid>
		<description>&#8235;תודה רבה!
ממש תענוג הפלייליסטים האלה.&#8236;</description> 		<content:encoded><![CDATA[<p>תודה רבה!<br />
ממש תענוג הפלייליסטים האלה.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: עידו שחם&#8236;</title>
		<link>https://old.kzradio.net/posts/8767#comment-16023</link>
		<dc:creator>&#8235;עידו שחם&#8236;</dc:creator>		<pubDate>Mon, 13 Feb 2012 20:02:15 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8767#comment-16023</guid>
		<description>&#8235;גם פאקד אפ מעולה, איזה אפוס מבורך.&#8236;</description> 		<content:encoded><![CDATA[<p>גם פאקד אפ מעולה, איזה אפוס מבורך.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: עידו שחם&#8236;</title>
		<link>https://old.kzradio.net/posts/8767#comment-16022</link>
		<dc:creator>&#8235;עידו שחם&#8236;</dc:creator>		<pubDate>Mon, 13 Feb 2012 19:49:09 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8767#comment-16022</guid>
		<description>&#8235;אגב, חשדתי שקוואמי ישים משהו מהוואן היילן החדש, אבל כנראה שטעיתי.&#8236;</description> 		<content:encoded><![CDATA[<p>אגב, חשדתי שקוואמי ישים משהו מהוואן היילן החדש, אבל כנראה שטעיתי.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: עידו שחם&#8236;</title>
		<link>https://old.kzradio.net/posts/8767#comment-16021</link>
		<dc:creator>&#8235;עידו שחם&#8236;</dc:creator>		<pubDate>Mon, 13 Feb 2012 19:44:42 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8767#comment-16021</guid>
		<description>&#8235;איזה כיף! חבל שאתם לא מעלים את זה בפורמט של פודקאסט כדי שיהיה גם את הדיבורים בין לבין ויהיה אפשר להוריד את זה לאייפון.

Lotus Plaza מדליק, מן שוגייז נויז עולם שכזה.&#8236;</description> 		<content:encoded><![CDATA[<p>איזה כיף! חבל שאתם לא מעלים את זה בפורמט של פודקאסט כדי שיהיה גם את הדיבורים בין לבין ויהיה אפשר להוריד את זה לאייפון.</p>
<p>Lotus Plaza מדליק, מן שוגייז נויז עולם שכזה.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: שבי&#8236;</title>
		<link>https://old.kzradio.net/posts/8767#comment-16000</link>
		<dc:creator>&#8235;שבי&#8236;</dc:creator>		<pubDate>Sun, 12 Feb 2012 21:01:51 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8767#comment-16000</guid>
		<description>&#8235;Portico Quartet מצוינים :)
תודה

נ.ב. 
Burial - Loner - This Video is no longer available&#8236;</description> 		<content:encoded><![CDATA[<p>Portico Quartet מצוינים <img src='https://old.kzradio.net/wp-includes/images/smilies/icon_smile.gif' alt=':)' class='wp-smiley' /><br />
תודה</p>
<p>נ.ב.<br />
Burial &#8211; Loner &#8211; This Video is no longer available</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: איציק&#8236;</title>
		<link>https://old.kzradio.net/posts/8767#comment-15996</link>
		<dc:creator>&#8235;איציק&#8236;</dc:creator>		<pubDate>Sun, 12 Feb 2012 20:40:51 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8767#comment-15996</guid>
		<description>&#8235;תודה תודה דרך מעולה לפתוח את השבוע.
הנה התרומה שלי:
Minitel Rose - &quot;Heart of Stone&quot;  http://youtu.be/CmTJkuPigcQ&#8236;</description> 		<content:encoded><![CDATA[<p>תודה תודה דרך מעולה לפתוח את השבוע.<br />
הנה התרומה שלי:<br />
Minitel Rose &#8211; &quot;Heart of Stone&quot;  <a href="http://youtu.be/CmTJkuPigcQ" rel="nofollow">http://youtu.be/CmTJkuPigcQ</a></p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: פרנק&#8236;</title>
		<link>https://old.kzradio.net/posts/8767#comment-15995</link>
		<dc:creator>&#8235;פרנק&#8236;</dc:creator>		<pubDate>Sun, 12 Feb 2012 19:58:54 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8767#comment-15995</guid>
		<description>&#8235;י&#039;, בשבילך:
https://www.youtube.com/playlist?list=PL674AB3966C63B5FF&#8236;</description> 		<content:encoded><![CDATA[<p>י', בשבילך:<br />
<a href="https://www.youtube.com/playlist?list=PL674AB3966C63B5FF" rel="nofollow">https://www.youtube.com/playlist?list=PL674AB3966C63B5FF</a></p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: שבי&#8236;</title>
		<link>https://old.kzradio.net/posts/8767#comment-15994</link>
		<dc:creator>&#8235;שבי&#8236;</dc:creator>		<pubDate>Sun, 12 Feb 2012 19:58:14 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8767#comment-15994</guid>
		<description>&#8235;איזה קיקסטארט לליל ראשון.. Wooden Shjips פשוט נפלא!

י מהקיבוץ.. פותחים טאב אחד לפליליסט ואחד לתגובות.. בנוסף את יכולה לדפדף ביוטיוב בין השירים.. אם בא לך..

ממתינים בכיליון, חברים..!&#8236;</description> 		<content:encoded><![CDATA[<p>איזה קיקסטארט לליל ראשון.. Wooden Shjips פשוט נפלא!</p>
<p>י מהקיבוץ.. פותחים טאב אחד לפליליסט ואחד לתגובות.. בנוסף את יכולה לדפדף ביוטיוב בין השירים.. אם בא לך..</p>
<p>ממתינים בכיליון, חברים..!</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: י' מהקיבוץ&#8236;</title>
		<link>https://old.kzradio.net/posts/8767#comment-15991</link>
		<dc:creator>&#8235;י' מהקיבוץ&#8236;</dc:creator>		<pubDate>Sun, 12 Feb 2012 12:59:28 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8767#comment-15991</guid>
		<description>&#8235;רק עכשיו נחשפתי לזה
מעוללה!
רק היה עוזר מאד אם הייתם נותנים כל לינק בנפרד
למה לא תמיד בא לי לשמוע הכל..
אה וגם יעזור אם הכפתור של התגובה לא יפסיק את המוזיקה&#8236;</description> 		<content:encoded><![CDATA[<p>רק עכשיו נחשפתי לזה<br />
מעוללה!<br />
רק היה עוזר מאד אם הייתם נותנים כל לינק בנפרד<br />
למה לא תמיד בא לי לשמוע הכל..<br />
אה וגם יעזור אם הכפתור של התגובה לא יפסיק את המוזיקה</p>
]]></content:encoded>
	</item>
</channel>
</rss>
