<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>&#8235;תגובות לפוסט: &#34;שירים שהיינו משדרים אם היתה לנו תוכנית הלילה, 22/1/12&#34;&#8236;</title>
	<atom:link href="https://old.kzradio.net/posts/8690/feed" rel="self" type="application/rss+xml" />
	<link>https://old.kzradio.net/posts/8690</link>
	<description>&#8235;הקצפת של המוזיקה &#124;&#124; א\&#039; ו-ג\&#039;, 22:00, גלגל\&#34;צ &#124;&#124; Sun, Tue 22:00 GLGLZ&#8236;</description> 	<lastBuildDate>Wed, 21 Mar 2012 11:13:18 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.3.1</generator>
	<item>
		<title>&#8235;מאת: ה ק צ ה &#124;&#124; K Z R a d i o &#187; שירים שהיינו משדרים אם היתה תוכנית הלילה, 18.3.12&#8236;</title>
		<link>https://old.kzradio.net/posts/8690#comment-16642</link>
		<dc:creator>&#8235;ה ק צ ה &#124;&#124; K Z R a d i o &#187; שירים שהיינו משדרים אם היתה תוכנית הלילה, 18.3.12&#8236;</dc:creator>		<pubDate>Sun, 18 Mar 2012 07:22:35 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8690#comment-16642</guid>
		<description>&#8235;[...] אחד מהאי.פי. החדש של איש גריזלי בר, דניאל רוזן, שמנו כאן עוד בינואר. עכשיו כשהגיע האי.פי. המלא, כמה לא מפתיע, כולו מוצא חן [...]&#8236;</description> 		<content:encoded><![CDATA[<p>[...] אחד מהאי.פי. החדש של איש גריזלי בר, דניאל רוזן, שמנו כאן עוד בינואר. עכשיו כשהגיע האי.פי. המלא, כמה לא מפתיע, כולו מוצא חן [...]</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: לון&#8236;</title>
		<link>https://old.kzradio.net/posts/8690#comment-15713</link>
		<dc:creator>&#8235;לון&#8236;</dc:creator>		<pubDate>Thu, 26 Jan 2012 00:08:25 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8690#comment-15713</guid>
		<description>&#8235;תודה רבה. המתאבן מכין טוב לארוחה השלמה.&#8236;</description> 		<content:encoded><![CDATA[<p>תודה רבה. המתאבן מכין טוב לארוחה השלמה.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: מארק&#8236;</title>
		<link>https://old.kzradio.net/posts/8690#comment-15710</link>
		<dc:creator>&#8235;מארק&#8236;</dc:creator>		<pubDate>Tue, 24 Jan 2012 19:35:52 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8690#comment-15710</guid>
		<description>&#8235;וחוצמזה, מצאתי את אלו- Phantogram https://www.youtube.com/watch?v=KHo5S93cEi0&amp;feature=BFa&amp;list=PL178EB51E76EDEA2C&amp;lf=results_main&#8236;</description> 		<content:encoded><![CDATA[<p>וחוצמזה, מצאתי את אלו- Phantogram <a href="https://www.youtube.com/watch?v=KHo5S93cEi0&#038;feature=BFa&#038;list=PL178EB51E76EDEA2C&#038;lf=results_main" rel="nofollow">https://www.youtube.com/watch?v=KHo5S93cEi0&#038;feature=BFa&#038;list=PL178EB51E76EDEA2C&#038;lf=results_main</a></p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: מארק&#8236;</title>
		<link>https://old.kzradio.net/posts/8690#comment-15709</link>
		<dc:creator>&#8235;מארק&#8236;</dc:creator>		<pubDate>Tue, 24 Jan 2012 19:32:20 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8690#comment-15709</guid>
		<description>&#8235;נהדר! תודה&#8236;</description> 		<content:encoded><![CDATA[<p>נהדר! תודה</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: אסף&#8236;</title>
		<link>https://old.kzradio.net/posts/8690#comment-15708</link>
		<dc:creator>&#8235;אסף&#8236;</dc:creator>		<pubDate>Tue, 24 Jan 2012 18:14:32 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8690#comment-15708</guid>
		<description>&#8235;וגם סינגל ואלבום חדש ל-saint etienne 
בקרוב בהקצה 2.0??
http://soundcloud.com/saint-etienne/05-tonight-download-single&#8236;</description> 		<content:encoded><![CDATA[<p>וגם סינגל ואלבום חדש ל-saint etienne<br />
בקרוב בהקצה 2.0??<br />
<a href="http://soundcloud.com/saint-etienne/05-tonight-download-single" rel="nofollow">http://soundcloud.com/saint-etienne/05-tonight-download-single</a></p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: ענבר&#8236;</title>
		<link>https://old.kzradio.net/posts/8690#comment-15702</link>
		<dc:creator>&#8235;ענבר&#8236;</dc:creator>		<pubDate>Mon, 23 Jan 2012 12:37:04 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8690#comment-15702</guid>
		<description>&#8235;שגעון של בחירות!&#8236;</description> 		<content:encoded><![CDATA[<p>שגעון של בחירות!</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: עמרי&#8236;</title>
		<link>https://old.kzradio.net/posts/8690#comment-15689</link>
		<dc:creator>&#8235;עמרי&#8236;</dc:creator>		<pubDate>Sun, 22 Jan 2012 13:48:05 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8690#comment-15689</guid>
		<description>&#8235;יוזמה אדירה! הלוואי שתחזרו כבר לשדר, חסרה תכנית שתעשה קצת סדר בכל מה שקורה&#8236;</description> 		<content:encoded><![CDATA[<p>יוזמה אדירה! הלוואי שתחזרו כבר לשדר, חסרה תכנית שתעשה קצת סדר בכל מה שקורה</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: שי&#8236;</title>
		<link>https://old.kzradio.net/posts/8690#comment-15688</link>
		<dc:creator>&#8235;שי&#8236;</dc:creator>		<pubDate>Sun, 22 Jan 2012 12:13:37 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8690#comment-15688</guid>
		<description>&#8235;יפה! 
האלבום החדש של אוף מונטיאול נהדר, אך יש בי געגועים לשירי הפופ הקצרים והפחות ניסיוניים שלהם.

לעוד מוזיקה חדשה הצטרפו לעמוד הפייסבוק:
http://www.facebook.com/IndieMusicPage&#8236;</description> 		<content:encoded><![CDATA[<p>יפה!<br />
האלבום החדש של אוף מונטיאול נהדר, אך יש בי געגועים לשירי הפופ הקצרים והפחות ניסיוניים שלהם.</p>
<p>לעוד מוזיקה חדשה הצטרפו לעמוד הפייסבוק:<br />
<a href="http://www.facebook.com/IndieMusicPage" rel="nofollow">http://www.facebook.com/IndieMusicPage</a></p>
]]></content:encoded>
	</item>
</channel>
</rss>
