<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>&#8235;תגובות לפוסט: &#34;שירים שהיינו משדרים אם היתה לנו הלילה תוכנית 4.3.12&#34;&#8236;</title>
	<atom:link href="https://old.kzradio.net/posts/8843/feed" rel="self" type="application/rss+xml" />
	<link>https://old.kzradio.net/posts/8843</link>
	<description>&#8235;הקצפת של המוזיקה &#124;&#124; א\&#039; ו-ג\&#039;, 22:00, גלגל\&#34;צ &#124;&#124; Sun, Tue 22:00 GLGLZ&#8236;</description> 	<lastBuildDate>Wed, 21 Mar 2012 11:13:18 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.3.1</generator>
	<item>
		<title>&#8235;מאת: גדי&#8236;</title>
		<link>https://old.kzradio.net/posts/8843#comment-16454</link>
		<dc:creator>&#8235;גדי&#8236;</dc:creator>		<pubDate>Sat, 10 Mar 2012 12:30:06 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8843#comment-16454</guid>
		<description>&#8235;קווין וקוואמי, כיף לראות את הדיון שלכם. זה אפילו יותר מעניין מהסרט &quot;שני נערות וגביע&quot; ~_~ בכ&quot;מ, אני פשוט בריא &quot;ambassadeurs&quot; כלכך מרגיש ת&#039;סאונד הזה...&#8236;</description> 		<content:encoded><![CDATA[<p>קווין וקוואמי, כיף לראות את הדיון שלכם. זה אפילו יותר מעניין מהסרט &quot;שני נערות וגביע&quot; ~_~ בכ&quot;מ, אני פשוט בריא &quot;ambassadeurs&quot; כלכך מרגיש ת'סאונד הזה&#8230;</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: איתי&#8236;</title>
		<link>https://old.kzradio.net/posts/8843#comment-16334</link>
		<dc:creator>&#8235;איתי&#8236;</dc:creator>		<pubDate>Mon, 05 Mar 2012 15:58:56 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8843#comment-16334</guid>
		<description>&#8235;https://www.youtube.com/watch?v=pSSnvQpAc2c
רק לי זה מרגיש שרג&#039;ינה ספקטור גנבה בהגזמה מתום יורק?&#8236;</description> 		<content:encoded><![CDATA[<p><a href="https://www.youtube.com/watch?v=pSSnvQpAc2c" rel="nofollow">https://www.youtube.com/watch?v=pSSnvQpAc2c</a><br />
רק לי זה מרגיש שרג'ינה ספקטור גנבה בהגזמה מתום יורק?</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: שחר&#8236;</title>
		<link>https://old.kzradio.net/posts/8843#comment-16332</link>
		<dc:creator>&#8235;שחר&#8236;</dc:creator>		<pubDate>Mon, 05 Mar 2012 07:39:09 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8843#comment-16332</guid>
		<description>&#8235;תודה על הבשורות המצוינות (למרות שיהיה קשה לי לסלוח לגראנדדי שדוקא בשנים שהייתי בסיאטל הם מצאו זמן להתפרק :) )וגם על המוזיקה המצוינת.
הייתי שמח אם הייתם שומרים על הפורמט גם כשתחזרו לאויר (כמעט שם!). כששומעים בפעם הראשונה זה כיף לשמוע את ההסברים ולהרגיש את האוירה באולפן, אבל כששומעים בפעם החמישית עם אוזניות בעבודה זה כיף לשמוע רק את המוזיקה :)&#8236;</description> 		<content:encoded><![CDATA[<p>תודה על הבשורות המצוינות (למרות שיהיה קשה לי לסלוח לגראנדדי שדוקא בשנים שהייתי בסיאטל הם מצאו זמן להתפרק <img src='https://old.kzradio.net/wp-includes/images/smilies/icon_smile.gif' alt=':)' class='wp-smiley' />  )וגם על המוזיקה המצוינת.<br />
הייתי שמח אם הייתם שומרים על הפורמט גם כשתחזרו לאויר (כמעט שם!). כששומעים בפעם הראשונה זה כיף לשמוע את ההסברים ולהרגיש את האוירה באולפן, אבל כששומעים בפעם החמישית עם אוזניות בעבודה זה כיף לשמוע רק את המוזיקה <img src='https://old.kzradio.net/wp-includes/images/smilies/icon_smile.gif' alt=':)' class='wp-smiley' /> </p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: שושי&#8236;</title>
		<link>https://old.kzradio.net/posts/8843#comment-16327</link>
		<dc:creator>&#8235;שושי&#8236;</dc:creator>		<pubDate>Sun, 04 Mar 2012 19:00:19 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8843#comment-16327</guid>
		<description>&#8235;כפרה עליכם!
מתה עליכם, מתה.
בלעדיכם אני כלום (נשבעת!)
יאללה תחזרו כבר!!!
(ותודה על הקליפ עם המוסיקה האיכותית.)
:)&#8236;</description> 		<content:encoded><![CDATA[<p>כפרה עליכם!<br />
מתה עליכם, מתה.<br />
בלעדיכם אני כלום (נשבעת!)<br />
יאללה תחזרו כבר!!!<br />
(ותודה על הקליפ עם המוסיקה האיכותית.)<br />
 <img src='https://old.kzradio.net/wp-includes/images/smilies/icon_smile.gif' alt=':)' class='wp-smiley' /> </p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: Quami&#8236;</title>
		<link>https://old.kzradio.net/posts/8843#comment-16326</link>
		<dc:creator>&#8235;Quami&#8236;</dc:creator>		<pubDate>Sun, 04 Mar 2012 16:28:01 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8843#comment-16326</guid>
		<description>&#8235;מר סנדרסון מאד מעסיק אותי מה שכתבת פה היום, אני מאד שמח שהעלת את כל זה. ככל שאני חושב על זה יותר, אני חושב שהצדק עמך. כשטועים טועים, אין לי בעיה להודות בזה. חשבתי בהתחלה לשנות את הטקסט ולהראות את מה שהיה שם קודם, אבל אז נראה לי שזה עדיין יחטא למטרה. אז במקום לכבס, פשוט החלפתי. תודה.&#8236;</description> 		<content:encoded><![CDATA[<p>מר סנדרסון מאד מעסיק אותי מה שכתבת פה היום, אני מאד שמח שהעלת את כל זה. ככל שאני חושב על זה יותר, אני חושב שהצדק עמך. כשטועים טועים, אין לי בעיה להודות בזה. חשבתי בהתחלה לשנות את הטקסט ולהראות את מה שהיה שם קודם, אבל אז נראה לי שזה עדיין יחטא למטרה. אז במקום לכבס, פשוט החלפתי. תודה.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: קווין סנדרסון&#8236;</title>
		<link>https://old.kzradio.net/posts/8843#comment-16325</link>
		<dc:creator>&#8235;קווין סנדרסון&#8236;</dc:creator>		<pubDate>Sun, 04 Mar 2012 14:13:23 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8843#comment-16325</guid>
		<description>&#8235;תודה אור, אתה רק מחזק את הטענה שלי וברור שמטאל זה משעמם אם כל הזמן אומרים עליו שהוא &quot;אנרכוניסטי&quot;, &quot;ילדותי&quot;, &quot;אלים&quot;. הרי שוגייז, אינדירוק, גראנג&#039;, ניו דיסקו ודטרויט טכנו זה שיא האוונגרד! בסצנות האלה הכל תמיד חדש ומרגש ואינטיליגנטי גם כשמדובר בפופ דלוח בתחפושת עאלק &quot;אלטרנטיבית&quot;.
קוואמי, תודה על ההבנה. אני בטוח שהכוונות שלך טובות, אבל אם כבר מכבסים מילים או הגדרות לפחות שיצא לבן (כלומר, שחור, בכל זאת מטאל ומטאל זה בהכרח שחור, חתולים שחוטים ושטניזם וכו&#039;).&#8236;</description> 		<content:encoded><![CDATA[<p>תודה אור, אתה רק מחזק את הטענה שלי וברור שמטאל זה משעמם אם כל הזמן אומרים עליו שהוא &quot;אנרכוניסטי&quot;, &quot;ילדותי&quot;, &quot;אלים&quot;. הרי שוגייז, אינדירוק, גראנג', ניו דיסקו ודטרויט טכנו זה שיא האוונגרד! בסצנות האלה הכל תמיד חדש ומרגש ואינטיליגנטי גם כשמדובר בפופ דלוח בתחפושת עאלק &quot;אלטרנטיבית&quot;.<br />
קוואמי, תודה על ההבנה. אני בטוח שהכוונות שלך טובות, אבל אם כבר מכבסים מילים או הגדרות לפחות שיצא לבן (כלומר, שחור, בכל זאת מטאל ומטאל זה בהכרח שחור, חתולים שחוטים ושטניזם וכו').</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: Quami&#8236;</title>
		<link>https://old.kzradio.net/posts/8843#comment-16324</link>
		<dc:creator>&#8235;Quami&#8236;</dc:creator>		<pubDate>Sun, 04 Mar 2012 13:57:43 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8843#comment-16324</guid>
		<description>&#8235;אור ממש לא האבקות, רק דיון שיש לתת בו את הדעת וטוב שהוא עלה. 
קווין, אני כל כך מסכים איתך שברגע שאהיה מול מחשב, אעשה שינוי בטקסט. הכאה על חטא. 
Bests&#8236;</description> 		<content:encoded><![CDATA[<p>אור ממש לא האבקות, רק דיון שיש לתת בו את הדעת וטוב שהוא עלה.<br />
קווין, אני כל כך מסכים איתך שברגע שאהיה מול מחשב, אעשה שינוי בטקסט. הכאה על חטא.<br />
Bests</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: אור&#8236;</title>
		<link>https://old.kzradio.net/posts/8843#comment-16322</link>
		<dc:creator>&#8235;אור&#8236;</dc:creator>		<pubDate>Sun, 04 Mar 2012 13:24:14 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8843#comment-16322</guid>
		<description>&#8235;קווין, קוואמי, אני מציעה היאבקות בוץ כדי לסכם את הוויכוח.
כיף לקרוא קצת התכתשויות בבלוג רווי החיבוקים והנישוקים הזה. (ואם כבר חיבוקים ונישוקים, תודה על המוזיקה, יפה מצדכם שאתם ממשיכים לטפל בנו גם כשאתם בחופשת לידה)
לטעמי זו לא כל כך סוגיה של אנכרוניזם או אולדסקוליזם, מטאל זה פשוט משעמם.&#8236;</description> 		<content:encoded><![CDATA[<p>קווין, קוואמי, אני מציעה היאבקות בוץ כדי לסכם את הוויכוח.<br />
כיף לקרוא קצת התכתשויות בבלוג רווי החיבוקים והנישוקים הזה. (ואם כבר חיבוקים ונישוקים, תודה על המוזיקה, יפה מצדכם שאתם ממשיכים לטפל בנו גם כשאתם בחופשת לידה)<br />
לטעמי זו לא כל כך סוגיה של אנכרוניזם או אולדסקוליזם, מטאל זה פשוט משעמם.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: קווין סנדרסון&#8236;</title>
		<link>https://old.kzradio.net/posts/8843#comment-16320</link>
		<dc:creator>&#8235;קווין סנדרסון&#8236;</dc:creator>		<pubDate>Sun, 04 Mar 2012 12:52:52 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8843#comment-16320</guid>
		<description>&#8235;יפה, תגובה לעניין. אולי בגלל שלא מצאת את השיר שרצית לשים זה מה שיצא לך לכתוב, אבל באותה מידה שציינת שהם קיימים מתחילת שנות השמונים, יכולת לציין כמה ההרכב הזה משתנה בין האלבומים ולמעשה התחיל בכלל בתור הרכב הרדקור. אם חשוב לך לקדם אותם (או את הז&#039;אנר) אז אתה חוטא למטרה כשאתה קורא לאלבום שלהם &quot;אנרכוניסטי&quot; כי זה רק מנציח את התפיסה הרווחת כלפי הז&#039;אנר הזה ובהמלצה שלך יש פגם כי כל היפסטר זב חוטם יודע ש&quot;אנרכוניסטי&quot; זו מילה שלילית בהקשר של מוזיקה (בשביל זה המציאו &quot;רטרו&quot; ו&quot;אולד-סקול&quot;)&#8236;</description> 		<content:encoded><![CDATA[<p>יפה, תגובה לעניין. אולי בגלל שלא מצאת את השיר שרצית לשים זה מה שיצא לך לכתוב, אבל באותה מידה שציינת שהם קיימים מתחילת שנות השמונים, יכולת לציין כמה ההרכב הזה משתנה בין האלבומים ולמעשה התחיל בכלל בתור הרכב הרדקור. אם חשוב לך לקדם אותם (או את הז'אנר) אז אתה חוטא למטרה כשאתה קורא לאלבום שלהם &quot;אנרכוניסטי&quot; כי זה רק מנציח את התפיסה הרווחת כלפי הז'אנר הזה ובהמלצה שלך יש פגם כי כל היפסטר זב חוטם יודע ש&quot;אנרכוניסטי&quot; זו מילה שלילית בהקשר של מוזיקה (בשביל זה המציאו &quot;רטרו&quot; ו&quot;אולד-סקול&quot;)</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: Quami&#8236;</title>
		<link>https://old.kzradio.net/posts/8843#comment-16318</link>
		<dc:creator>&#8235;Quami&#8236;</dc:creator>		<pubDate>Sun, 04 Mar 2012 11:52:56 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8843#comment-16318</guid>
		<description>&#8235;למה ככה? אני לא תוקף אותך, רק מנהל איתך דיון. לגיטימי ויותר מראוי להעביר ביקורת ואני גם מודה לך עליה. אני בטח לא חושב שאני גאון, די ההפך למעשה, וממש לא רוצה שכולם יגידו או יחשבו את זה, ובאופן כללי טוב לחטוף על הראש כל כמה זמן, בין אם אני אחשוב שמגיע לי או לא. 
לעניינינו- השיר שבעצם רציתי לשים פה הוא canyon man, אחד משני קטעי הבונוס של האלבום, שהוא שיר אדיר בעיני, אבל לא מצאתי לו אף יוטיוב או סטרים. הבחירה השניה שלי מהאלבום היתה the doom,שהוא באמת אחד היותר מורכבים ומעניינים בתקליט אבל גם לו לא מצאתי יוטיוב ומצאתי לו רק סטרים אחד,שבסוף החלטתי לוותר עליו אחרי שראיתי את הקליפ לשיר ששמתי, שהוא גם אחלה של שיר וגם אפשר לראות אותם שם וזה מצא חן בעיני. 
כל זה לא היה רלוונטי בכלל אם היתה לנו כרגע אופציה לשדר, כי אז לא היינו תלויי יוטיוב וסטרימינג נקודתיים, אלא יכולנו לשדר בדיוק את מה שהיינו רוצים כי החומרים אצלינו. וכך גם יהיה ברגע שנחזור לשידור ב1 באפריל. 
אני ממש לא אפולוגטי כשאני שם פה, כשהשמעתי (וכשאשוב להשמיע) מטאל בין שאר הדברים שאני אוהב, מה שכן, מתנצל בלי ציניות אם ביאסתי אותך או כל אחד אחר כשכתבתי ״אנכרוניסטי״ בהקשר לאלבום הזה, בכל אופן המטרה היא והיתה להמליץ ולא ההפך, ואם לא כך זה הובן, אז my bad .&#8236;</description> 		<content:encoded><![CDATA[<p>למה ככה? אני לא תוקף אותך, רק מנהל איתך דיון. לגיטימי ויותר מראוי להעביר ביקורת ואני גם מודה לך עליה. אני בטח לא חושב שאני גאון, די ההפך למעשה, וממש לא רוצה שכולם יגידו או יחשבו את זה, ובאופן כללי טוב לחטוף על הראש כל כמה זמן, בין אם אני אחשוב שמגיע לי או לא.<br />
לעניינינו- השיר שבעצם רציתי לשים פה הוא canyon man, אחד משני קטעי הבונוס של האלבום, שהוא שיר אדיר בעיני, אבל לא מצאתי לו אף יוטיוב או סטרים. הבחירה השניה שלי מהאלבום היתה the doom,שהוא באמת אחד היותר מורכבים ומעניינים בתקליט אבל גם לו לא מצאתי יוטיוב ומצאתי לו רק סטרים אחד,שבסוף החלטתי לוותר עליו אחרי שראיתי את הקליפ לשיר ששמתי, שהוא גם אחלה של שיר וגם אפשר לראות אותם שם וזה מצא חן בעיני.<br />
כל זה לא היה רלוונטי בכלל אם היתה לנו כרגע אופציה לשדר, כי אז לא היינו תלויי יוטיוב וסטרימינג נקודתיים, אלא יכולנו לשדר בדיוק את מה שהיינו רוצים כי החומרים אצלינו. וכך גם יהיה ברגע שנחזור לשידור ב1 באפריל.<br />
אני ממש לא אפולוגטי כשאני שם פה, כשהשמעתי (וכשאשוב להשמיע) מטאל בין שאר הדברים שאני אוהב, מה שכן, מתנצל בלי ציניות אם ביאסתי אותך או כל אחד אחר כשכתבתי ״אנכרוניסטי״ בהקשר לאלבום הזה, בכל אופן המטרה היא והיתה להמליץ ולא ההפך, ואם לא כך זה הובן, אז my bad .</p>
]]></content:encoded>
	</item>
</channel>
</rss>
