<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>&#8235;תגובות לפוסט: &#34;נדב וקוואמי בשידור מיוחד הערב ב20:00 לפני ג&#039;יילס פיטרסון!!!&#34;&#8236;</title>
	<atom:link href="https://old.kzradio.net/posts/7781/feed" rel="self" type="application/rss+xml" />
	<link>https://old.kzradio.net/posts/7781</link>
	<description>&#8235;הקצפת של המוזיקה &#124;&#124; א\&#039; ו-ג\&#039;, 22:00, גלגל\&#34;צ &#124;&#124; Sun, Tue 22:00 GLGLZ&#8236;</description> 	<lastBuildDate>Wed, 21 Mar 2012 11:13:18 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.3.1</generator>
	<item>
		<title>&#8235;מאת: quami&#8236;</title>
		<link>https://old.kzradio.net/posts/7781#comment-13748</link>
		<dc:creator>&#8235;quami&#8236;</dc:creator>		<pubDate>Thu, 03 Nov 2011 14:15:45 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=7781#comment-13748</guid>
		<description>&#8235;העלינו בשעה טובה את ההקלטה+פלייליסט של השידור:
http://tiny.cc/k6ap9&#8236;</description> 		<content:encoded><![CDATA[<p>העלינו בשעה טובה את ההקלטה+פלייליסט של השידור:<br />
<a href="http://tiny.cc/k6ap9" rel="nofollow">http://tiny.cc/k6ap9</a></p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: אור&#8236;</title>
		<link>https://old.kzradio.net/posts/7781#comment-13108</link>
		<dc:creator>&#8235;אור&#8236;</dc:creator>		<pubDate>Sun, 23 Oct 2011 21:29:29 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=7781#comment-13108</guid>
		<description>&#8235;ואללה זה הייתם אתם? היה מעולה. 
העם דורש שידור חוזר.&#8236;</description> 		<content:encoded><![CDATA[<p>ואללה זה הייתם אתם? היה מעולה.<br />
העם דורש שידור חוזר.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: לון&#8236;</title>
		<link>https://old.kzradio.net/posts/7781#comment-13099</link>
		<dc:creator>&#8235;לון&#8236;</dc:creator>		<pubDate>Sun, 23 Oct 2011 20:51:57 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=7781#comment-13099</guid>
		<description>&#8235;אוי. פספסתי. אשמח להקלטה.&#8236;</description> 		<content:encoded><![CDATA[<p>אוי. פספסתי. אשמח להקלטה.</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: ענבל&#8236;</title>
		<link>https://old.kzradio.net/posts/7781#comment-12833</link>
		<dc:creator>&#8235;ענבל&#8236;</dc:creator>		<pubDate>Thu, 20 Oct 2011 21:56:20 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=7781#comment-12833</guid>
		<description>&#8235;יש הקלטה?&#8236;</description> 		<content:encoded><![CDATA[<p>יש הקלטה?</p>
]]></content:encoded>
	</item>
	<item>
		<title>&#8235;מאת: דודי&#8236;</title>
		<link>https://old.kzradio.net/posts/7781#comment-12815</link>
		<dc:creator>&#8235;דודי&#8236;</dc:creator>		<pubDate>Thu, 20 Oct 2011 18:51:03 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=7781#comment-12815</guid>
		<description>&#8235;הקפות שניות!
חבל רק שגיליתי את החדשות המאוד משמחות האלה 20 דקות לפני סוף השידור.&#8236;</description> 		<content:encoded><![CDATA[<p>הקפות שניות!<br />
חבל רק שגיליתי את החדשות המאוד משמחות האלה 20 דקות לפני סוף השידור.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
