<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>תגובות לפוסט: &#34;ה ק צ ה || K Z  R a d i o&#34;</title>
	<atom:link href="https://old.kzradio.net/comments/feed" rel="self" type="application/rss+xml" />
	<link>https://old.kzradio.net</link>
	<description>האתר הישן של הקצה kzradio.net, 2008-2011</description>
	<lastBuildDate>Thu, 21 Feb 2013 16:56:10 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.9.11</generator>
	<item>
		<title>תגובה לפוסט: &#34;יום א&#039; 14.3.2010 + A SOULWAX / 2MANY DJ&#039;S MINI SPECIAL&#34; מאת &#34;הקונכייה &#187; Blog Archive &#187; קופץ לשנייה&#34;</title>
		<link>https://old.kzradio.net/posts/2459#comment-20259</link>
		<dc:creator><![CDATA[הקונכייה &#187; Blog Archive &#187; קופץ לשנייה]]></dc:creator>
		<pubDate>Thu, 21 Feb 2013 16:56:10 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=2459#comment-20259</guid>
		<description><![CDATA[[...] Soulwax לכבוד התקלוט בישראל עם קוואמי. הקצה בגלגלצ, 14.3.2010 הזמנתי את עצמי לתכנית שבזכותה, בעצם, נוצרה הקונכיה, כדי [...]]]></description>
		<content:encoded><![CDATA[<p>[...] Soulwax לכבוד התקלוט בישראל עם קוואמי. הקצה בגלגלצ, 14.3.2010 הזמנתי את עצמי לתכנית שבזכותה, בעצם, נוצרה הקונכיה, כדי [...]</p>
]]></content:encoded>
	</item>
	<item>
		<title>תגובה לפוסט: &#34;שירים שהיינו משדרים אם היתה תוכנית הלילה, 18.3.12&#34; מאת &#34;עמר&#34;</title>
		<link>https://old.kzradio.net/posts/8887#comment-16724</link>
		<dc:creator><![CDATA[עמר]]></dc:creator>
		<pubDate>Wed, 28 Mar 2012 16:02:13 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8887#comment-16724</guid>
		<description><![CDATA[אחלה, תודה! 
אתם צריכים לעשות קומפילציות ב-LOUDLEE]]></description>
		<content:encoded><![CDATA[<p>אחלה, תודה!<br />
אתם צריכים לעשות קומפילציות ב-LOUDLEE</p>
]]></content:encoded>
	</item>
	<item>
		<title>תגובה לפוסט: &#34;שירים שהיינו משדרים אם היתה תוכנית הלילה, 18.3.12&#34; מאת &#34;ענבר&#34;</title>
		<link>https://old.kzradio.net/posts/8887#comment-16696</link>
		<dc:creator><![CDATA[ענבר]]></dc:creator>
		<pubDate>Wed, 21 Mar 2012 11:13:18 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8887#comment-16696</guid>
		<description><![CDATA[ת
ו
ד
ה
:)]]></description>
		<content:encoded><![CDATA[<p>ת<br />
ו<br />
ד<br />
ה<br />
 <img src="https://old.kzradio.net/wp-includes/images/smilies/icon_smile.gif" alt=":)" class="wp-smiley" /> </p>
]]></content:encoded>
	</item>
	<item>
		<title>תגובה לפוסט: &#34;שירים שהיינו משדרים אם היתה תוכנית הלילה, 18.3.12&#34; מאת &#34;מוטי&#34;</title>
		<link>https://old.kzradio.net/posts/8887#comment-16694</link>
		<dc:creator><![CDATA[מוטי]]></dc:creator>
		<pubDate>Tue, 20 Mar 2012 19:12:23 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8887#comment-16694</guid>
		<description><![CDATA[מעולה - סגרתם לי פלייליסט ליומולדת חחח
תודה!]]></description>
		<content:encoded><![CDATA[<p>מעולה &#8211; סגרתם לי פלייליסט ליומולדת חחח<br />
תודה!</p>
]]></content:encoded>
	</item>
	<item>
		<title>תגובה לפוסט: &#34;שירים שהיינו משדרים אם היתה תוכנית הלילה, 18.3.12&#34; מאת &#34;עדי&#34;</title>
		<link>https://old.kzradio.net/posts/8887#comment-16692</link>
		<dc:creator><![CDATA[עדי]]></dc:creator>
		<pubDate>Tue, 20 Mar 2012 11:08:53 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8887#comment-16692</guid>
		<description><![CDATA[תודה]]></description>
		<content:encoded><![CDATA[<p>תודה</p>
]]></content:encoded>
	</item>
	<item>
		<title>תגובה לפוסט: &#34;שירים שהיינו משדרים אם היתה תוכנית הלילה, 18.3.12&#34; מאת &#34;איציק&#34;</title>
		<link>https://old.kzradio.net/posts/8887#comment-16690</link>
		<dc:creator><![CDATA[איציק]]></dc:creator>
		<pubDate>Tue, 20 Mar 2012 09:51:26 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8887#comment-16690</guid>
		<description><![CDATA[תודה תודה,
אבל עכשיו הבנתי מה היה חסר כאן בתקופה האחרונה:
אם אני לא טועה לא היה פה שום דבר ישראלי...
מה אתם אומרים? 
הנה מה שריתק אותי לאוזניות השבוע, ותודה לגיאחה על הלינק
http://doomiloom.bandcamp.com/album/adam-cohen]]></description>
		<content:encoded><![CDATA[<p>תודה תודה,<br />
אבל עכשיו הבנתי מה היה חסר כאן בתקופה האחרונה:<br />
אם אני לא טועה לא היה פה שום דבר ישראלי&#8230;<br />
מה אתם אומרים?<br />
הנה מה שריתק אותי לאוזניות השבוע, ותודה לגיאחה על הלינק<br />
<a href="http://doomiloom.bandcamp.com/album/adam-cohen" rel="nofollow">http://doomiloom.bandcamp.com/album/adam-cohen</a></p>
]]></content:encoded>
	</item>
	<item>
		<title>תגובה לפוסט: &#34;שירים שהיינו משדרים אם היתה תוכנית הלילה, 18.3.12&#34; מאת &#34;ליוי&#34;</title>
		<link>https://old.kzradio.net/posts/8887#comment-16672</link>
		<dc:creator><![CDATA[ליוי]]></dc:creator>
		<pubDate>Mon, 19 Mar 2012 17:28:41 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8887#comment-16672</guid>
		<description><![CDATA[שוב תודה לכם! אתם גדולים. מחכה ומצפה לאתר החדש.
ואם כבר בשירים שצלילי האקדח הופכים להיות בהם חלק מהביט עסקינן:
https://www.youtube.com/watch?v=1hmq1g5eel8]]></description>
		<content:encoded><![CDATA[<p>שוב תודה לכם! אתם גדולים. מחכה ומצפה לאתר החדש.<br />
ואם כבר בשירים שצלילי האקדח הופכים להיות בהם חלק מהביט עסקינן:<br />
<a href="https://www.youtube.com/watch?v=1hmq1g5eel8" rel="nofollow">https://www.youtube.com/watch?v=1hmq1g5eel8</a></p>
]]></content:encoded>
	</item>
	<item>
		<title>תגובה לפוסט: &#34;שירים שהיינו משדרים אם היתה תוכנית הלילה, 18.3.12&#34; מאת &#34;לנגן&#34;</title>
		<link>https://old.kzradio.net/posts/8887#comment-16651</link>
		<dc:creator><![CDATA[לנגן]]></dc:creator>
		<pubDate>Sun, 18 Mar 2012 14:23:30 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8887#comment-16651</guid>
		<description><![CDATA[אדיר. תודה]]></description>
		<content:encoded><![CDATA[<p>אדיר. תודה</p>
]]></content:encoded>
	</item>
	<item>
		<title>תגובה לפוסט: &#34;שירים שהיינו משדרים אם היתה לנו תוכנית הלילה, 22/1/12&#34; מאת &#34;ה ק צ ה &#124;&#124; K Z R a d i o &#187; שירים שהיינו משדרים אם היתה תוכנית הלילה, 18.3.12&#34;</title>
		<link>https://old.kzradio.net/posts/8690#comment-16642</link>
		<dc:creator><![CDATA[ה ק צ ה &#124;&#124; K Z R a d i o &#187; שירים שהיינו משדרים אם היתה תוכנית הלילה, 18.3.12]]></dc:creator>
		<pubDate>Sun, 18 Mar 2012 07:22:35 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8690#comment-16642</guid>
		<description><![CDATA[[...] אחד מהאי.פי. החדש של איש גריזלי בר, דניאל רוזן, שמנו כאן עוד בינואר. עכשיו כשהגיע האי.פי. המלא, כמה לא מפתיע, כולו מוצא חן [...]]]></description>
		<content:encoded><![CDATA[<p>[...] אחד מהאי.פי. החדש של איש גריזלי בר, דניאל רוזן, שמנו כאן עוד בינואר. עכשיו כשהגיע האי.פי. המלא, כמה לא מפתיע, כולו מוצא חן [...]</p>
]]></content:encoded>
	</item>
	<item>
		<title>תגובה לפוסט: &#34;שירים שהיינו משדרים אם הייתה תוכנית הלילה, 5.2.12&#34; מאת &#34;ה ק צ ה &#124;&#124; K Z R a d i o &#187; שירים שהיינו משדרים אם היתה תוכנית הלילה, 18.3.12&#34;</title>
		<link>https://old.kzradio.net/posts/8749#comment-16641</link>
		<dc:creator><![CDATA[ה ק צ ה &#124;&#124; K Z R a d i o &#187; שירים שהיינו משדרים אם היתה תוכנית הלילה, 18.3.12]]></dc:creator>
		<pubDate>Sun, 18 Mar 2012 07:22:18 +0000</pubDate>
		<guid isPermaLink="false">http://www.kzradio.net/?p=8749#comment-16641</guid>
		<description><![CDATA[[...] שירים שהיינו משדרים אם הייתה תוכנית הלילה, 5.2.12 [...]]]></description>
		<content:encoded><![CDATA[<p>[...] שירים שהיינו משדרים אם הייתה תוכנית הלילה, 5.2.12 [...]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
